@model App.Model.Pasajes.Cotizacion
<div class="container">
    <div class="row">
        <div class="col s12 m6 l12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "red-text" })
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Eliminar Cotizacion</span>
                        <div class="row">
                            <table class="table">
                                <tr>
                                    @if (Model.Pasaje.TipoDestino != true)
                                    {
                                        <th>
                                            @Html.DisplayNameFor(model => model.TipoCambio)
                                        </th>
                                    }

                                    <th>
                                        @Html.DisplayNameFor(model => model.FechaTipoCambio)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ValorPasaje)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NombreEmpresa)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => Model.VencimientoCotizacion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => Model.CotizacionDocumento.FirstOrDefault().FileName)
                                    </th>
                                    <th></th>
                                </tr>
                                <tr>
                                    @if (Model.Pasaje.TipoDestino != true)
                                    {
                                        <td>
                                            @Html.DisplayFor(m => Model.TipoCambio)
                                        </td>
                                    }

                                    <td>
                                        @Html.DisplayFor(m => Model.FechaTipoCambio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => Model.ValorPasaje)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => Model.NombreEmpresa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => Model.VencimientoCotizacion)
                                    </td>
                                    <td>
                                        @for (int i = 0; i < Model.CotizacionDocumento.ToArray().Length; i++)
                                        {

                                            <table>
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(m => Model.CotizacionDocumento.ToArray()[i].FileName)

                                                    </td>
                                                </tr>
                                            </table>

                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="section"></div>
                    <p>
                        <button class="waves-effect waves-light btn blue" type="submit">Borrar</button>
                    </p>
                </div>
            }
        </div>
    </div>
</div>
<div class="fixed-action-btn">
    <a href="javascript:history.back()" class="btn-floating btn-large grey"><i class="large material-icons">chevron_left</i></a>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
@*<link href="~/Content/jquery-ui-git.css" rel="stylesheet" />*@

<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
