@model App.Model.Pasajes.Cotizacion
<div class="container">
    <div class="row">
        <div class="col s12 m6 l12">
            @Html.Partial("_Message")
            @*@using (Html.BeginForm("Edit", null, FormMethod.Post, new { enctype = "multipart/form-data" }))*@
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(q => Model.CotizacionId)
                @Html.HiddenFor(q => Model.PasajeId)
                @Html.HiddenFor(q=>Model.Pasaje.WorkflowId)
                @Html.HiddenFor(q => Model.TipoCambio)
                @Html.HiddenFor(q => Model.FechaTipoCambio)
                @Html.HiddenFor(q => Model.Pasaje.TipoDestino)
                @Html.HiddenFor(q => Model.Pasaje.DV)
                @Html.HiddenFor(q => Model.Pasaje.PasajeDescripcion)


                @Html.ValidationSummary(true, "", new { @class = "red-text" })

                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Editar Cotizacion</span>
                        <div class="row">
                            <table class="table">
                                <tr>
                                    @if (Model.Pasaje.TipoDestino != true)
                                    {
                                        <th>
                                            @Html.DisplayNameFor(model => model.TipoCambio)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FechaTipoCambio)
                                        </th>
                                    }
                                    <th>
                                        @Html.DisplayNameFor(model => model.ValorPasaje)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NombreEmpresa)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => Model.VencimientoCotizacion)
                                    </th>
                                    <th></th>
                                </tr>
                                <tr>
                                    @if (Model.Pasaje.TipoDestino != true)
                                    {
                                        <td>
                                            @Html.TextBoxFor(m => Model.TipoCambio)
                                            @Html.ValidationMessageFor(model => model.TipoCambio, "", new { @class = "red-text", disabled = "disabled" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => Model.FechaTipoCambio)
                                            @Html.ValidationMessageFor(model => model.FechaTipoCambio, "", new { @class = "red-text" })

                                        </td>
                                    }
                                    <td>
                                        @Html.EditorFor(m => Model.ValorPasaje)
                                        @Html.ValidationMessageFor(model => model.ValorPasaje, "", new { @class = "red-text" })
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(m => Model.EmpresaAerolineaId, null, "Seleccione...")
                                        @Html.ValidationMessageFor(model => model.EmpresaAerolineaId, "", new { @class = "red-text" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => Model.VencimientoCotizacion)
                                        @Html.ValidationMessageFor(model => model.VencimientoCotizacion, "", new { @class = "red-text" })
                                    </td>
                                </tr>
                                @if (Model.Pasaje.Workflow.DefinicionWorkflow.Secuencia == 5)
                                {
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(m => Model.NumeroOrdenCompra)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(m => Model.ClasePasaje)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(m => Model.FormaAdquisicion)
                                        </th>
                                    </tr>

                                    <tr>
                                        <td>
                                            @Html.TextBoxFor(m => Model.NumeroOrdenCompra)
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(m => Model.ClasePasaje, null, "Seleccione...")
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(m => Model.FormaAdquisicion, null, "Seleccione...")
                                        </td>
                                    </tr>
                                    <tr id="other">
                                        <th></th>
                                        <th id="pas">
                                            @Html.DisplayNameFor(m => Model.OtroPasaje)
                                        </th>
                                        <th id="mecan">
                                            @Html.DisplayNameFor(m => Model.OtroMecanismo)
                                        </th>
                                    </tr>
                                    <tr id="other2">
                                        <td></td>
                                        <td id="pas2">
                                            @Html.TextBoxFor(m => Model.OtroPasaje)
                                        </td>
                                        <td id="mecan2">
                                            @Html.TextBoxFor(m => Model.OtroMecanismo)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(m => Model.FechaAdquisicion)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(m => Model.FechaVuelo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(m => Model.CotizacionDocumento.FirstOrDefault().FileName)
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.TextBoxFor(m => Model.FechaAdquisicion)
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => Model.FechaVuelo)
                                        </td>
                                        <td>
                                            @for (int i = 0; i < Model.CotizacionDocumento.ToArray().Length; i++)
                                            {

                                                <table>
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(m => Model.CotizacionDocumento.ToArray()[i].FileName)
                                                            @*@Html.ValidationMessageFor(model => model.VencimientoCotizacion, "", new { @class = "red-text" })*@

                                                        </td>
                                                    </tr>
                                                </table>

                                            }
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                    <div class="section"></div>
                    <p>
                        <button class="waves-effect waves-light btn blue" type="submit">Guardar</button>
                    </p>
                </div>
            }
        </div>
    </div>
</div>
<div class="fixed-action-btn">
    <a href="javascript:history.back()" class="btn-floating btn-large grey"><i class="large material-icons">chevron_left</i></a>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        jQuery.datetimepicker.setLocale('es');
        jQuery('#FechaTipoCambio,#VencimientoCotizacion,#FechaAdquisicion,#FechaVuelo').datetimepicker({
            i18n: {
                es: {
                    months: [
                        'Enero', 'Febrero', 'Marzo', 'Abril',
                        'Mayo', 'Junio', 'Julio', 'Agosto',
                        'Septiembre', 'Octubre', 'Noviembre', 'Diciembre',
                    ]
                }
            },
            todayButton: true,
            dayOfWeekStart: 1,
            //formatDate: 'd-m-Y',
            timepicker: false,
            //mask: true, format: 'd/m/Y'
        });

        $('select').formSelect();
        $('#other').hide(100);
        $('#other2').hide(100);
        //$('#mecanismo').hide(100);
        //$('#mecanismo2').hide(100);
        $('#pas').hide(100);
        $('#pas2').hide(100);
        $('#mecan').hide(100);
        $('#mecan2').hide(100);
    });
    /*****************************FIN FUNCTION*******************************************************************/
    /*funcion valida subida de archivo pdf*/
    $('input[type="file"]').on('change', function () {
        var ext = $(this).val().split('.').pop();
        if (ext != "pdf") {
            alert("Extensión no permitida: " + ext);
            return false;
            $(this).val() = '';
        }
    });

    $('#ClasePasaje').change(function () {
        var e = document.getElementById("ClasePasaje");
        var f = document.getElementById("FormaAdquisicion");
        if (e.options[e.selectedIndex].text == "Otro (detallar)" && f.options[f.selectedIndex].text != "Otro (detallar)") {
            $('#other').show();
            $('#other2').show();
            $('#pas').show();
            $('#pas2').show();
            $('#mecan').hide(100);
            $('#mecan2').hide(100);
            //$('#mecan').show();
            //$('#mecan2').show();
        }
        else if (e.options[e.selectedIndex].text == "Otro (detallar)" && f.options[f.selectedIndex].text == "Otro (detallar)") {
            $('#other').show();
            $('#other2').show();
            $('#pas').show();
            $('#pas2').show();
            //$('#mecan').hide(100);
            //$('#mecan2').hide(100);
            $('#mecan').show();
            $('#mecan2').show();
        }
        else if (e.options[e.selectedIndex].text != "Otro (detallar)" && f.options[f.selectedIndex].text == "Otro (detallar)") {
            $('#other').show();
            $('#other2').show();
            //$('#pas').show();
            //$('#pas2').show();
            $('#pas').hide(100);
            $('#pas2').hide(100);
            $('#mecan').show();
            $('#mecan2').show();
        }
        else {
            $('#other').hide(100);
            $('#other2').hide(100);
            $('#pas').hide(100);
            $('#pas2').hide(100);
            $('#mecan').hide(100);
            $('#mecan2').hide(100);
        }
    });

    $('#FormaAdquisicion').change(function () {
        var f = document.getElementById("FormaAdquisicion");
        var e = document.getElementById("ClasePasaje");
        if (f.options[f.selectedIndex].text == "Otro (detallar)" && e.options[e.selectedIndex].text != "Otro (detallar)") {
            //$('#mecanismo').show();
            //$('#mecanismo2').show();
            $('#other').show();
            $('#other2').show();
            $('#pas').hide(100);
            $('#pas2').hide(100);
            $('#mecan').show();
            $('#mecan2').show();
        }
        else if (e.options[e.selectedIndex].text == "Otro (detallar)" && f.options[f.selectedIndex].text == "Otro (detallar)") {
            $('#other').show();
            $('#other2').show();
            $('#pas').show();
            $('#pas2').show();
            //$('#mecan').hide(100);
            //$('#mecan2').hide(100);
            $('#mecan').show();
            $('#mecan2').show();
        }
        else if (e.options[e.selectedIndex].text == "Otro (detallar)" && f.options[f.selectedIndex].text != "Otro (detallar)") {
            $('#other').show();
            $('#other2').show();
            $('#pas').show();
            $('#pas2').show();
            $('#mecan').hide(100);
            $('#mecan2').hide(100);
            //$('#mecan').show();
            //$('#mecan2').show();
        }
        else {
            //$('#mecanismo').hide(100);
            //$('#mecanismo2').hide(100);
            $('#other').hide(100);
            $('#other2').hide(100);
            $('#pas').hide(100);
            $('#pas2').hide(100);
            $('#mecan').hide(100);
            $('#mecan2').hide(100);
        }
    });

</script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
@*<link href="~/Content/jquery-ui-git.css" rel="stylesheet" />*@

<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
