@model App.Model.Memorandum.Memorandum

@Html.Action("Header", "Workflow", new { Model.WorkflowId })

@Html.HiddenFor(q => q.WorkflowId)
@Html.HiddenFor(q => q.ProcesoId)

<div class="row">
    <div class="col s12 m6 l3">
        @Html.Action("Sign", "Workflow", new { Model.WorkflowId })
    </div>
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Sistema de Integridad- Denuncia</span>
                <div class="row">
                    <div class="input-field col s12 m10 l3">
                        <strong>


                            @Html.DisplayNameFor(m => Model.FechaSolicitud)
                        </strong><br />
                        @Html.DisplayFor(m => Model.FechaSolicitud)
                    </div>
                    <div class="input-field col s12 m10 l10">
                        <strong>
                            @Html.DisplayNameFor(m => Model.Nombre)
                        </strong><br />
                        @Html.DisplayFor(m => Model.Nombre)
                    </div>
                    <div class="input-field col s12 m10 l3">
                        <strong>
                            @Html.DisplayNameFor(m => Model.Rut)
                        </strong><br />
                        @Html.DisplayFor(m => Model.Rut)
                    </div>
                    <div class="input-field col s12 m10 l1">
                        <strong>
                            @Html.DisplayNameFor(m => Model.DV)
                        </strong><br />
                        @Html.DisplayFor(m => Model.DV)
                    </div>
                    <div class="input-field col s12 m10 l10">
                        <strong>
                            @Html.DisplayNameFor(m => Model.UnidadDescripcion)
                        </strong><br />
                        @Html.DisplayFor(m => Model.UnidadDescripcion)
                    </div>
                    <div class="input-field col s12 m10 l10">
                        <strong>
                            @Html.DisplayNameFor(m => Model.EmailRem)
                        </strong><br />
                        @Html.DisplayFor(m => Model.EmailRem)
                    </div>
                    @*<div class="input-field col s12 m10 l10">
                        <strong>
                            @Html.DisplayNameFor(m => Model.Region)
                        </strong><br />
                        @Html.DisplayFor(m => Model.Region)
                    </div>*@
                    @*<div class="input-field col s12 m10 l10">
                        <strong>
                            @Html.DisplayNameFor(m => Model.Comuna)
                        </strong><br />
                        @Html.DisplayFor(m => Model.Comuna)
                    </div>*@
                    @*<div class="input-field col s12 m10 l10">
                        <strong>
                            @Html.DisplayNameFor(m => Model.NombreDenunciado)
                        </strong><br />
                        @Html.DisplayFor(m => Model.NombreDenunciado)
                    </div>*@
                    @*<div class="input-field col s12 m10 l10">
                        <strong>
                            @Html.DisplayNameFor(m => Model.LugarHechos)
                        </strong><br />
                        @Html.DisplayFor(m => Model.LugarHechos)
                    </div>*@
                    @*<div class="input-field col s12 m10 l10">
                        @Html.TextAreaFor(m => Model.Descripcion, new { @class = "materialize-textarea" })
                        @Html.LabelFor(m => Model.Descripcion)
                        @Html.ValidationMessageFor(m => Model.Descripcion, "", new { @class = "red-text" })
                    </div>*@
                    @*<div class="input-field col s12 m10 l10">
                        @Html.TextAreaFor(m => Model.Antecedentes, new { @class = "materialize-textarea" })
                        @Html.LabelFor(m => Model.Antecedentes)
                        @Html.ValidationMessageFor(m => Model.Antecedentes, "", new { @class = "red-text" })
                    </div>*@
                </div>
            </div>
        </div>
        @Html.Action("Documents", "Workflow", new { Model.WorkflowId })
        @Html.Action("History", "Workflow", new { Model.WorkflowId })
    </div>
</div>

@Html.Action("Footer", "Workflow", new { Model.WorkflowId })

<script type="text/javascript">
    $(document).ready(function () {
        $('.modal').modal();
        //$('select').formSelect();
    });
</script>