@model App.Model.Core.Workflow
@{
    Layout = null;
}

<div class="card">
    <div class="card-content">
        <h3 class="header">Tarea @Model.WorkflowId <text>-</text> @Model.DefinicionWorkflow.Nombre</h3>
        @*<h5 class="light">Proceso @Model.ProcesoId <text>-</text> @Model.DefinicionWorkflow.DefinicionProceso.Nombre</h5>*@
        @if (!Model.DefinicionWorkflow.Instrucciones.IsEmpty())
        {
            <p>
                @Model.DefinicionWorkflow.Instrucciones
            </p>
        }
    </div>
</div>


@*<h3 class="header">Tarea @Model.WorkflowId <text>-</text> @Model.DefinicionWorkflow.Nombre</h3>*@
@*<h5 class="light">Proceso @Model.ProcesoId <text>-</text> @Model.DefinicionWorkflow.DefinicionProceso.Nombre</h5>*@