@model App.Model.Core.Workflow

@{ Layout = null;}

@if (!Model.DefinicionWorkflow.PermitirVerDetalles)
{
    return;
}

<div class="card">
    <div class="card-content">
        <span class="card-title">Historial</span>
        @*<div class="row">

            <div class="input-field col s12 m10">
                <strong>@Html.DisplayNameFor(m => Model.DefinicionWorkflow.Nombre)</strong><br />
                @Html.DisplayFor(m => Model.DefinicionWorkflow.Nombre)<br />
                <strong>@Html.DisplayNameFor(m => Model.Proceso.DefinicionProceso.Nombre)</strong><br />
                @Html.DisplayFor(m => Model.Proceso.DefinicionProceso.Nombre)
            </div>
        </div>*@


        @foreach (var item in Model.Proceso.Workflows.OrderBy(q => q.WorkflowId))
        {
            <div class="section"></div>
            <span class="card-title">
                Tarea @item.WorkflowId: @item.DefinicionWorkflow.Nombre<br />
            </span>
            <h6 class="caption grey-text">
                @String.Format("{0} días, {1} horas, {2} minutos, {3} segundos", item.Span.Days, item.Span.Hours, item.Span.Minutes, item.Span.Seconds)
            </h6>

            <div class="row">
                <div class="input-field col s12 m12 l12">
                    @if (item.TipoAprobacionId == 1)
                    {
                        <i class="material-icons large secondary-content grey-text">history</i>
                    }

                    @if (item.TipoAprobacionId == 2)
                    {
                        <i class="material-icons large secondary-content green-text">check</i>
                        <p class="secondary-content">

                        </p>
                    }
                    @if (item.TipoAprobacionId == 3)
                    {
                        <i class="material-icons large secondary-content red-text">clear</i>
                    }

                    @*<strong>@Html.DisplayNameFor(m => Model.ProcesoId):</strong>
                    @Html.DisplayFor(m => Model.ProcesoId)
                    <br />*@

                    <strong>@Html.DisplayNameFor(m => item.Pl_UndDes):</strong>
                    @Html.DisplayFor(m => item.Pl_UndDes)
                    <br />

                    <strong>@Html.DisplayNameFor(m => item.Email):</strong>
                    @Html.DisplayFor(m => item.Email)
                    <br />

                    <strong>@Html.DisplayNameFor(m => item.FechaCreacion):</strong>
                    @Html.DisplayFor(m => item.FechaCreacion)
                    <br />

                    <strong>@Html.DisplayNameFor(m => item.FechaTermino):</strong>
                    @Html.DisplayFor(m => item.FechaTermino)
                    <br />

                    <strong>@Html.DisplayNameFor(m => item.TipoAprobacionId):</strong>
                    @Html.DisplayFor(m => item.TipoAprobacion.Nombre)
                    <br />


                    @if (!string.IsNullOrWhiteSpace(item.Observacion))
                    {
                        <strong>@Html.DisplayNameFor(m => item.Observacion):</strong>
                        @Html.DisplayFor(m => item.Observacion)
                        <br />
                    }
                </div>

            </div>
        }




        @*<ul class="stepper" id="sortable">
            @foreach (var item in Model.Proceso.Workflows.Where(q => q.WorkflowId < Model.WorkflowId).OrderBy(q => q.WorkflowId))
            {
                <li class="step">
                    <div class="step-title waves-effect">@item.DefinicionWorkflow.Nombre - @item.Email - @item.FechaTermino</div>
                    <div class="step-content">
                        <div class="row">


                            @if (item.TipoAprobacionId == 2)
                            {
                                <i class="material-icons large secondary-content green-text">check</i>
                            }
                            @if (item.TipoAprobacionId == 3)
                            {
                                <i class="material-icons large secondary-content red-text">clear</i>
                            }

                            <strong>@Html.DisplayNameFor(m => item.DefinicionWorkflow.Nombre):</strong>
                            @Html.DisplayFor(m => item.DefinicionWorkflow.Nombre)
                            <br />

                            <strong>@Html.DisplayNameFor(m => item.FechaCreacion):</strong>
                            @Html.DisplayFor(m => item.FechaCreacion)
                            <br />

                            <strong>@Html.DisplayNameFor(m => item.FechaTermino):</strong>
                            @Html.DisplayFor(m => item.FechaTermino)
                            <br />

                            <strong>@Html.DisplayNameFor(m => item.Email):</strong>
                            @Html.DisplayFor(m => item.Email)
                            <br />

                            <strong>@Html.DisplayNameFor(m => item.TipoAprobacionId):</strong>
                            @Html.DisplayFor(m => item.TipoAprobacion.Nombre)

                            <br />
                            <strong>@Html.DisplayNameFor(m => item.Terminada):</strong>
                            @string.Format("{0}", @item.Terminada ? "SI" : "NO")


                            @if (!string.IsNullOrWhiteSpace(item.Observacion))
                            {
                                <br />
                                <strong>@Html.DisplayNameFor(m => item.Observacion):</strong>
                                @Html.DisplayFor(m => item.Observacion)
                            }

                        </div>
                    </div>
                </li>
            }
        </ul>*@

        @*<p>
            <a href='@Url.Action("Details","Proceso", new { id = Model.ProcesoId })' target="_blank">Ver detalles del proceso</a>
        </p>*@

    </div>
</div>

<script src="~/Scripts/materialize-stepper.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<script>
    $(document).ready(function () {
        $('.tooltipped').tooltip({ delay: 50 });
        $('.stepper').activateStepper();
    });
</script>