@model App.Web.Controllers.WorkflowController.DTOFilter
@{
    ViewBag.Title = "Bandeja de tareas";
    ViewBag.SubTitle = "Listado de tareas pendientes";
}

<style>
    .tabs .tab a {
        color: rgb(33, 150, 243)
    }

        .tabs .tab a:hover {
            color: #2196f3;
        }

        .tabs .tab a:focus.active {
            color: #2196f3;
            background-color: rgba(33, 150, 243, 0.10);
        }

    .tabs .indicator {
        background-color: #0094ff;
    }

    .tabs .tab a:hover, .tabs .tab a.active {
        color: #0094ff;
    }
</style>

<meta http-equiv="refresh" content="120">

<div class="grey lighten-3 section">
    <div class="container section">
        <h3 class="header">@ViewBag.Title</h3>
        <h5 class="header light">@ViewBag.SubTitle</h5>
        <div class="section"></div>
    </div>
</div>

<div class="container">
    @Html.Partial("_Message")
    <p class="right truncate grey-text ultra-small">Actualizado al @DateTime.Now</p>

    <ul class="tabs tabs-fixed-width">
        <li class="tab">
            <a class="active" href="#test1">Tareas personales (@Model.TareasPersonales.Count())</a>
        </li>
        <li class="tab">
            <a href="#test2">Tareas grupales (@Model.TareasGrupales.Count())</a>
        </li>
    </ul>

    <div id="test1" class="col s12">
        @if (!Model.TareasPersonales.Any())
        {
            <p>No existen tareas pendientes</p>
        }
        else
        {
            <ul class="collection">
                @foreach (var item in Model.TareasPersonales.OrderByDescending(q => q.WorkflowId))
                {
                <li class="collection-item avatar section">

                    <p class="right truncate grey-text ultra-small">Creada el @item.FechaCreacion</p>

                    @if (item.ProcesoFechaVencimiento.HasValue && DateTime.Now.Date > item.ProcesoFechaVencimiento.Value.Date)
                    {
                        <i class="material-icons circle red large tooltipped" data-position="top" data-delay="50" data-tooltip="@string.Format("Proceso fuera de plazo. Venció el {0}",item.ProcesoFechaVencimiento)"></i>
                    }
                    @if (item.ProcesoFechaVencimiento.HasValue && DateTime.Now.Date == item.ProcesoFechaVencimiento.Value.Date)
                    {
                        <i class="material-icons circle amber accent-4 tooltipped" data-position="top" data-delay="50" data-tooltip="@string.Format("Proceso vencerá el {0}",item.ProcesoFechaVencimiento)"></i>
                    }
                    @if (item.ProcesoFechaVencimiento == null || (item.ProcesoFechaVencimiento.HasValue && DateTime.Now.Date < item.ProcesoFechaVencimiento.Value.Date))
                    {
                        <i class="material-icons circle green accent-4 tooltipped" data-position="top" data-delay="50" data-tooltip="@string.Format("Proceso dentro del plazo. Vencerá el {0}",item.ProcesoFechaVencimiento)"></i>
                    }

                    @if (!string.IsNullOrWhiteSpace(item.Asunto))
                    {
                        @Html.ActionLink(item.Asunto, "Execute", new { id = item.WorkflowId })
                        <br />
                        @Html.ActionLink("Tarea " + item.WorkflowId + ": " + item.Definicion, "Execute", new { id = item.WorkflowId })
                    }
                    else
                    {
                        @Html.ActionLink("Tarea " + item.WorkflowId + ": " + item.Definicion, "Execute", new { id = item.WorkflowId })
                    }

                    <p class="truncate ultra-small">
                        Proceso @Html.DisplayFor(modelItem => item.ProcesoId): @Html.DisplayFor(modelItem => item.ProcesoDefinicion), iniciado por

                        @if (!string.IsNullOrWhiteSpace(item.ProcesoNombreFuncionario))
                        {
                            @Html.DisplayFor(modelItem => item.ProcesoNombreFuncionario)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.ProcesoEmail)
                        }

                    </p>
                    <p class="truncate ultra-small">
                        Asignada a:

                        @if (item.TareaPersonal)
                        {
                            if (!string.IsNullOrWhiteSpace(item.NombreFuncionario))
                            {
                                @Html.DisplayFor(modelItem => item.NombreFuncionario)<text>, </text>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.ProcesoEmail)<text>, </text>
                            }
                        }

                        @if (!string.IsNullOrWhiteSpace(item.Pl_UndDes))
                        {
                            @Html.DisplayFor(modelItem => item.Pl_UndDes)
                        }
                        @if (item.Grupo != null)
                        {
                            @Html.DisplayFor(modelItem => item.Grupo)
                        }

                    </p>

                    @if (item.ProcesoEntidad.Contains("GD"))
                    {
                        <br />
                        @*@Html.Action("Row", "GDExterno", new { item.ProcesoId })*@

                        if (item.GD != null)
                        {
                            <table class="striped">
                                <tbody>
                                    @if (item.GD.FechaIngreso.HasValue)
                                    {
                                        <tr>
                                            <td width="200">Fecha creación:</td>
                                            <td>@item.GD.Fecha</td>
                                        </tr>
                                    }
                                    @if (item.GD.GDOrigen != null)
                                    {
                                        <tr>
                                            <td width="200">Origen:</td>
                                            <td>@item.GD.GDOrigen.Descripcion</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(item.GD.Materia))
                                    {
                                        <tr>
                                            <td width="200">Materia:</td>
                                            <td>@item.GD.Materia</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(item.GD.NumeroExterno))
                                    {
                                        <tr>
                                            <td width="200">Número externo:</td>
                                            <td>@item.GD.NumeroExterno</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(item.GD.Referencia))
                                    {
                                        <tr>
                                            <td width="200">Referencia:</td>
                                            <td>@item.GD.Referencia</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(item.GD.Observacion))
                                    {
                                        <tr>
                                            <td width="200">Observación:</td>
                                            <td>@item.GD.Observacion</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(item.GD.DestinoUnidadDescripcion))
                                    {
                                        <tr>
                                            <td width="200">Destino 1:</td>
                                            <td>
                                                @item.GD.DestinoUnidadDescripcion
                                                @if (!string.IsNullOrWhiteSpace(item.GD.DestinoFuncionarioNombre))
                                                {
                                                    <text>-</text> @item.GD.DestinoFuncionarioNombre
                                                }
                                            </td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(item.GD.DestinoUnidadDescripcion2))
                                    {
                                        <tr>
                                            <td width="200">Destino 2:</td>
                                            <td>
                                                @item.GD.DestinoUnidadDescripcion2
                                                @if (!string.IsNullOrWhiteSpace(item.GD.DestinoFuncionarioNombre2))
                                                {
                                                    <text>-</text> @item.GD.DestinoFuncionarioNombre2
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }

                    }

                    @if (!string.IsNullOrWhiteSpace(@item.Mensaje))
                    {
                        <div class="section">
                            <p class="ultra-small title red-text"> Comentario: @item.Mensaje</p>
                        </div>
                    }

                </li>
                }
            </ul>
        }
    </div>
    <div id="test2" class="col s12">
        @if (!Model.TareasGrupales.Any())
        {
            <p>No existen tareas pendientes</p>
        }
        else
        {
            <ul class="collection">
                @foreach (var item in Model.TareasGrupales.OrderByDescending(q => q.WorkflowId))
                {
                <li class="collection-item avatar section">

                    <p class="right truncate grey-text ultra-small">Creada el @item.FechaCreacion</p>

                    @if (item.ProcesoFechaVencimiento.HasValue && DateTime.Now.Date > item.ProcesoFechaVencimiento.Value.Date)
                    {
                        <i class="material-icons circle red large tooltipped" data-position="top" data-delay="50" data-tooltip="@string.Format("Proceso fuera de plazo. Venció el {0}",item.ProcesoFechaVencimiento)"></i>
                    }
                    @if (item.ProcesoFechaVencimiento.HasValue && DateTime.Now.Date == item.ProcesoFechaVencimiento.Value.Date)
                    {
                        <i class="material-icons circle amber accent-4 tooltipped" data-position="top" data-delay="50" data-tooltip="@string.Format("Proceso vencerá el {0}",item.ProcesoFechaVencimiento)"></i>
                    }
                    @if (item.ProcesoFechaVencimiento == null || (item.ProcesoFechaVencimiento.HasValue && DateTime.Now.Date < item.ProcesoFechaVencimiento.Value.Date))
                    {
                        <i class="material-icons circle green accent-4 tooltipped" data-position="top" data-delay="50" data-tooltip="@string.Format("Proceso dentro del plazo. Vencerá el {0}",item.ProcesoFechaVencimiento)"></i>
                    }

                    @if (!string.IsNullOrWhiteSpace(item.Asunto))
                    {
                        @Html.ActionLink(item.Asunto, "Execute", new { id = item.WorkflowId })
                        <br />
                        @Html.ActionLink("Tarea " + item.WorkflowId + ": " + item.Definicion, "Execute", new { id = item.WorkflowId })
                    }
                    else
                    {
                        @Html.ActionLink("Tarea " + item.WorkflowId + ": " + item.Definicion, "Execute", new { id = item.WorkflowId })
                    }

                    <p class="truncate ultra-small">
                        Proceso @Html.DisplayFor(modelItem => item.ProcesoId): @Html.DisplayFor(modelItem => item.ProcesoDefinicion), iniciado por

                        @if (!string.IsNullOrWhiteSpace(item.ProcesoNombreFuncionario))
                        {
                            @Html.DisplayFor(modelItem => item.ProcesoNombreFuncionario)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.ProcesoEmail)
                        }

                    </p>
                    <p class="truncate ultra-small">
                        Asignada a:

                        @if (item.TareaPersonal)
                        {
                            if (!string.IsNullOrWhiteSpace(item.NombreFuncionario))
                            {
                                @Html.DisplayFor(modelItem => item.NombreFuncionario)<text>, </text>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.ProcesoEmail)<text>, </text>
                            }
                        }

                        @if (!string.IsNullOrWhiteSpace(item.Pl_UndDes))
                        {
                            @Html.DisplayFor(modelItem => item.Pl_UndDes)
                        }
                        @if (item.Grupo != null)
                        {
                            @Html.DisplayFor(modelItem => item.Grupo)
                        }

                    </p>

                    @if (item.ProcesoEntidad.Contains("GD"))
                    {
                        <br />
                        @*@Html.Action("Row", "GDExterno", new { item.ProcesoId })*@
                        if (item.GD != null)
                        {
                            <table class="striped">
                                <tbody>
                                    @if (item.GD.FechaIngreso.HasValue)
                                    {
                                        <tr>
                                            <td width="200">Fecha creación:</td>
                                            <td>@item.GD.Fecha</td>
                                        </tr>
                                    }
                                    @if (item.GD.GDOrigen != null)
                                    {
                                        <tr>
                                            <td width="200">Origen:</td>
                                            <td>@item.GD.GDOrigen.Descripcion</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(item.GD.Materia))
                                    {
                                        <tr>
                                            <td width="200">Materia:</td>
                                            <td>@item.GD.Materia</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(item.GD.NumeroExterno))
                                    {
                                        <tr>
                                            <td width="200">Número externo:</td>
                                            <td>@item.GD.NumeroExterno</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(item.GD.Referencia))
                                    {
                                        <tr>
                                            <td width="200">Referencia:</td>
                                            <td>@item.GD.Referencia</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(item.GD.Observacion))
                                    {
                                        <tr>
                                            <td width="200">Observación:</td>
                                            <td>@item.GD.Observacion</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(item.GD.DestinoUnidadDescripcion))
                                    {
                                        <tr>
                                            <td width="200">Destino 1:</td>
                                            <td>
                                                @item.GD.DestinoUnidadDescripcion
                                                @if (!string.IsNullOrWhiteSpace(item.GD.DestinoFuncionarioNombre))
                                                {
                                                    <text>-</text> @item.GD.DestinoFuncionarioNombre
                                                }
                                            </td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(item.GD.DestinoUnidadDescripcion2))
                                    {
                                        <tr>
                                            <td width="200">Destino 2:</td>
                                            <td>
                                                @item.GD.DestinoUnidadDescripcion2
                                                @if (!string.IsNullOrWhiteSpace(item.GD.DestinoFuncionarioNombre2))
                                                {
                                                    <text>-</text> @item.GD.DestinoFuncionarioNombre2
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    }

                    @if (!string.IsNullOrWhiteSpace(@item.Mensaje))
                    {
                        <div class="section">
                            <p class="ultra-small title red-text"> Comentario: @item.Mensaje</p>
                        </div>
                    }

                </li>
                }
            </ul>
        }
    </div>
</div>
<div class="fixed-action-btn">
    <a href='@Url.Action("Create", "Proceso")' class="btn-floating btn-large blue tooltipped" data-position="left" data-delay="500" data-tooltip="Iniciar nuevo proceso"><i class="large material-icons">add</i></a>
</div>
<script>
    $(document).ready(function () {
        $('.tooltipped').tooltip();
        $('.tabs').tabs();
    });
</script>
