@model App.Model.GestionDocumental.GD

@Html.Action("Header", "Workflow", new { Model.WorkflowId })
<div class="container">

    @Html.Partial("_Message")

    <div class="row">
        <div class="col s12 m6 l5">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Información del ingreso</span>
                    <div class="section"></div>
                    <div class="row">
                        <div class="input-field col s12 m10">
                            <strong>@Html.DisplayNameFor(m => Model.Fecha)</strong><br />
                            @string.Format("{0:dd-MM-yyyy HH:mm:ss}", Model.Fecha)
                        </div>
                        <div class="input-field col s12 m10">
                            <strong>@Html.DisplayNameFor(m => Model.FechaIngreso)</strong><br />
                            @string.Format("{0:dd-MM-yyyy}", Model.FechaIngreso)
                        </div>
                        <div class="input-field col s12 m10">
                            <strong>@Html.DisplayNameFor(m => Model.Materia)</strong><br />
                            @Html.DisplayFor(m => Model.Materia)
                        </div>
                        <div class="input-field col s12 m10">
                            <strong>@Html.DisplayNameFor(m => Model.Referencia)</strong><br />
                            @Html.DisplayFor(m => Model.Referencia)
                        </div>
                        <div class="input-field col s12 m10">
                            <strong>@Html.DisplayNameFor(m => Model.Observacion)</strong><br />
                            @Html.DisplayFor(m => Model.Observacion)
                        </div>
                        <div class="input-field col s12 m12 l12">
                            <div class="switch">
                                <label>
                                    @Html.CheckBoxFor(m => Model.EsReservado)
                                    <span class="lever"></span>
                                    Documentación reservada?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l7">
            @Html.Action("FEADocumentos", "GD", new { ProcesoId = Model.ProcesoId })
            @Html.Action("History", "Workflow", new { Model.WorkflowId })
        </div>
    </div>
</div>

@Html.Action("Footer", "Workflow", new { Model.WorkflowId })

<div id="modalUpload" class="modal">
    <div class="modal-content" style="background-color:white">
        <h4>Adjuntar documento</h4>
        @Html.Action("FEAUpload", new { Model.ProcesoId, Model.WorkflowId })
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.modal').modal();
        $('select').formSelect();
        $('.tooltipped').tooltip();

        $("input[type='hidden']").each(function (index, element) {
            $(this).appendTo($(element).parent());
        });
    });
</script>