@model IEnumerable<App.Model.Core.Documento>
@{
    Layout = null;
}

<div class="card">
    <div class="card-content">

        <div class="row">
            <div class="col l9">
                <span class="card-title">Documentos</span>
            </div>
            <div class="col l3">
                <div class="switch">
                    <label>
                        @Html.CheckBox("Preview", true)
                        <span class="lever"></span>
                        Previsualizar
                    </label>
                </div>
            </div>
        </div>

        @foreach (var item in Model)
        {
            <div class="divider">
            </div>

            <div class="row">
                <div class="col s12 m12 l12">
                    @if (@item.Signed)
                    {
                        <i class="material-icons medium right green-text">lock_outline</i>
                    }
                    <h6>
                        <i class="material-icons ">attach_file</i>
                        <a href="@Url.Action("Download", "Documento", new { id = item.DocumentoId })">@item.FileName</a>
                    </h6>
                    <em>
                        Creado por @item.Email el @item.Fecha
                    </em>
                </div>

                <div class="col s12 m12 l12">
                    <br />
                    <label>Tipo documento:</label><br />
                    @item.TipoDocumentoFirma<br />

                    <label>Autor:</label><br />
                    @item.Email<br />

                    @if (!string.IsNullOrWhiteSpace(item.Descripcion))
                    {
                        <label>Descripción:</label><br />
                        @item.Descripcion
                    }
                </div>

                <div class="pdfPreview">
                    <div class="col s12 m12 l12">
                        <br />
                        @if (!string.IsNullOrWhiteSpace(item.Type) && item.Type.Contains("pdf") && item.File != null)
                        {
                            <embed src="@Url.Action("Show", "Documento", new { id = item.DocumentoId })" type="application/pdf" width="100%" height="300px"></embed>
                        }
                    </div>
                </div>

                <div class="col s12 m12 l12">
                    <br />

                    @if (!@item.Proceso.Terminada && @item.RequiereFirmaElectronica && item.AutorizadoParaFirma && !item.Signed)
                    {
                        @*<p class="grey-text ultra-small">Para firma de @item.FirmanteEmail</p>*@
                        <a class="waves-effect waves-light btn modal-trigger btn blue" href="#@string.Concat("modalFirmaDocumento",@item.DocumentoId)">Firmar</a>

                        <div id="@string.Concat("modalFirmaDocumento",@item.DocumentoId)" class="modal">
                            <div class="modal-content">
                                <h4>Confirmación</h4>
                                <p>¿ Confirma la operación de firma electrónica del documento?</p>
                            </div>
                            <div class="modal-footer m1">
                                @using (Html.BeginForm("Sign", "Documento", new { id = item.DocumentoId }, FormMethod.Post, null))
                                {
                                    @Html.AntiForgeryToken()
                                    <button class="waves-effect waves-light btn blue" type="submit">Confirmar</button>
                                    <a href="#!" class="modal-close waves-effect btn grey">Cancelar</a>
                                }
                            </div>
                        </div>
                    }

                    <a class="waves-effect waves-light btn modal-trigger btn red" href="#@string.Concat("modalDeleteDocumento",@item.DocumentoId)">Eliminar</a>
                    <div id="@string.Concat("modalDeleteDocumento",@item.DocumentoId)" class="modal">
                        <div class="modal-content">
                            <h4>Confirmación</h4>
                            <p>¿ Confirma la eliminación del documento?</p>
                        </div>
                        <div class="modal-footer m1">
                            @using (Html.BeginForm("DeleteDocument", "GDExterno", new { id = item.DocumentoId }, FormMethod.Post, null))
                            {
                                @Html.AntiForgeryToken()
                                <button class="waves-effect waves-light btn red" type="submit">Confirmar</button>
                                <a href="#!" class="modal-close waves-effect btn grey">Cancelar</a>
                            }
                        </div>
                    </div>


                </div>
            </div>
        }
    </div>
</div>

<script>
    $('#Preview').change(function () {
        var isChecked = $(this).is(':checked');
        $(".pdfPreview").attr('hidden', !this.checked);
    });
</script>