@model IEnumerable<App.Model.Core.Workflow>

@{ Layout = null;}

<div class="card">
    <div class="card-content">
        <span class="card-title">Historial</span>

        <table class="table table-responsive bordered" id="dt">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Tarea
                    </th>
                    <th>
                        Inicio
                    </th>
                    <th>
                        Término
                    </th>
                    <th>
                        Días permanencia
                    </th>
                    <th>
                        Funcionario
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Observación
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                         <td>
                            @Html.DisplayFor(modelItem => item.WorkflowId)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.DefinicionWorkflow.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaCreacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaTermino)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiasPromedioPermanencia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreFuncionario) <br />
                            <span class="grey-text">@Html.DisplayFor(modelItem => item.Pl_UndDes)</span><br />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoAprobacion.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observacion)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>