@model App.Model.Comisiones.GeneracionCDPComision

<h3>Crear Generacion CDP</h3>

<div class="row">
    <div class="col s12 m6 l12">
        <div class="card">
            <span class="card-title" style="font-weight: bold">Viaticos</span>
            <div class="card-content">
                @using (Html.BeginForm("Create", "GeneracionCDP", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(q => Model.ComisionesId)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "red-text" })
                    if (Model.Comisiones.SolicitaViatico == true)
                    { 
                <div id="dvViaticos">
                    <div class="input-field col s12 m6 l3">
                        @Html.DropDownListFor(m => Model.VtcTipoPartidaId, null, "Seleccione...")
                        @Html.LabelFor(m => Model.VtcTipoPartidaId)
                        @Html.ValidationMessageFor(m => Model.VtcTipoPartidaId, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m6 l3">
                        @Html.TextBoxFor(m => Model.VtcIdCompromiso, new { @placeholder = "Ingrese valor para el Compromiso del viatico" })
                        @Html.LabelFor(m => Model.VtcIdCompromiso)
                        @Html.ValidationMessageFor(m => Model.VtcIdCompromiso, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m6 l3">
                        @Html.DropDownListFor(m => Model.VtcTipoCapituloId, null, "Seleccione...")
                        @Html.LabelFor(m => Model.VtcTipoCapituloId)
                        @Html.ValidationMessageFor(m => Model.VtcTipoCapituloId, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m6 l3">
                        @Html.TextBoxFor(m => Model.VtcPptoTotal, new { @placeholder = "Ingrese valor para el Presupuesto Total del viatico" })
                        @Html.LabelFor(m => Model.VtcPptoTotal)
                        @Html.ValidationMessageFor(m => Model.VtcPptoTotal, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m6 l3">
                        @Html.DropDownListFor(m => Model.VtcCentroCostoId, null, "Seleccione...")
                        @Html.LabelFor(m => Model.VtcCentroCostoId)
                        @Html.ValidationMessageFor(m => Model.VtcCentroCostoId, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m6 l3">
                        @Html.TextBoxFor(m => Model.VtcObligacionActual, new { @placeholder = "Ingrese valor para la Obligacion Actual del viatico" })
                        @Html.LabelFor(m => Model.VtcObligacionActual)
                        @Html.ValidationMessageFor(m => Model.VtcObligacionActual, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m6 l3">
                        @Html.DropDownListFor(m => Model.VtcTipoSubTituloId, null, "Seleccione...")
                        @Html.LabelFor(m => Model.VtcTipoSubTituloId)
                        @Html.ValidationMessageFor(m => Model.VtcTipoSubTituloId, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m6 l3">
                        @Html.TextBoxFor(m => Model.VtcSaldo, new { @placeholder = "Ingrese valor para la Saldo del viatico" })
                        @Html.LabelFor(m => Model.VtcSaldo)
                        @Html.ValidationMessageFor(m => Model.VtcSaldo, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m6 l3">
                        @Html.DropDownListFor(m => Model.VtcTipoItemId, null, "Seleccione...")
                        @Html.LabelFor(m => Model.VtcTipoItemId)
                        @Html.ValidationMessageFor(m => Model.VtcTipoItemId, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m6 l3">
                        @Html.TextBoxFor(m => Model.VtcValorViatico, new { @placeholder = "Ingrese valor para el Valor del viatico" })
                        @Html.LabelFor(m => Model.VtcValorViatico)
                        @Html.ValidationMessageFor(m => Model.VtcValorViatico, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m6 l3">
                        @Html.DropDownListFor(m => Model.VtcTipoAsignacionId, null, "Seleccione...")
                        @Html.LabelFor(m => Model.VtcTipoAsignacionId)
                        @Html.ValidationMessageFor(m => Model.VtcTipoAsignacionId, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m6 l3">
                        @Html.DropDownListFor(m => Model.VtcTipoSubAsignacionId, null, "Seleccione...")
                        @Html.LabelFor(m => Model.VtcTipoSubAsignacionId)
                        @Html.ValidationMessageFor(m => Model.VtcTipoSubAsignacionId, "", new { @class = "red-text" })
                    </div>

                </div>
                    }
                    <br />
                    <div class="section"></div>
                    if (Model.Comisiones.ReqPasajeAereo == true)
                    {
                        <div id="dvPasajes">
                            <span class="card-title" style="font-weight: bold">Pasajes</span>
                            <div class="input-field col s12 m6 l3">
                                @Html.DropDownListFor(m => Model.PsjTipoPartidaId, null, "Seleccione...")
                                @Html.LabelFor(m => Model.PsjTipoPartidaId)
                                @Html.ValidationMessageFor(m => Model.PsjTipoPartidaId, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m6 l3">
                                @Html.DropDownListFor(m => Model.PsjVtcTipoCapituloId, null, "Seleccione...")
                                @Html.LabelFor(m => Model.PsjVtcTipoCapituloId)
                                @Html.ValidationMessageFor(m => Model.PsjVtcTipoCapituloId, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m6 l3">
                                @Html.DropDownListFor(m => Model.PsjCentroCostoId, null, "Seleccione...")
                                @Html.LabelFor(m => Model.PsjCentroCostoId)
                                @Html.ValidationMessageFor(m => Model.PsjCentroCostoId, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m6 l3">
                                @Html.DropDownListFor(m => Model.PsjTipoSubTituloId, null, "Seleccione...")
                                @Html.LabelFor(m => Model.PsjTipoSubTituloId)
                                @Html.ValidationMessageFor(m => Model.PsjTipoSubTituloId, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m6 l3">
                                @Html.DropDownListFor(m => Model.PsjTipoItemId, null, "Seleccione...")
                                @Html.LabelFor(m => Model.PsjTipoItemId)
                                @Html.ValidationMessageFor(m => Model.PsjTipoItemId, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m6 l3">
                                @Html.DropDownListFor(m => Model.PsjTipoAsignacionId, null, "Seleccione...")
                                @Html.LabelFor(m => Model.PsjTipoAsignacionId)
                                @Html.ValidationMessageFor(m => Model.PsjTipoAsignacionId, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m6 l3">
                                @Html.DropDownListFor(m => Model.PsjTipoSubAsignacionId, null, "Seleccione...")
                                @Html.LabelFor(m => Model.PsjTipoSubAsignacionId)
                                @Html.ValidationMessageFor(m => Model.PsjTipoSubAsignacionId, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m6 l3">
                                @Html.TextBoxFor(m => Model.PsjIdCompromiso, new { @placeholder = "Ingrese valor para el Compromiso del viatico" })
                                @Html.LabelFor(m => Model.PsjIdCompromiso)
                                @Html.ValidationMessageFor(m => Model.PsjIdCompromiso, "", new { @class = "red-text" })
                            </div>
                            @*<div class="input-field col s12 m6 l3">
                                @Html.TextBoxFor(m => Model.PsjCodCompromiso, new { @placeholder = "Ingrese valor para el Codigo Compromiso del viatico" })
                                @Html.LabelFor(m => Model.PsjCodCompromiso)
                                @Html.ValidationMessageFor(m => Model.PsjCodCompromiso, "", new { @class = "red-text" })
                            </div>*@
                            <div class="input-field col s12 m6 l3">
                                @Html.TextBoxFor(m => Model.PsjPptoTotal, new { @placeholder = "Ingrese valor para el Presupuesto Total del viatico" })
                                @Html.LabelFor(m => Model.PsjPptoTotal)
                                @Html.ValidationMessageFor(m => Model.PsjPptoTotal, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m6 l3">
                                @Html.TextBoxFor(m => Model.PsjCompromisoAcumulado, new { @placeholder = "Ingrese valor para el Compromiso del viatico" })
                                @Html.LabelFor(m => Model.PsjCompromisoAcumulado)
                                @Html.ValidationMessageFor(m => Model.PsjCompromisoAcumulado, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m6 l3">
                                @Html.TextBoxFor(m => Model.PsjObligacionActual, new { @placeholder = "Ingrese valor para la Obligacion Actual del viatico" })
                                @Html.LabelFor(m => Model.PsjObligacionActual)
                                @Html.ValidationMessageFor(m => Model.PsjObligacionActual, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m6 l3">
                                @Html.TextBoxFor(m => Model.PsjSaldo, new { @placeholder = "Ingrese valor para la Saldo del viatico" })
                                @Html.LabelFor(m => Model.PsjSaldo)
                                @Html.ValidationMessageFor(m => Model.PsjSaldo, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m6 l3">
                                @Html.TextBoxFor(m => Model.PsjValorViatico, new { @placeholder = "Ingrese valor para el Valor del viatico" })
                                @Html.LabelFor(m => Model.PsjValorViatico)
                                @Html.ValidationMessageFor(m => Model.PsjValorViatico, "", new { @class = "red-text" })
                            </div>
                        </div>
                    }

                    <p>
                        <button class="waves-effect waves-light btn blue" type="submit">Guardar</button>
                    </p>

                }
            </div>

        </div>
    </div>
</div>
    <div class="fixed-action-btn">
        <a href="javascript:history.back()" class="btn-floating btn-large grey"><i class="large material-icons">chevron_left</i></a>
    </div>

    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>

            <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/Content/jquery-ui-git.css" rel="stylesheet" />
   
    @*<script type="text/javascript">
            $(document).ready(function () {
                $('input:hidden').each(function (index, element) {
                    $(element).appendTo($(element).parent());
                });
            });
        </script>*@