@model IEnumerable<App.Model.Comisiones.GeneracionCDPComision>
<div class="container">
    <h3>Tipo Asignacion</h3>
    <div class="card">
        <div class="card-content">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GeneracionCDPComisionId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PsjVtcTipoCapituloId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PsjVtcTipoCapituloId)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GeneracionCDPId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PsjVtcTipoCapituloId)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<div class="fixed-action-btn">
    <a href='@Url.Action("Create")' class="btn-floating btn-large blue tooltipped" data-position="left" data-delay="500" data-tooltip="Agregar nuevo elemento"><i class="large material-icons">add</i></a>
</div>
@*<br />
    <div class="fixed-action-btn">
        <a href="javascript:history.back()" class="btn-floating btn-large grey"><i class="large material-icons">chevron_left</i></a>
    </div>*@
