@model App.Model.Core.Rubrica

@{
    ViewBag.Title = "Rúbricas";
    ViewBag.SubTitle = "Rúbricas";
}
<div class="grey lighten-3">
    <div class="section container ">
        <h3 class="header">@ViewBag.Title</h3>
        <h5 class="header light">@ViewBag.SubTitle</h5>
        <br />
    </div>
</div>
<div class="container">
    @Html.Partial("_Message")
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(q => Model.RubricaId)

        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s12 m10 l10">
                        @Html.EditorFor(m => Model.Email)
                        @Html.LabelFor(m => Model.Email)
                        @Html.ValidationMessageFor(m => Model.Email, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m10 l10">
                        @Html.DropDownListFor(m => Model.IdentificadorFirma, null, "Seleccione...")
                        @Html.LabelFor(m => Model.IdentificadorFirma)
                        @Html.ValidationMessageFor(m => Model.IdentificadorFirma, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m10 l10">
                        @Html.EditorFor(m => Model.UnidadOrganizacional)
                        @Html.LabelFor(m => Model.UnidadOrganizacional)
                        @Html.ValidationMessageFor(m => Model.UnidadOrganizacional, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m4 l3">
                        <label>
                            @Html.CheckBoxFor(m => Model.HabilitadoFirma)
                            <span>@Html.LabelFor(m => Model.HabilitadoFirma)</span>
                        </label>
                    </div>
                </div>
                <div class="section"></div>
                <button class="waves-effect waves-light btn blue" type="submit">Aceptar</button>
            </div>
        </div>
    }
</div>
<div class="fixed-action-btn">
    <a href="javascript:history.back()" class="btn-floating btn-large grey"><i class="large material-icons">chevron_left</i></a>
</div>

<script>
    $(document).ready(function () {
        $('select').formSelect();
    })
</script>