@model IEnumerable<App.Model.CDP.CDP>

<h3>CDP</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstitucionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CDPTipoSolicitudId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CDPBienId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSolicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcesoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkflowId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailSolicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailSecretariaAsistente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailSuperiorDirector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAutorizador)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstitucionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CDPTipoSolicitudId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CDPBienId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Solicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaSolicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcesoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkflowId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailSolicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailSecretariaAsistente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailSuperiorDirector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAutorizador)
        </td>
        <td>
            @Html.ActionLink("Detalles", "View", new { id=item.CDPId }) |
        </td>
    </tr>
}

</table>
