@model App.Model.GestionDocumental.GD

@Html.Action("Header", "Workflow", new { Model.WorkflowId })

<div class="row">
    <div class="col s12 m6 l3">
        @using (Html.BeginForm("Edit", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(q => Model.GDIngresoId)
            @Html.HiddenFor(q => Model.WorkflowId)
            @Html.HiddenFor(q => Model.ProcesoId)
            @Html.HiddenFor(model => model.OrganizacionId)
            @Html.HiddenFor(model => model.Pl_UndCod)
            @Html.HiddenFor(model => model.UsuarioDestino)

            @Html.AntiForgeryToken()

            <div class="card">
                <div class="card-content">
                    <span class="card-title">Ingreso documental</span>
                    <div class="row">

                        <div class="input-field col s12 m10 l12">
                            @if (Model.BarCode != null)
                            {
                                <img id="barcodeimage" src="data:image;base64,@System.Convert.ToBase64String(Model.BarCode)" /><br />
                            }
                            <p class="card-title">@Html.DisplayFor(m => Model.Folio)</p>
                        </div>

                        @*<div class="input-field col s12 m10 l12">
                            @Html.DropDownListFor(m => Model.GDTipoIngresoId, null, "Seleccione...")
                            @Html.LabelFor(m => Model.GDTipoIngresoId)
                            @Html.ValidationMessageFor(m => Model.GDTipoIngresoId, "", new { @class = "red-text" })
                        </div>*@
                        <div class="input-field col s12 m8 l12">
                            @Html.DropDownListFor(m => m.Pl_UndCod, null, "Seleccione...")
                            @Html.LabelFor(m => Model.Pl_UndCod)
                            @Html.ValidationMessageFor(m => Model.Pl_UndCod, "", new { @class = "red-text" })
                        </div>
                        <div class="input-field col s12 m8 l12">
                            @Html.DropDownListFor(model => model.UsuarioDestino, null, "Seleccione...")
                            @Html.LabelFor(m => Model.UsuarioDestino)
                            @Html.ValidationMessageFor(m => Model.UsuarioDestino, "", new { @class = "red-text" })
                        </div>

                        <div id="PanelRazonSocial">
                            <div class="input-field col s12 m8 l12">
                                @Html.TextBoxFor(m => Model.RazonSocial, new { @placeholder = "Ingrese registro o razón social" })
                                @Html.LabelFor(m => Model.RazonSocial)
                                @Html.ValidationMessageFor(m => Model.RazonSocial, "", new { @class = "red-text" })
                            </div>
                        </div>

                        <div class="input-field col s12 m10 l12">
                            @Html.LabelFor(m => Model.Asunto)
                            @Html.TextAreaFor(m => Model.Asunto, new { @class = "materialize-textarea" })
                            @Html.ValidationMessageFor(m => Model.Asunto, "", new { @class = "red-text" })
                        </div>
                        <div class="input-field col s12 m10 l12">
                            @Html.LabelFor(m => Model.Referencia)
                            @Html.TextAreaFor(m => Model.Referencia, new { @class = "materialize-textarea" })
                            @Html.ValidationMessageFor(m => Model.Referencia, "", new { @class = "red-text" })
                        </div>
                        <div class="input-field col s12 m10 l12">
                            @Html.LabelFor(m => Model.Descripcion)
                            @Html.TextAreaFor(m => Model.Descripcion, new { @class = "materialize-textarea" })
                            @Html.ValidationMessageFor(m => Model.Descripcion, "", new { @class = "red-text" })
                        </div>
                    </div>

                    <p>
                        <button class="waves-effect waves-light btn blue" type="submit">Guardar</button>
                        <button class="waves-effect waves-light btn blue" type="submit">Imprimir etiqueta</button>
                    </p>
                </div>
            </div>
        }
    </div>
    <div class="col s12 m6 l3">
        @Html.Action("Documents", "Workflow", new { Model.WorkflowId })
        @Html.Action("History", "Workflow", new { Model.WorkflowId })
    </div>
</div>

@Html.Action("Footer", "Workflow", new { Model.WorkflowId })

<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker();
        $('select').formSelect();
        $('input:hidden').each(function (index, element) {
            $(element).appendTo($(element).parent());
        });


        var Pl_UndCod = document.getElementById('Pl_UndCod').value;
        if (Pl_UndCod == 201010) {
            $("#PanelRazonSocial").show();
        }
        else {
            $("#PanelRazonSocial").hide();
        }

        //Al cambiar unidad traer funcionarios
        $("#Pl_UndCod").change(function (){
            var Pl_UndCod = $(this).val();
            $.getJSON("/Workflow/GetUserByUnidad", { Pl_UndCod: Pl_UndCod },
                function (classesData) {
                    var select = $("#UsuarioDestino");
                    select.empty();
                    select.append($('<option/>', {
                        value: "",
                        text: "Seleccione..."
                    }));
                    $.each(classesData, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Email,
                            text: itemData.Nombre
                        }));
                    });
                    $('#UsuarioDestino').formSelect();
                });

            //obtener barcode
            @*var Pl_UndCod = $(this).val();
            var GDTipoIngresoId = document.getElementById('GDTipoIngresoId').value;

            var link = '@Url.Action("GetBarCode", "Documento", new { Pl_UndCod = "ParPl_UndCod", GDTipoIngresoId = "ParGDTipoIngresoId" })';
            link = link.replace("ParPl_UndCod", Pl_UndCod);
            link = link.replace("ParGDTipoIngresoId", GDTipoIngresoId);
            document.getElementById("barcodeimage").src = link;*@

            //ver ocultar panel organizacion
            var Pl_UndCod = document.getElementById('Pl_UndCod').value;
            if (Pl_UndCod == 201010) {
                $("#PanelRazonSocial").show();
            }
            else {
                $("#PanelRazonSocial").hide();
            }
        });

        //Al buscar organizaciones
        $("#RazonSocial").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/GDIngreso/GetOrganizacion/",
                    data: { term: request.term },
                    type: "POST",
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return { id: item.id, value: item.value };
                            }));
                    }
                });
            },

            select: function (event, ui) {
                $("#RazonSocial").val(ui.item.value);
                $("#OrganizacionId").val(ui.item.id);
                return false;
            }
        });



    });
</script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui-git.css" rel="stylesheet" />