@model App.Model.Core.Consulta

@Html.Action("Header", "Workflow", new { Model.WorkflowId })

<div class="container">
    @Html.Partial("_Message")

    <div class="row">
        <div class="col s12 m10 l8">
            @Html.HiddenFor(m => m.ConsultaId)
            @Html.HiddenFor(m => m.ProcesoId)
            @Html.HiddenFor(m => m.WorkflowId)

            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="input-field col s12 m6 l6">
                            <strong>@Html.DisplayNameFor(m => m.Fecha)</strong>
                            @Html.DisplayFor(m => m.Fecha)
                        </div>
                    </div>
                    <ul class="collapsible popout">
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">account_box</i>
                                <span style="font-weight: bold">Informacion Funcionario</span>
                            </div>
                            <div class="collapsible-body">
                                @*<div class="row">
                                        <div class="input-field col s12">
                                            <strong>@Html.DisplayNameFor(m => m.Nombre)</strong>
                                            @Html.DisplayFor(m => m.Nombre)
                                        </div>
                                    </div>*@
                                <div class="row">
                                    <div class="input-field col s4">
                                        <strong>@Html.DisplayNameFor(m => m.Rut)</strong>
                                        @Html.DisplayFor(m => m.Rut)
                                    </div>
                                    <div class="input-field col s4">
                                        <strong>@Html.DisplayNameFor(m => m.DV)</strong>
                                        @Html.DisplayFor(m => m.DV)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                            <strong>@Html.DisplayNameFor(m => m.Unidad)</strong>
                                            @Html.DisplayFor(m => m.Unidad)
                                        </div>
                                        @*<div class="input-field col s6">
                                            <strong>@Html.DisplayNameFor(m => m.Email)</strong>
                                            @Html.DisplayFor(m => m.Email)
                                        </div>*@
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">assignment</i>
                                <span style="font-weight: bold">Datos de Consulta</span>
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12">
                                        <p><strong>@Html.DisplayNameFor(m => m.CampoPrivacidad)</strong></p>
                                        <label>
                                            @Html.RadioButtonFor(m => m.CampoPrivacidad, true, new { @disabled = "disabled" })
                                            <span>Si</span>
                                        </label>
                                        <label>
                                            @Html.RadioButtonFor(m => m.CampoPrivacidad, false, new { @disabled = "disabled" })
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <p><strong>@Html.DisplayNameFor(m => m.TipoRespuesta)</strong></p>
                                        <label>
                                            @*<input class="with-gap" name="TRespuesta" type="radio" value="CorreoElectronico" />*@
                                            @Html.RadioButtonFor(m => m.CorreoElectronico, true, new { @disabled = "disabled" })
                                            <span>CORREO ELECTRÓNICO</span>
                                        </label>
                                        <label>
                                            @*<input class="with-gap" name="TRespuesta" type="radio" value="CorreoPostal" />*@
                                            @Html.RadioButtonFor(m => m.CorreoPostal, true, new { @disabled = "disabled" })
                                            <span>CORREO POSTAL</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="postal">
                                    <div class="row">
                                        <div class="col s12">
                                            <strong>@Html.DisplayNameFor(m => m.Direccion)</strong>
                                            @Html.DisplayFor(m => m.Direccion)
                                        </div>
                                        <div class="col s12">
                                            <strong>@Html.DisplayNameFor(m => m.Numero)</strong>
                                            @Html.DisplayFor(m => m.Numero)
                                        </div>
                                        <div class="col s12">
                                            <strong>@Html.DisplayNameFor(m => m.DeptoOficina)</strong>
                                            @Html.DisplayFor(m => m.DeptoOficina)
                                        </div>
                                        <div class="col s12">
                                            <strong>@Html.DisplayNameFor(m => m.Comuna)</strong>
                                            @Html.DisplayFor(m => m.Comuna)
                                        </div>
                                    </div>
                                </div>
                                <div class="correo">
                                    <div class="row">
                                        <div class="col s12">
                                            <strong>
                                                @Html.DisplayNameFor(m => m.Email)
                                            </strong>
                                            @Html.EditorFor(m => m.Email)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <strong>
                                            @Html.DisplayNameFor(m => m.ConsultaIntegridad)
                                        </strong>
                                        @Html.TextAreaFor(m => m.ConsultaIntegridad, new { @class = "materialize-textarea", @disabled="disabled" })
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col s4">
            @Html.Action("Documents", "Workflow", new { Model.WorkflowId })
            @Html.Action("History", "Workflow", new { Model.WorkflowId })
        </div>
    </div>
    @Html.Action("Footer", "Workflow", new { Model.WorkflowId })
</div>

<script>
    $('.correo').hide(100);
    $('.postal').hide(100);

    $(document).ready(function () {
        $('.collapsible').collapsible();
    });

    if (document.getElementById("CorreoElectronico").checked == true) {
        $('.postal').hide(100);
        $('.correo').show();
        document.getElementById("CorreoPostal").checked = false;
    }

    if (document.getElementById("CorreoPostal").checked == true) {
        $('.postal').show();
        $('.correo').hide(100);
        document.getElementById("CorreoElectronico").checked = false;
    }

    $('input:radio[name="CorreoElectronico"]').change(function () {
        if (document.getElementById("CorreoElectronico").checked == true) {
            $('.postal').hide(100);
            $('.correo').show();
            document.getElementById("CorreoPostal").checked = false;
        }
    });

    $('input:radio[name="CorreoPostal"]').change(function () {
        if (document.getElementById("CorreoPostal").checked == true) {
            $('.postal').show();
            $('.correo').hide(100);
            document.getElementById("CorreoElectronico").checked = false;
        }
    });
    $(document).ready(function () {

    });
</script>