@model App.Web.Controllers.WorkflowController.DTOFilter
@using Enum = App.Util.Enum;
@{
    var gd = Model.TareasGrupales.Where(q => q.ProcesoDefinicionId == (int)Enum.DefinicionProceso.GDInterno ||
               q.ProcesoDefinicionId == (int)Enum.DefinicionProceso.GDOficParte).Count();
    var firmaDoc = Model.TareasGrupales.Where(q => q.ProcesoDefinicionId == (int)Enum.DefinicionProceso.SolicitudFirma).Count();
    var cometidos = Model.TareasGrupales.Where(q => q.ProcesoDefinicionId == (int)Enum.DefinicionProceso.SolicitudCometidoPasaje).Count();
    var hsa = Model.TareasGrupales.Where(q => q.ProcesoDefinicionId == (int)Enum.DefinicionProceso.InformeHSA).Count();
    var denunciaIntegridad = Model.TareasGrupales.Where(q => q.ProcesoDefinicionId == (int)Enum.DefinicionProceso.DenunciaIntegridad).Count();
    var consultaIntegridad = Model.TareasGrupales.Where(q => q.ProcesoDefinicionId == (int)Enum.DefinicionProceso.ConsultaIntegridad).Count();
}
<ul class="collapsible popout">

    <li class="active">
        <div class="collapsible-header">
            <span style="font-weight: bold">
                Gestion Documental
            </span>
            <span class="new badge blue" data-badge-caption="" style="font-weight:bold; font-size:1.1rem">
                @gd
            </span>
        </div>
        <div class="collapsible-body">
            @if (gd > 0)
            {
                @Html.Partial("PartialGrupal/_IndexGestionDocumentalGrupal", Model)
            }
            else
            {
                <p>No existen tareas pendientes</p>
            }
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <span style="font-weight: bold">Cometidos</span>
            <span class="new badge red" data-badge-caption="" style="font-weight:bold; font-size:1.1rem">
                @cometidos
            </span>
        </div>
        <div class="collapsible-body">
            @if (cometidos > 0)
            {
                @Html.Partial("PartialGrupal/_IndexCometidosGrupal", Model)
            }
            else
            {
                <p>No existen tareas pendientes</p>
            }
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <span style="font-weight: bold">Informes HSA</span>
            <span class="new badge green" data-badge-caption="" style="font-weight:bold; font-size:1.1rem">
                @hsa
            </span>
        </div>
        <div class="collapsible-body">
            @if (hsa > 0)
            {
                @Html.Partial("PartialGrupal/_IndexHSAGrupal", Model)
            }
            else
            {
                <p>No existen tareas pendientes</p>
            }
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <span style="font-weight:bold">Firma Documentos</span>
            <span class="new badge purple" data-badge-caption="" style="font-weight:bold; font-size:1.1rem">
                @firmaDoc
            </span>
        </div>
        <div class="collapsible-body">
            @if (firmaDoc > 0)
            {
                @Html.Partial("PartialGrupal/_IndexFirmaDocumentosGrupal", Model)
            }
            else
            {
                <p>No existen tareas pendientes</p>
            }
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <span style="font-weight:bold">Consulta Integridad</span>
            <span class="new badge purple" data-badge-caption="" style="background-color:#531da2; font-weight:bold; font-size:1.1rem">
                @consultaIntegridad
            </span>
        </div>
        <div class="collapsible-body">
            @if (consultaIntegridad > 0)
            {
                @Html.Partial("PartialGrupal/_IndexConsultaIntegridadGrupal", Model)
            }
            else
            {
                <p>No existen tareas pendientes</p>
            }
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <span style="font-weight:bold">Denuncia Integridad</span>
            <span class="new badge purple" data-badge-caption="" style="font-weight:bold; font-size:1.1rem">
                @denunciaIntegridad
            </span>
        </div>
        <div class="collapsible-body">
            @if (denunciaIntegridad > 0)
            {
                @Html.Partial("PartialGrupal/_IndexDenunciaIntegridadGrupal", Model)
            }
            else
            {
                <p>No existen tareas pendientes</p>
            }
        </div>
    </li>
</ul>

<script>
    $(document).ready(function () {
        $('.tooltipped').tooltip();
        $('.tabs').tabs();
        $('.collapsible').collapsible();
    });
</script>