@model System.Exception

<p></p>

<h1 class="display-4 my-3 text-danger">Problema encontrado</h1>
<p class="lead text-danger">@Model.Message</p>
<hr />
<a href="javascript:void(0);" onclick="history.go(-1);">Volver a página anterior</a> | <a href='@Url.Action("Index", "Home")'>Ir al inicio</a>

@*@if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <h4>Exception:</h4>
        <pre>@Model.Exception.Message</pre>
        <h4>Controller:</h4>
        <pre>@Model.ControllerName</pre>
        <h4>Action:</h4>
        <pre>@Model.ActionName</pre>
        <h4>StackTrace:</h4>
        <pre>@Model.Exception.StackTrace</pre>
    }*@
