@model IEnumerable<App.Model.CuentaRed.CuentaRed>

<h3>Cuentas de red</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Solicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoParterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pl_UndDes)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoParterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RUT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pl_UndDes)
            </td>
            <td>
                @Html.ActionLink("Detalles", "View", new { id = item.CuentaRedId })
            </td>
        </tr>
    }

</table>
