@model App.Model.InformeHSA.InformeHSA
@{
    Layout = null;
}
@Html.HiddenFor(q => q.WorkflowId)

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="row">
        <div class="left">
            .<img src="http://cdc.economia.cl/Styles/images/logo_gobierno_membrete.png" width="170px" />
        </div>
        @*<div class="right">
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.QR)" width="170px" />
        </div>*@
    </div>
    <center>
        <p class="flow-text">
            <h5><b>INFORME DE DESEMPEÑO Y AUTORIZACION DE PAGO <br />PERSONAL CONTRATADO A HONORARIOS A SUMA ALZADA</b></h5>
        </p>
        <p class="flow-text">
            Desde el @string.Format("{0:dd-MM-yyyy}", Model.FechaDesde) y el @string.Format("{0:dd-MM-yyyy}", Model.FechaHasta)
        </p>
    </center>

    <p class="flow-text">
        <b>I. ANTECEDENTES PERSONALES</b>
        <table>
            <tbody>
                <tr>
                    <td width="250"><b>@Html.DisplayNameFor(m => Model.Nombre)</b></td>
                    <td>@Html.DisplayFor(m => Model.Nombre)</td>
                </tr>
                <tr>
                    <td width="250"><b>@Html.DisplayNameFor(m => Model.RUT)</b></td>
                    <td> @Html.DisplayFor(m => Model.RUT)</td>
                </tr>
                <tr>
                    <td width="250"><b>@Html.DisplayNameFor(m => Model.Unidad)</b></td>
                    <td>  @Html.DisplayFor(m => Model.Unidad)</td>
                </tr>
                <tr>
                    <td width="250"><b>@Html.DisplayNameFor(m => Model.NombreJefatura)</b></td>
                    <td> @Html.DisplayFor(m => Model.NombreJefatura)</td>
                </tr>
                <tr>
                    <td width="250"><b>@Html.DisplayNameFor(m => Model.ConJornada)</b></td>
                    <td> @string.Format("{0}", Model.ConJornada ? "CON JORNADA" : "SIN JORNADA")</td>
                </tr>
            </tbody>
        </table>
    </p>
    <p class="flow-text"><b>II. FUNCIONES ESTABLECIDAS EN EL CONTRATO, NUMERADAS</b></p>
    @if (!string.IsNullOrWhiteSpace(Model.Funciones))
    {
        <p class="flow-text">
            @Html.Raw(Model.Funciones.Trim().Replace(Environment.NewLine, "<br/>"))
        </p>
    }

    <p class="flow-text"><b>III. ACTIVIDADES DESARROLLADAS EN EL PERIODO</b></p>
    @if (!string.IsNullOrWhiteSpace(Model.Actividades))
    {
        <p class="flow-text">
            @Html.Raw(Model.Actividades.Trim().Replace(Environment.NewLine, "<br/>"))
        </p>
    }

    <p class="flow-text"><b>IV. OBSERVACIONES</b></p>
    @if (!string.IsNullOrWhiteSpace(Model.Observaciones))
    {
        <p class="flow-text">
            @Html.Raw(Model.Observaciones.Trim().Replace(Environment.NewLine, "<br/>"))
        </p>
    }

    <p class="flow-text"><b>V. INFORMACIÓN DEL PAGO</b></p>

    <table>
        <tbody>
            <tr>
                <td width="250"><b>@Html.DisplayNameFor(m => Model.NumeroBoleta)</b></td>
                <td>@Html.DisplayFor(m => Model.NumeroBoleta)</td>
            </tr>
            <tr>
                <td width="250"><b>@Html.DisplayNameFor(m => Model.FechaBoleta)</b></td>
                <td> @string.Format("{0:dd-MM-yyyy}", Model.FechaBoleta)</td>
            </tr>
        </tbody>
    </table>

    <div class="section"></div>
    <div class="section"></div>
    <div class="section"></div>
    @*<center>
        <img src="~/Content/LogoPieFirma.png" width="220px" />
    </center>*@
    <center>
        <p class="flow-text">
            <b>
                @Model.Nombre<br />
                        @Model.Unidad
                    </b>
        </p>
    </center>
    @*<div class="section"></div>*@
    <p class="flow-text center grey-text text-darken-2">Se certifica el cumplimiento de las funciones encomendadas y se aprueba el presente Informe, autorizándose el pago correspondiente.</p>
</body>
</html>