@model App.Model.Core.Usuario

@{
    ViewBag.Title = "Crear usuario";
    ViewBag.SubTitle = "Crear usuario";
}
<div class="grey lighten-3 section">
    <div class="container section">
        <h3 class="header">@ViewBag.Title</h3>
        <h5 class="header light">@ViewBag.SubTitle</h5>
        <div class="section"></div>
    </div>
</div>
<div class="section"></div>

<div class="container">
    @Html.Partial("_Message")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(q => q.GrupoId)
        @Html.HiddenFor(q => q.Email)

        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s12 m10 l10">
                        @Html.TextBoxFor(m => Model.Nombre)
                        @Html.LabelFor(m => Model.Nombre)
                        @Html.ValidationMessageFor(m => Model.Nombre, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m10 l10">
                        @Html.DropDownListFor(m => Model.GrupoId, null, "Seleccione...")
                        @Html.LabelFor(m => Model.GrupoId)
                        @Html.ValidationMessageFor(m => Model.GrupoId, "", new { @class = "red-text" })
                    </div>
                </div>
                <button class="waves-effect waves-light btn blue" type="submit">Aceptar</button>
            </div>
        </div>
    }
</div>
<div class="fixed-action-btn">
    <a href="javascript:history.back()" class="btn-floating btn-large grey"><i class="large material-icons">chevron_left</i></a>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('select').formSelect();

        $("#Nombre").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Usuario/GetUser/",
                    data: { term: request.term },
                    type: "POST",
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return { id: item.id, value: item.value };
                            }));
                    }
                });
            },

            select: function (event, ui) {
                $("#Email").val(ui.item.id);
                $("#Nombre").val(ui.item.value);
                return false;
            }
        });

    });
</script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui-git.css" rel="stylesheet" />
