@model App.Model.Core.Usuario
@{
    ViewBag.Title = "Editar usuario";
    ViewBag.SubTitle = "Editar usuario";
}
<div class="grey lighten-3">
    <div class="section container ">
        <h3 class="header">@ViewBag.Title</h3>
        <h5 class="header light">@ViewBag.SubTitle</h5>
        <br />
    </div>
</div>
<div class="container">
    @Html.Partial("_Message")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(q => Model.UsuarioId)

        <div class="card">
            <div class="card-content">
                @*<span class="card-title">Crear nuevo usuario</span>*@
                <div class="row">
                    <div class="input-field col s12 m10 l10">
                        @Html.TextBoxFor(m => Model.Nombre)
                        @Html.LabelFor(m => Model.Nombre)
                        @Html.ValidationMessageFor(m => Model.Nombre, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m10 l10">
                        @Html.TextBoxFor(m => Model.Email)
                        @Html.LabelFor(m => Model.Email)
                        @Html.ValidationMessageFor(m => Model.Email, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m10 l10">
                        @Html.DropDownListFor(m => Model.GrupoId, null, "Seleccione...")
                        @Html.LabelFor(m => Model.GrupoId)
                        @Html.ValidationMessageFor(m => Model.GrupoId, "", new { @class = "red-text" })
                    </div>
                </div>
                <button class="waves-effect waves-light btn blue" type="submit">Aceptar</button>
            </div>
        </div>
    }
</div>
<div class="fixed-action-btn">
    <a href="javascript:history.back()" class="btn-floating btn-large grey"><i class="large material-icons">chevron_left</i></a>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>

@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
