@model IEnumerable<App.Model.Pasajes.EmpresaAerolinea>
<div class="container">
    <h3>Empresa Aerolinea</h3>
    <div class="card">
        <div class="card-content">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EmpresaAerolineaId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreEmpresa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActivoEmpresa)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmpresaAerolineaId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreEmpresa)
                        </td>
                        <td>
                            @if (item.ActivoEmpresa)
                            {
                                <p>True</p>
                            }
                            else
                            {
                                <p>False</p>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "Details", new { id = item.EmpresaAerolineaId })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="fixed-action-btn">
    <a href='@Url.Action("Create")' class="btn-floating btn-large blue tooltipped" data-position="left" data-delay="500" data-tooltip="Agregar nuevo elemento"><i class="large material-icons">add</i></a>
</div>
@*<br />
    <div class="fixed-action-btn">
        <a href="javascript:history.back()" class="btn-floating btn-large grey"><i class="large material-icons">chevron_left</i></a>
    </div>*@
