@model App.Web.Controllers.HomeController.DTOUser
@{
    ViewBag.Title = "Gestión de procesos";
    ViewBag.SubTitle = "Gestión de procesos automatiza flujos de trabajo de una manera facil y unificada";
}

<div class="grey lighten-3 section">
    <div class="container section">
        <h3 class="header">@ViewBag.Title</h3>
        <h5 class="header light">@ViewBag.SubTitle</h5>
        <div class="section"></div>
    </div>
</div>
<div class="section"></div>

<div class="row container">
    @Html.Partial("_Message")

    @if (Model.IsAdmin)
    {
        <div class="col s12 m6 l4">
            <div class="card hoverable" style="height:300px">
                <div class="card-content">
                    <span class="card-title">Administración</span>
                </div>
                <div class="card-action">
                    <a href='@Url.Action("Index", "DefinicionProceso")' class="waves-effect waves-light blue-text">Definiciones de procesos</a><br />
                    <a href='@Url.Action("Index", "Proceso")' class="waves-effect waves-light blue-text">Procesos</a><br />
                    <a href='@Url.Action("Index", "Grupo")' class="waves-effect waves-light blue-text">Grupos especiales</a><br />
                    <a href='@Url.Action("Index", "Rubrica")' class="waves-effect waves-light blue-text">Rúbricas</a><br />
                    <a href='@Url.Action("Index", "Configuracion")' class="waves-effect waves-light blue-text">Configuración de sistema</a>
                    <a href='@Url.Action("Index", "CometidoComision")' class="waves-effect waves-light blue-text">Cometido-Comision</a>
                </div>
            </div>
        </div>
    }

    @if (Model.IsCometido)
    {
        <div class="col s12 m6 l4">
            <div class="card hoverable" style="height:300px">
                <div class="card-content">
                    <span class="card-title">Reportes</span>
                </div>
                <div class="card-action">
                    <a href='@Url.Action("SeguimientoGP", "Cometido")' class="waves-effect waves-light blue-text">Seguimiento Gestion Personas</a><br />
                    <a href='@Url.Action("SeguimientoUnidades", "Cometido")' class="waves-effect waves-light blue-text">Seguimiento Unidades</a><br />
                    <a href='@Url.Action("SeguimientoFinanzas", "Cometido")' class="waves-effect waves-light blue-text">Seguimiento Finanzas</a><br />
                    <a href='@Url.Action("ReportePresupuesto", "Cometido")' class="waves-effect waves-light blue-text">Reporte Presupuesto</a><br />
                </div>
            </div>
        </div>
    }

    <div class="col s12 m6 l4">
        <div class="card hoverable" style="height: 300px">
            <div class="card-content">
                <span class="card-title">Operaciones</span>
            </div>
            <div class="card-action">
                <a href='@Url.Action("Index","Workflow")' class="waves-effect waves-light blue-text">
                    Bandeja de tareas
                    @if (Model.Task > 0)
                    {
                        <span class="new badge red" data-badge-caption="">@Model.Task</span>
                    }
                </a>
                <br />
                <a href='@Url.Action("Create", "Proceso")' class="waves-effect waves-light blue-text">Iniciar nuevo proceso</a><br />
                <a href='@Url.Action("Index", "ProcesoPersonal")' class="waves-effect waves-light blue-text">Administrar mis procesos</a><br />
                <a href='@Url.Action("Index", "ProcesoConsultor")' class="waves-effect waves-light blue-text">Consultar procesos</a><br />
            </div>
        </div>
    </div>


    <div class="col s12 m6 l4">
        <div class="card hoverable" style="height:300px">
            <div class="card-content">
                <span class="card-title">Reportes</span>
            </div>
            <div class="card-action">
                <a href='@Url.Action("Report", "Proceso")' class="waves-effect waves-light blue-text">Reporte de procesos</a><br />
                <a href='@Url.Action("Report", "InformeHSA")' class="waves-effect waves-light blue-text">Reporte de informes HSA</a><br />
                @*<a href='@Url.Action("SeguimientoGP", "Cometido")' class="waves-effect waves-light blue-text">Cometidos</a><br />*@
                <a href='@Url.Action("Report", "GDExterno")' class="waves-effect waves-light blue-text">Gestión documental</a><br />
                <a href='@Url.Action("Report", "Cometido")' class="waves-effect waves-light blue-text">Reportes cometidos</a><br />
            </div>
        </div>
    </div>

 
</div>
