@model App.Model.Shared.Subsecretaria

<h3>Editar Subsecretaria</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>Model.SubsecretariaId)

    <div class="card">
        <div class="card-content">
            @*<span class="card-title">Crear nuevo</span>*@
            <div class="row">
                <div class="input-field col s12 m10 l10">
                    @Html.TextBoxFor(m => Model.Codigo)
                    @Html.LabelFor(m => Model.Codigo)
                    @Html.ValidationMessageFor(m => Model.Codigo, "", new { @class = "red-text" })
                </div>
                <div class="input-field col s12 m10 l10">
                    @Html.TextBoxFor(m => Model.Nombre)
                    @Html.LabelFor(m => Model.Nombre)
                    @Html.ValidationMessageFor(m => Model.Nombre, "", new { @class = "red-text" })
                </div>
            </div>
            <button class="waves-effect waves-light btn blue" type="submit">Aceptar</button>
        </div>
    </div>
}
<div class="fixed-action-btn">
    <a href="javascript:history.back()" class="btn-floating btn-large grey"><i class="large material-icons">chevron_left</i></a>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
