@model App.Model.HorasExtras.HorasExtras

@Html.Action("Header", "Workflow", new { Model.WorkflowId })
@Html.Action("procesState", "HorasExtras", new { Model.WorkflowId })

<div class="container">
    <div class="row">
        <div class="col s12 m6 l12">
            @Html.Partial("_Message")
            @using (Html.BeginForm("EditRemuneraciones", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(q => Model.WorkflowId)
                @Html.HiddenFor(q => Model.ProcesoId)
                @Html.HiddenFor(q => Model.HorasExtrasId)
                @Html.HiddenFor(q => Model.Annio)
                @Html.HiddenFor(q => Model.Mes)
                @Html.HiddenFor(q => Model.Nombre)
                @Html.HiddenFor(q => Model.NombreId)
                @Html.HiddenFor(q => Model.DV)
                @Html.HiddenFor(q => Model.NombreJefatura)
                @Html.HiddenFor(q => Model.jefaturaId)
                @Html.HiddenFor(q => Model.JefaturaDV)
                @Html.HiddenFor(q => Model.Unidad)
                @Html.HiddenFor(q => Model.UnidadId)
                @Html.HiddenFor(q => Model.MesBaseCalculo)

                for (int i = 0; i < Model.Colaborador.ToArray().Length; i++)
                {
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].HorasExtrasId)
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].ColaboradorId)
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].Nombre)
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].NombreId)
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].DV)
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].Descripcion)
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].HDPago)
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].HDCompensar)
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].HNPago)
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].HNCompensar)
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].HDPagoAprobados)
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].HDCompensarAprobados)
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].HNPagoAprobados)
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].HNCompensarAprobados)
                    @*@Html.HiddenFor(m => Model.Colaborador.ToArray()[i].ValorHorasDiurnas)
                        @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].ValorPagadoHD)*@
                    @*@Html.HiddenFor(m => Model.Colaborador.ToArray()[i].ValorHorasNocturnas)
                        @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].ValorPagadoHN)*@
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].ValorTotalPago)
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].ObservacionesConfirmacion)
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].ObservacionesJefatura)
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].HDSigper)
                    @Html.HiddenFor(m => Model.Colaborador.ToArray()[i].HNSigper)
                }


                @Html.ValidationSummary(true, "", new { @class = "red-text" })

                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="input-field col s12 m10 l6">
                                <strong>
                                    @Html.DisplayNameFor(m => Model.HorasExtrasId)
                                </strong>
                                @Html.DisplayFor(m => Model.HorasExtrasId)

                            </div>
                        </div>
                        <div id="jQuery_accordion">
                            <h3><span style="font-weight: bold">Datos del Ingreso: </span></h3>
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-field">
                                        <strong>@Html.DisplayNameFor(m => Model.FechaSolicitud)</strong>
                                        @Html.DisplayFor(m => Model.FechaSolicitud)
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-field">
                                        <strong>
                                            @Html.DisplayNameFor(m => Model.Nombre)
                                        </strong>
                                        @Html.DisplayFor(m => Model.Nombre)
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-field">
                                        <strong>
                                            @Html.DisplayNameFor(m => Model.NombreJefatura)
                                        </strong>
                                        @Html.DisplayFor(m => Model.NombreJefatura)
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-field">
                                        <strong>
                                            @Html.DisplayNameFor(m => Model.Unidad)
                                        </strong>
                                        @Html.DisplayFor(m => Model.Unidad)
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-field">
                                        <strong>@Html.DisplayNameFor(m => Model.Annio)</strong>
                                        @Html.DisplayFor(m => Model.Annio)
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-field">
                                        <strong>
                                            @Html.DisplayNameFor(m => Model.Mes)
                                        </strong>
                                        @Html.DisplayFor(m => Model.Mes)
                                    </div>
                                </div>
                            </div>
                            <h3><span style="font-weight: bold">Datos de las horas solicitadas: </span></h3>
                            <div class="row">
                                <div class="input-field col s12 m10 l10">
                                    <span class="card-title">Solicitudes</span>
                                </div>
                                <div class="section"></div>
                                <div class="input-field col s12 m10 l3">
                                    <div class="input-field">
                                        <strong>
                                            @Html.DisplayNameFor(m => Model.MesBaseCalculo)
                                        </strong>
                                    </div>
                                </div>
                                <div class="input-field col s12 m10 l4">
                                    @Html.DropDownListFor(m => Model.MesBaseCalculo, null, "Seleccione...")
                                </div>

                                @if (Model.Colaborador.Count > 0)
                                {
                                    <table class="table">
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Colaborador.FirstOrDefault().Nombre)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(m => Model.Colaborador.FirstOrDefault().Descripcion)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Colaborador.FirstOrDefault().HDPagoAprobados)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Colaborador.FirstOrDefault().HDCompensarAprobados)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Colaborador.FirstOrDefault().ValorHorasDiurnas)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Colaborador.FirstOrDefault().ValorPagadoHD)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Colaborador.FirstOrDefault().HNPagoAprobados)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(m => Model.Colaborador.FirstOrDefault().HNCompensarAprobados)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Colaborador.FirstOrDefault().ValorHorasNocturnas)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Colaborador.FirstOrDefault().ValorPagadoHN)
                                            </th>
                                            <th></th>
                                        </tr>
                                        @for (int i = 0; i < Model.Colaborador.ToArray().Length; i++)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Colaborador.ToArray()[i].Nombre)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Colaborador.ToArray()[i].Descripcion)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Colaborador.ToArray()[i].HDPagoAprobados)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => Model.Colaborador.ToArray()[i].HDCompensarAprobados)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => Model.Colaborador.ToArray()[i].ValorHorasDiurnas)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => Model.Colaborador.ToArray()[i].ValorPagadoHD)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => Model.Colaborador.ToArray()[i].HNPagoAprobados)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Colaborador.ToArray()[i].HNCompensarAprobados)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => Model.Colaborador.ToArray()[i].ValorHorasNocturnas)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => Model.Colaborador.ToArray()[i].ValorPagadoHN)
                                                </td>
                                                @*@if (Model.Workflow.DefinicionWorkflow.Secuencia != 10)
                                                    {
                                                        <td>
                                                            @if (Model.Workflow.DefinicionWorkflow.Secuencia == 3 || Model.Workflow.DefinicionWorkflow.Secuencia == 4)
                                                            {
                                                                <a href='@Url.Action("EditGP", "Colaborador", new { id = Model.Colaborador.ToArray()[i].ColaboradorId})'><img src="~/Content/images/icon-edit.png"></img></a>
                                                            }
                                                            else
                                                            {
                                                                <a href='@Url.Action("Edit", "Colaborador", new { id = Model.Colaborador.ToArray()[i].ColaboradorId})'><img src="~/Content/images/icon-edit.png"></img></a>
                                                            }
                                                        </td>
                                                        <td>
                                                            <a href='@Url.Action("Delete", "Colaborador", new { id = Model.Colaborador.ToArray()[i].ColaboradorId })'><img src="~/Content/images/icon-borrar.png"></img></a>
                                                        </td>
                                                    }*@
                                            </tr>
                                        }
                                    </table>

                                }

                                @if (Model.Workflow.DefinicionWorkflow.Secuencia != 11)
                                {
                                    <div class="section"></div>
                                    <a href='@Url.Action("Create","Colaborador", new { id = Model.HorasExtrasId})' class="btn-floating modal-trigger btn-large blue tooltipped" data-position="right" data-tooltip="Agregar destinos"><i class="large material-icons">add</i></a>
                                }
                            </div>
                        </div>
                        @if (Model.Workflow.DefinicionWorkflow.Secuencia == 4)
                        {
                            <div class="section"></div>
                            <div class="row">
                                @Html.ActionLink("Generar Resolucion de trabajos extraordinarios", "GeneraDocumento", "HorasExtras", new { Id = Model.HorasExtrasId }, null)
                            </div>
                        }
                        <div class="section"></div>
                        <p>
                            <button class="waves-effect waves-light btn blue" type="submit">Guardar</button>
                        </p>
                    </div>
                </div>
            }
        </div>
        <div class="col s12 m6 l12">
            @Html.Action("Documents", "Workflow", new { Model.WorkflowId })
            @*@Html.Action("History", "Workflow", new { Model.WorkflowId })*@
        </div>
    </div>
</div>

@Html.Action("Footer", "Workflow", new { Model.WorkflowId })

<script type="text/javascript">
    $(document).ready(function () {
        jQuery.datetimepicker.setLocale('es');
        jQuery('#FechaSolicitud').datepicker({
            i18n: {
                es: {
                    months: [
                        'Enero', 'Febrero', 'Marzo', 'Abril',
                        'Mayo', 'Junio', 'Julio', 'Agosto',
                        'Septiembre', 'Octubre', 'Noviembre', 'Diciembre',
                    ]
                }
            },
            todayButton: true,
            dayOfWeekStart: 1,
        });

        $('.modal').modal();
        $('.tooltipped').tooltip();
        $('select').formSelect();
        $('input:hidden').each(function (index, element) {
            $(element).appendTo($(element).parent());
        });

        //$('table tbody tr').on('change', function () {
        //    var total = $(this).find("td:eq(2)").text() * $(this).find("td:eq(3)").text();
        //    alert(total);
        //    //var hd = $(this).find('input').eq(1).html();
        //    var hd = $(this).find("td:eq(4)").html();
        //    var hn = $(this).find("td:eq(3)").text();
        //    var Dia = $(this).find("td:eq(2)").text();
        //    var Noche = $(this).find("td:eq(6)").text();
        //    CalculoHorasPagadas(hd, hn, Dia, Noche);
        //});
    });
    /*******************TERMINO METODO FUNCTION*************************************************************************************/
    $(function () {
        $("#jQuery_accordion").accordion({
            collapsible: true, heightStyle: true /*"auto"*/
        });
    });

    ///*Calcular valor horas pagadas*/
    //$("table tbody tr").click(function () {
    //    var total = $(this).find("td:eq(2)").text() * $(this).find("td:eq(3)").text();
    //    //CalculoHorasPagadas();
    //});

    //$('table tbody tr').on('change', function () {
    //    var total = $(this).find("td:eq(2)").text() * $(this).find("td:eq(3)").text();
    //    alert(total);
    //    var hd = $(this).find("td:eq(2)").text();
    //    var hn = $(this).find("td:eq(3)").text();
    //    var Dia = $(this).find("td:eq(2)").text();
    //    var Noche = $(this).find("td:eq(6)").text();
    //    CalculoHorasPagadas(hd, hn, Dia, Noche);
    //});

    //$("table tbody tr").change(function () {
    //    var total = $(this).find("td:eq(2)").text() * $(this).find("td:eq(3)").text();
    //    alert(total);
    //    CalculoHorasPagadas();
    //    //$(this).find("td:eq(5)").val() = total;
    //});


    //function CalculoHorasPagadas(ValorHD, ValorHN, Diurnas,Nocturnas) {
    //    alert('hola');
    //        //var ValorHD = $(this).find("td:eq(2)").text();
    //        //var ValorHN = $(this).find("td:eq(3)").text()
    //        alert(ValorHD);
    //        alert(ValorHN);
    //    $.getJSON("/HorasExtras/CalculoHorasPagadas", { ValorHD: ValorHD, HorasDiurnas: Diurnas, ValorHN: ValorHN, HorasNocturnas: Nocturnas },
    //            function (Data) {
    //                document.getElementById("Total").value = Data.TotalValorPagado;

    //                document.getElementById('Dias100Monto').value = Data.ValorPagadoHD;
    //                document.getElementById('Dias60Monto').value = Data.ValorPagadoHN;
    //            })

    //}

    //$(function () {
    //    $('.button').change(function () {
    //        //var horas = $(this).parent().find('.data').text();
    //        var horas = $(this).parent().find('.button').text();
    //        var valor = $(this).parent().find('.valor').text();
    //        //alert($(this).parent().find('.data').text());
    //        alert(horas * valor);
    //        $(this).parent().find('.pagado').val() = (horas * valor);
    //    });

    ///*Calcular Valor pagado horas diurnas*/
    //$('#ValorHorasDiurnas').on('change', function () {
    //    CalculaPagoDiurno();
    //})


    //function CalculaPagoDiurno() {
    //    var ValorHora = $("#ValorHorasDiurnas").val();
    //    var HDAprobadas = $("#HDPagoAprobados").val();
    //    alert(ValorHora);
    //    $("#ValorPagadoHD").val() = HDAprobadas * ValorHora;
    //}

</script>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui-git.css" rel="stylesheet" />
<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>

<style TYPE="text/css">
    strong {
        font-weight: bolder;
    }

    .button {
        cursor: pointer;
    }
</style>