@model App.Model.FirmaDocumentoGenerico.FirmaDocumentoGenerico

@Html.Action("Header", "Workflow", new { Model.WorkflowId })

<style>
    .container {
        width: 85%;
    }
</style>

<div class="container">
    @Html.Partial("_Message")
    <div class="row">
        <div class="col s12 m8 l8">
            @using (Html.BeginForm("Create", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(q => Model.WorkflowId)
                @Html.HiddenFor(q => Model.ProcesoId)
                @Html.AntiForgeryToken()

                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Ingreso de documento</span>
                        <div class="section"></div>
                        <div class="form-group">
                            @*<div class="control-label col-md-2">*@
                            <div class="control-label col s12 m12 l12">
                                <b>@Html.LabelFor(m => m.TipoDocumento)</b>
                            </div>
                            <div>
                                <div class="col-md-10">
                                    <div class="container">
                                        <label>
                                            @Html.RadioButtonFor(m => Model.TipoDocumento, true)
                                            <span>OTROS</span>
                                        </label>
                                        <label>
                                            @Html.RadioButtonFor(m => Model.TipoDocumento, false)
                                            <span>MEMORANDUM</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                        <div class="row">
                            <input type="file" name="file" />
                        </div>
                        <button class="waves-effect waves-light btn blue" type="submit">Guardar</button>
                    </div>
                </div>
            }
        </div>
        <div class="col s12 m4 l4">
            @Html.Action("Documents", "Workflow", new { Model.WorkflowId })
            @Html.Action("History", "Workflow", new { Model.WorkflowId })
        </div>
    </div>
</div>

@Html.Action("Footer", "Workflow", new { Model.WorkflowId })

<script type="text/javascript">
    $(document).ready(function () {
        $('.modal').modal();
        $('select').formSelect();
        $('.tooltipped').tooltip();
    });
</script>

