@*@model App.Web.Controllers.FirmaDocumentoGenericoController.DTOFileUploadEdit*@
@model App.Model.FirmaDocumentoGenerico.FirmaDocumentoGenerico

@Html.Action("Header", "Workflow", new { Model.WorkflowId })

<style>
    .container {
        width: 85%;
    }
</style>

@Html.Partial("_Message")

<div class="container">
    <div class="row">
        <div class="col s12 m8 l8">
            @using (Html.BeginForm("FirmaAtendida", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(q => Model.WorkflowId)
                @Html.HiddenFor(q => Model.ProcesoId)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "red-text" })

                @Html.HiddenFor(q => Model.FirmaDocumentoGenericoId)
                @Html.HiddenFor(q => Model.Archivo)

                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Firma de Documento</span>
                        <div class="section"></div>
                        <div class="row">


                            @*<div class="col s12 m12 l6">
            @Html.LabelFor(m => Model.TipoDocumentoCodigo)
            @Html.DropDownListFor(m => Model.TipoDocumentoCodigo, null, "Seleccione...", new { @class = "browser-default" })
            @Html.ValidationMessageFor(m => Model.TipoDocumentoCodigo, "", new { @class = "red-text" })
        </div>*@
                            @*<div class="input-field col s12 m12 l12">
            @Html.EditorFor(m => Model.URL)
            @Html.LabelFor(m => Model.URL)
            @Html.ValidationMessageFor(m => Model.URL, "", new { @class = "text-danger" })
        </div>*@
                            @*<div class="col s12 m12 l6">
            @Html.LabelFor(m => Model.FileUpload)
            <div class="file-field input-field">
                <div class="btn grey">
                    <i class="material-icons">attach_file</i>
                    @Html.TextBoxFor(m => Model.FileUpload, null, new { @type = "file", accept = ".pdf" })
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
                <span class="helper-text">Solo se permiten archivos con extensión .pdf</span>
                @Html.ValidationMessageFor(model => model.FileUpload, "", new { @class = "red-text" })
            </div>
        </div>*@
                            @*@if (Model.File != null)
        {
            <div class="input-field col s12 m12 l12">
                <strong>@Html.DisplayNameFor(m => Model.File)</strong>
                <embed src="@Url.Action("ShowDocumentoSinFirma", null, new { id = Model.FirmaDocumentoGenericoId })" type="application/pdf" width="100%" height="350px"></embed>
            </div>
        }*@
                            @*<div class="input-field col s12 m12 l12">
            @Html.TextBoxFor(m => Model.Comentario)
            @Html.LabelFor(m => Model.Comentario)
            @Html.ValidationMessageFor(m => Model.Comentario, "", new { @class = "text-danger" })
        </div>*@
                            @*<div class="input-field col s12 m12 l12">
            <strong>@Html.DisplayNameFor(m => Model.Archivo)</strong>
            <embed src="@Url.Action("ShowDocumentoSinFirma", null, new { id = Model.FirmaDocumentoGenericoId })" type="application/pdf" width="100%" height="350px"></embed>
        </div>*@

                            @if (Model.ArchivoFirmado == null)
                            {
                                <div class="input-field">
                                    <strong>@Html.DisplayNameFor(m => Model.Archivo)</strong>
                                    <embed src="@Url.Action("ShowDocumentoSinFirma", "FirmaDocumentoGenerico", new { id = Model.FirmaDocumentoGenericoId })" type="application/pdf" width="100%" height="650px"></embed>
                                </div><br />

                                <div class="input-field col s12 m12 l12">
                                    @Html.TextBoxFor(m => Model.OTP)
                                    @Html.LabelFor(m => Model.OTP)
                                    @Html.ValidationMessageFor(m => Model.OTP, "", new { @class = "text-danger" })
                                </div><br />

                                <button class="waves-effect waves-light btn blue" type="submit">Firmar Documento</button>
                            }
                            else
                            {
                                <div class="container">
                                    <header class="jumbotron my-4">
                                        <h1 class="display-4">Documento Firmado</h1>
                                        <p class="lead">
                                            Operación Exitosa, su documento ha sido firmado y se encuentra disponible para su descarga.
                                        </p>
                                    </header>
                                </div><br />
                                <div class="input-field">
                                    <strong>@Html.DisplayNameFor(m => Model.ArchivoFirmado)</strong>
                                    <embed src="@Url.Action("ShowDocumentoConFirma", "FirmaDocumentoGenerico", new { id = Model.FirmaDocumentoGenericoId })" type="application/pdf" width="100%" height="650px"></embed>
                                </div><br />
                            }

                            @*<input type="file" name="file" />*@

                            @*@Html.ActionLink("Firmar Segpres", "Token", "FirmaDocumentoGenerico", new {Id = Model.FirmaDocumentoGenericoId}, null)*@


                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col s12 m4 l4">
            @Html.Action("Documents", "Workflow", new { Model.WorkflowId })
            @Html.Action("History", "Workflow", new { Model.WorkflowId })
        </div>
    </div>
</div>

@Html.Action("Footer", "Workflow", new { Model.WorkflowId })

<script type="text/javascript">
    $(document).ready(function () {
        $('.modal').modal();
        $('select').formSelect();
        $('.tooltipped').tooltip();
    });
</script>

