@model App.Model.Comisiones.ParrafoComisiones
<div class="container">
    <h3>Crear Parrafos</h3>

    <div class="card">
        <div class="card-content">
            @using (Html.BeginForm("Create", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="input-field col s12 m10 l10">
                    @Html.TextBoxFor(m => Model.ParrafoTexto, new { @placeholder = "Ingrese valor para el Nombre" })
                    @Html.LabelFor(m => Model.ParrafoTexto)
                    @Html.ValidationMessageFor(m => Model.ParrafoTexto, "", new { @class = "red-text" })
                </div>
                <div class="input-field col s12 m10 l10">
                    <label>
                        @Html.CheckBoxFor(m => m.ParrafoActivo)
                        <span>@Html.LabelFor(m => Model.ParrafoActivo)</span>
                    </label>
                </div>
                <br />
                <div class="section"></div>
                <p>
                    <button class="waves-effect waves-light btn blue" type="submit">Guardar</button>
                </p>
            }
        </div>


    </div>
</div>
<div class="fixed-action-btn">
    <a href="javascript:history.back()" class="btn-floating btn-large grey"><i class="large material-icons">chevron_left</i></a>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('input:hidden').each(function (index, element) {
            $(element).appendTo($(element).parent());
        });
    });
</script>
