@model IEnumerable<App.Model.RadioTaxi.RadioTaxi>

<h3>
    Formulario RadioTaxi
</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rut)
            @Html.DisplayNameFor(model => model.DV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rut)
                @Html.DisplayFor(modelItem => item.DV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @*@Html.ActionLink("Detalles", "Details", new { id = item.RadioTaxiId})*@
                @Html.ActionLink("Detalles", "View", new { id = item.RadioTaxiId })
            </td>
        </tr>
    }

</table>




