@model App.Model.RadioTaxi.RadioTaxi

@*<h3>Detalles</h3>*@

<div class="row">
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Formulario RadioTaxi</span>
                <div class="row">
                    <div class="input-field col s12 m10 l3">
                        <strong>@Html.DisplayNameFor(m => Model.Fecha)</strong><br />
                        @Html.DisplayFor(m => Model.Fecha)
                    </div>
                    <div class="input-field col s12 m10 l3">
                        <strong>@Html.DisplayNameFor(m => Model.RadioTaxiId)</strong><br />
                        @Html.DisplayFor(m => Model.RadioTaxiId)
                    </div>
                    <div class="input-field col s12 m10 l10">
                        INFORMACIÓN DEL FUNCIONARIO:
                    </div>
                    <div class="input-field col s12 m10">
                        <strong>@Html.DisplayNameFor(m => Model.Nombre)</strong><br />
                        @Html.DisplayFor(m => Model.Nombre)
                    </div>
                    <div class="input-field col s12 m10 l3">
                        <strong>@Html.DisplayNameFor(m => Model.Rut)</strong><br />
                        @Html.DisplayFor(m => Model.Rut)
                    </div>
                    <div class="input-field col s12 m10 l3">
                        <strong>@Html.DisplayNameFor(m => Model.DV)</strong><br />
                        @Html.DisplayFor(m => Model.DV)
                    </div>
                    <div class="input-field col s12 m10">
                        <strong>@Html.DisplayNameFor(m => Model.Unidad)</strong><br />
                        @Html.DisplayFor(m => Model.Unidad)
                    </div>
                    <div class="input-field col s12 m10">
                        <strong>@Html.DisplayNameFor(m => Model.Telefono)</strong><br />
                        @Html.DisplayFor(m => Model.Telefono)
                    </div>
                    <div class="input-field col s12 m10">
                        <strong>@Html.DisplayNameFor(m => Model.Email)</strong><br />
                        @Html.DisplayFor(m => Model.Email)
                    </div>
                    <div class="input-field col s12 m10 l10">
                        EL TRASLADO ESTÁ FUERA DEL PERÍMETRO ESTABLECIDO:
                    </div>
                    <div class="input-field col s12 m10 l10">
                        <label>
                            @Html.CheckBoxFor(m => Model.Perimetro)
                            <span>@Html.LabelFor(m => Model.Perimetro)</span>
                        </label>
                        <div class="section"></div>
                    </div>
                    <div class="input-field col s12 m10 l10">
                        EL TRASLADO ESTÁ DENTRO DEL PERÍMETRO ESTABLECIDO (JUSTIFICAR):
                    </div>
                    <div class="input-field col s12 m10 l10">
                        @Html.TextAreaFor(m => Model.FueraPerimetro, new { @class = "materialize-textarea" })
                        @Html.LabelFor(m => Model.FueraPerimetro)
                        @Html.ValidationMessageFor(m => Model.FueraPerimetro, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m10 l10">
                        @Html.TextAreaFor(m => Model.Motivo, new { @class = "materialize-textarea" })
                        @Html.LabelFor(m => Model.Motivo)
                        @Html.ValidationMessageFor(m => Model.Motivo, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m10 l10">
                        @Html.TextAreaFor(m => Model.Salida, new { @class = "materialize-textarea" })
                        @Html.LabelFor(m => Model.Salida)
                        @Html.ValidationMessageFor(m => Model.Salida, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m10 l10">
                        @Html.TextAreaFor(m => Model.Llegada, new { @class = "materialize-textarea" })
                        @Html.LabelFor(m => Model.Llegada)
                        @Html.ValidationMessageFor(m => Model.Llegada, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s12 m10 l10">
                        En caso que el traslado se realice dentro del perímetro establecido, se considerará la entrega
                        de tarjeta Bip, la cual podrá ser solicitada en SS.GG.
                    </div>
                    <div class="input-field col s12 m10 l10">
                        (1) El perímetro establecido ha sido determinado en base a la red metro, considerando:
                        Línea 1: desde metro San Pablo hasta Los Dominicos.
                        Línea 2: desde metro Vespucio Norte hasta metro La Cisterna.
                        Línea 4: desde metro Tobalaba hasta metro Vicente Valdés.
                        Línea 5: desde metro Vicente Valdés hasta metro San Pablo.
                        FORMULARIO SOLICITUD DE RADIO TAXI
                        RESOLUCIÓN ADMINISTRATIVA EXENTA N° 3231 SOBRE EL USO DE RADIO TAXI Y SU REEMBOLSO DE FECHA 11 DE FEBRERO DE 2011.
                        VALE N°:
                        MOTIVO DEL TRASLADO:
                        DIRECCIÓN DE SALIDA:
                        DIRECCIÓN DE LLEGADA:
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        @*@Html.Action("Documents", "Workflow", new { Model.WorkflowId })*@
        @Html.Action("History", "Workflow", new { Model.WorkflowId })
    </div>
</div>
