@model App.Model.ProgramacionHorasExtraordinarias.ProgramacionHorasExtraordinarias

@Html.Action("Header", "Workflow", new { Model.WorkflowId })

<div class="container">
    <div class="row">
        <div class="col s12 m6 l6">
            @using (Html.BeginForm("Edit", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(q => Model.WorkflowId)
                @Html.HiddenFor(q => Model.ProcesoId)
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "red-text" })

                @Html.HiddenFor(q => Model.ProgramacionHorasExtraordinariasId)

                @Html.HiddenFor(q => Model.NombreId)
                @Html.HiddenFor(q => Model.IdUnidad)
                @Html.HiddenFor(q => Model.IdCargo)
                @Html.HiddenFor(q => Model.IdCalidad)
                @Html.HiddenFor(q => Model.IdGrado)
                @Html.HiddenFor(q => Model.Nombre)
                @Html.HiddenFor(q => Model.Rut)
                @Html.HiddenFor(q => Model.DV)
                @Html.HiddenFor(q => Model.CalidadDescripcion)
                @Html.HiddenFor(q => Model.GradoDescripcion)
                @Html.HiddenFor(q => Model.CargoDescripcion)
                @Html.HiddenFor(q => Model.UnidadDescripcion)
                @Html.HiddenFor(q => Model.EmailRem)
                @Html.HiddenFor(q => Model.NombreChqRem)

                @Html.HiddenFor(q => Model.IdUnidadFunc1)
                @Html.HiddenFor(q => Model.IdCalidadFunc1)
                @Html.HiddenFor(q => Model.IdGradoFunc1)
                @Html.HiddenFor(q => Model.RutFunc1)
                @Html.HiddenFor(q => Model.DVFunc1)
                @Html.HiddenFor(q => Model.CalidadDescripcionFunc1)
                @Html.HiddenFor(q => Model.GradoDescripcionFunc1)
                @Html.HiddenFor(q => Model.CargoDescripcionFunc1)
                @Html.HiddenFor(q => Model.UnidadDescripcionFunc1)
                @Html.HiddenFor(q => Model.EmailFunc1)
                @Html.HiddenFor(q => Model.NombreChqFunc1)

                @Html.HiddenFor(q => Model.IdUnidadFunc2)
                @Html.HiddenFor(q => Model.IdCalidadFunc2)
                @Html.HiddenFor(q => Model.IdGradoFunc2)
                @Html.HiddenFor(q => Model.RutFunc2)
                @Html.HiddenFor(q => Model.DVFunc2)
                @Html.HiddenFor(q => Model.CalidadDescripcionFunc2)
                @Html.HiddenFor(q => Model.GradoDescripcionFunc2)
                @Html.HiddenFor(q => Model.CargoDescripcionFunc2)
                @Html.HiddenFor(q => Model.UnidadDescripcionFunc2)
                @Html.HiddenFor(q => Model.EmailFunc2)
                @Html.HiddenFor(q => Model.NombreChqFunc2)

                @Html.HiddenFor(q => Model.IdUnidadFunc3)
                @Html.HiddenFor(q => Model.IdCalidadFunc3)
                @Html.HiddenFor(q => Model.IdGradoFunc3)
                @Html.HiddenFor(q => Model.RutFunc3)
                @Html.HiddenFor(q => Model.DVFunc3)
                @Html.HiddenFor(q => Model.CalidadDescripcionFunc3)
                @Html.HiddenFor(q => Model.GradoDescripcionFunc3)
                @Html.HiddenFor(q => Model.CargoDescripcionFunc3)
                @Html.HiddenFor(q => Model.UnidadDescripcionFunc3)
                @Html.HiddenFor(q => Model.EmailFunc3)
                @Html.HiddenFor(q => Model.NombreChqFunc3)

                @Html.HiddenFor(q => Model.IdUnidadFunc4)
                @Html.HiddenFor(q => Model.IdCalidadFunc4)
                @Html.HiddenFor(q => Model.IdGradoFunc4)
                @Html.HiddenFor(q => Model.RutFunc4)
                @Html.HiddenFor(q => Model.DVFunc4)
                @Html.HiddenFor(q => Model.CalidadDescripcionFunc4)
                @Html.HiddenFor(q => Model.GradoDescripcionFunc4)
                @Html.HiddenFor(q => Model.CargoDescripcionFunc4)
                @Html.HiddenFor(q => Model.UnidadDescripcionFunc4)
                @Html.HiddenFor(q => Model.EmailFunc4)
                @Html.HiddenFor(q => Model.NombreChqFunc4)

                @Html.HiddenFor(q => Model.IdUnidadFunc5)
                @Html.HiddenFor(q => Model.IdCalidadFunc5)
                @Html.HiddenFor(q => Model.IdGradoFunc5)
                @Html.HiddenFor(q => Model.RutFunc5)
                @Html.HiddenFor(q => Model.DVFunc5)
                @Html.HiddenFor(q => Model.CalidadDescripcionFunc5)
                @Html.HiddenFor(q => Model.GradoDescripcionFunc5)
                @Html.HiddenFor(q => Model.CargoDescripcionFunc5)
                @Html.HiddenFor(q => Model.UnidadDescripcionFunc5)
                @Html.HiddenFor(q => Model.EmailFunc5)
                @Html.HiddenFor(q => Model.NombreChqFunc5)

                @Html.HiddenFor(q => Model.IdUnidadFunc6)
                @Html.HiddenFor(q => Model.IdCalidadFunc6)
                @Html.HiddenFor(q => Model.IdGradoFunc6)
                @Html.HiddenFor(q => Model.RutFunc6)
                @Html.HiddenFor(q => Model.DVFunc6)
                @Html.HiddenFor(q => Model.CalidadDescripcionFunc6)
                @Html.HiddenFor(q => Model.GradoDescripcionFunc6)
                @Html.HiddenFor(q => Model.CargoDescripcionFunc6)
                @Html.HiddenFor(q => Model.UnidadDescripcionFunc6)
                @Html.HiddenFor(q => Model.EmailFunc6)
                @Html.HiddenFor(q => Model.NombreChqFunc6)

                @Html.HiddenFor(q => Model.IdUnidadFunc7)
                @Html.HiddenFor(q => Model.IdCalidadFunc7)
                @Html.HiddenFor(q => Model.IdGradoFunc7)
                @Html.HiddenFor(q => Model.RutFunc7)
                @Html.HiddenFor(q => Model.DVFunc7)
                @Html.HiddenFor(q => Model.CalidadDescripcionFunc7)
                @Html.HiddenFor(q => Model.GradoDescripcionFunc7)
                @Html.HiddenFor(q => Model.CargoDescripcionFunc7)
                @Html.HiddenFor(q => Model.UnidadDescripcionFunc7)
                @Html.HiddenFor(q => Model.EmailFunc7)
                @Html.HiddenFor(q => Model.NombreChqFunc7)

                @Html.HiddenFor(q => Model.IdUnidadFunc8)
                @Html.HiddenFor(q => Model.IdCalidadFunc8)
                @Html.HiddenFor(q => Model.IdGradoFunc8)
                @Html.HiddenFor(q => Model.RutFunc8)
                @Html.HiddenFor(q => Model.DVFunc8)
                @Html.HiddenFor(q => Model.CalidadDescripcionFunc8)
                @Html.HiddenFor(q => Model.GradoDescripcionFunc8)
                @Html.HiddenFor(q => Model.CargoDescripcionFunc8)
                @Html.HiddenFor(q => Model.UnidadDescripcionFunc8)
                @Html.HiddenFor(q => Model.EmailFunc8)
                @Html.HiddenFor(q => Model.NombreChqFunc8)

                @Html.HiddenFor(q => Model.IdUnidadFunc9)
                @Html.HiddenFor(q => Model.IdCalidadFunc9)
                @Html.HiddenFor(q => Model.IdGradoFunc9)
                @Html.HiddenFor(q => Model.RutFunc9)
                @Html.HiddenFor(q => Model.DVFunc9)
                @Html.HiddenFor(q => Model.CalidadDescripcionFunc9)
                @Html.HiddenFor(q => Model.GradoDescripcionFunc9)
                @Html.HiddenFor(q => Model.CargoDescripcionFunc9)
                @Html.HiddenFor(q => Model.UnidadDescripcionFunc9)
                @Html.HiddenFor(q => Model.EmailFunc9)
                @Html.HiddenFor(q => Model.NombreChqFunc9)

                @Html.HiddenFor(q => Model.IdUnidadFunc10)
                @Html.HiddenFor(q => Model.IdCalidadFunc10)
                @Html.HiddenFor(q => Model.IdGradoFunc10)
                @Html.HiddenFor(q => Model.RutFunc10)
                @Html.HiddenFor(q => Model.DVFunc10)
                @Html.HiddenFor(q => Model.CalidadDescripcionFunc10)
                @Html.HiddenFor(q => Model.GradoDescripcionFunc10)
                @Html.HiddenFor(q => Model.CargoDescripcionFunc10)
                @Html.HiddenFor(q => Model.UnidadDescripcionFunc10)
                @Html.HiddenFor(q => Model.EmailFunc10)
                @Html.HiddenFor(q => Model.NombreChqFunc10)

                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Formulario Horas Compensatorias</span>
                        @*@Html.ValidationMessageFor(m => Model.Comuna, "", new { @class = "red-text" })*@
                        <div class="row">
                            <div class="input-field col s12 m10 l10">
                                <strong>Datos del Proceso : </strong>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.LabelFor(m => Model.Fecha)
                                @Html.DisplayFor(m => Model.Fecha)
                                @Html.ValidationMessageFor(m => Model.Fecha, "", new { @class = "red-text" })
                            </div><br />
                            <div class="input-field col s12 m10 l7">
                                @Html.DropDownListFor(m => Model.Mes, new List<SelectListItem>
                                { new SelectListItem { Text = "Enero", Value = "Enero"},
                                  new SelectListItem { Text = "Febrero", Value = "Febrero"},
                                  new SelectListItem { Text = "Marzo", Value = "Marzo"},
                                  new SelectListItem { Text = "Abril", Value = "Abril"},
                                  new SelectListItem { Text = "Mayo", Value = "Mayo"},
                                  new SelectListItem { Text = "Junio", Value = "Junio"},
                                  new SelectListItem { Text = "Julio", Value = "Julio"},
                                  new SelectListItem { Text = "Agosto", Value = "Agosto"},
                                  new SelectListItem { Text = "Septiembre", Value = "Septiembre"},
                                  new SelectListItem { Text = "Octubre", Value = "Octubre"},
                                  new SelectListItem { Text = "Noviembre", Value = "Noviembre"},
                                  new SelectListItem { Text = "Diciembre", Value = "Diciembre"}})
                                @Html.LabelFor(m => Model.Mes)
                                @Html.ValidationMessageFor(m => Model.Mes, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l7">
                                @Html.DropDownListFor(m => Model.Annio, new List<SelectListItem>
                                { new SelectListItem { Text = "2020", Value = "2020"},
                                  new SelectListItem { Text = "2021", Value = "2021"},
                                  new SelectListItem { Text = "2022", Value = "2022"},
                                  new SelectListItem { Text = "2023", Value = "2023"},
                                  new SelectListItem { Text = "2024", Value = "2024"},
                                  new SelectListItem { Text = "2025", Value = "2025"},
                                  new SelectListItem { Text = "2026", Value = "2026"},
                                  new SelectListItem { Text = "2027", Value = "2027"},
                                  new SelectListItem { Text = "2028", Value = "2028"},
                                  new SelectListItem { Text = "2029", Value = "2029"},
                                  new SelectListItem { Text = "2030", Value = "2030"},
                                  new SelectListItem { Text = "2031", Value = "2031"}})
                                @Html.LabelFor(m => Model.Mes)
                                @Html.ValidationMessageFor(m => Model.Mes, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <strong>Datos de la jefatura : </strong>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.TextBoxFor(m => Model.UnidadDescripcion)
                                @Html.LabelFor(m => Model.UnidadDescripcion)
                                @Html.ValidationMessageFor(m => Model.UnidadDescripcion, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.DropDownListFor(m => Model.NombreId, null, "Seleccione...")
                                @Html.LabelFor(m => Model.NombreId)
                                @Html.ValidationMessageFor(m => Model.NombreId, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <strong>Datos del Funcionario 1 : </strong>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.TextBoxFor(m => Model.UnidadDescripcionFunc1)
                                @Html.LabelFor(m => Model.UnidadDescripcionFunc1)
                                @Html.ValidationMessageFor(m => Model.UnidadDescripcionFunc1, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l8">
                                @Html.DropDownListFor(m => Model.NombreIdFunc1, null, "Seleccione...")
                                @Html.LabelFor(m => Model.NombreIdFunc1)
                                @Html.ValidationMessageFor(m => Model.NombreIdFunc1, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l3">
                                @Html.LabelFor(m => Model.HorasFunc1)
                                @Html.TextBoxFor(m => Model.HorasFunc1)
                                @Html.ValidationMessageFor(m => Model.HorasFunc1, "", new { @class = "red-text" })
                            </div><br>
                            <div class="input-field col s12 m10 l7">
                                @Html.DropDownListFor(m => m.TipoHoraFunc1, new List<SelectListItem>
                                { new SelectListItem { Text = "N° de Horas a Compensar (Diurnas)", Value = "N° de Horas a Compensar (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Compensar (Nocturnas)", Value = "N° de Horas a Compensar (Nocturnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"}}, "Seleccione un Tipo de Hora")
                                @Html.LabelFor(m => Model.TipoHoraFunc1)
                                @Html.ValidationMessageFor(m => Model.TipoHoraFunc1, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.LabelFor(m => Model.TareaFunc1)
                                @Html.TextAreaFor(m => Model.TareaFunc1, new { @class = "materialize-textarea" })
                                @Html.ValidationMessageFor(m => Model.TareaFunc1, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <strong>Datos del Funcionario 2 : </strong>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.TextBoxFor(m => Model.UnidadDescripcionFunc2)
                                @Html.LabelFor(m => Model.UnidadDescripcionFunc2)
                                @Html.ValidationMessageFor(m => Model.UnidadDescripcionFunc2, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l8">
                                @Html.DropDownListFor(m => Model.NombreIdFunc2, null, "Seleccione...")
                                @Html.LabelFor(m => Model.NombreIdFunc2)
                                @Html.ValidationMessageFor(m => Model.NombreIdFunc2, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l3">
                                @Html.LabelFor(m => Model.HorasFunc2)
                                @Html.TextBoxFor(m => Model.HorasFunc2)
                                @Html.ValidationMessageFor(m => Model.HorasFunc2, "", new { @class = "red-text" })
                            </div><br>
                            <div class="input-field col s12 m10 l7">
                                @Html.DropDownListFor(m => m.TipoHoraFunc2, new List<SelectListItem>
                                { new SelectListItem { Text = "N° de Horas a Compensar (Diurnas)", Value = "N° de Horas a Compensar (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Compensar (Nocturnas)", Value = "N° de Horas a Compensar (Nocturnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"}}, "Seleccione un Tipo de Hora")
                                @Html.LabelFor(m => Model.TipoHoraFunc2)
                                @Html.ValidationMessageFor(m => Model.TipoHoraFunc2, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.LabelFor(m => Model.TareaFunc2)
                                @Html.TextAreaFor(m => Model.TareaFunc2, new { @class = "materialize-textarea" })
                                @Html.ValidationMessageFor(m => Model.TareaFunc2, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <strong>Datos del Funcionario 3 : </strong>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.TextBoxFor(m => Model.UnidadDescripcionFunc3)
                                @Html.LabelFor(m => Model.UnidadDescripcionFunc3)
                                @Html.ValidationMessageFor(m => Model.UnidadDescripcionFunc3, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l8">
                                @Html.DropDownListFor(m => Model.NombreIdFunc3, null, "Seleccione...")
                                @Html.LabelFor(m => Model.NombreIdFunc3)
                                @Html.ValidationMessageFor(m => Model.NombreIdFunc3, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l3">
                                @Html.LabelFor(m => Model.HorasFunc3)
                                @Html.TextBoxFor(m => Model.HorasFunc3)
                                @Html.ValidationMessageFor(m => Model.HorasFunc3, "", new { @class = "red-text" })
                            </div><br>
                            <div class="input-field col s12 m10 l7">
                                @Html.DropDownListFor(m => m.TipoHoraFunc3, new List<SelectListItem>
                                { new SelectListItem { Text = "N° de Horas a Compensar (Diurnas)", Value = "N° de Horas a Compensar (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Compensar (Nocturnas)", Value = "N° de Horas a Compensar (Nocturnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"}}, "Seleccione un Tipo de Hora")
                                @Html.LabelFor(m => Model.TipoHoraFunc3)
                                @Html.ValidationMessageFor(m => Model.TipoHoraFunc3, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.LabelFor(m => Model.TareaFunc3)
                                @Html.TextAreaFor(m => Model.TareaFunc3, new { @class = "materialize-textarea" })
                                @Html.ValidationMessageFor(m => Model.TareaFunc3, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <strong>Datos del Funcionario 4 : </strong>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.TextBoxFor(m => Model.UnidadDescripcionFunc4)
                                @Html.LabelFor(m => Model.UnidadDescripcionFunc4)
                                @Html.ValidationMessageFor(m => Model.UnidadDescripcionFunc4, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l8">
                                @Html.DropDownListFor(m => Model.NombreIdFunc4, null, "Seleccione...")
                                @Html.LabelFor(m => Model.NombreIdFunc4)
                                @Html.ValidationMessageFor(m => Model.NombreIdFunc4, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l3">
                                @Html.LabelFor(m => Model.HorasFunc4)
                                @Html.TextBoxFor(m => Model.HorasFunc4)
                                @Html.ValidationMessageFor(m => Model.HorasFunc4, "", new { @class = "red-text" })
                            </div><br>
                            <div class="input-field col s12 m10 l7">
                                @Html.DropDownListFor(m => m.TipoHoraFunc4, new List<SelectListItem>
                                { new SelectListItem { Text = "N° de Horas a Compensar (Diurnas)", Value = "N° de Horas a Compensar (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Compensar (Nocturnas)", Value = "N° de Horas a Compensar (Nocturnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"}}, "Seleccione un Tipo de Hora")
                                @Html.LabelFor(m => Model.TipoHoraFunc4)
                                @Html.ValidationMessageFor(m => Model.TipoHoraFunc4, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.LabelFor(m => Model.TareaFunc4)
                                @Html.TextAreaFor(m => Model.TareaFunc4, new { @class = "materialize-textarea" })
                                @Html.ValidationMessageFor(m => Model.TareaFunc4, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <strong>Datos del Funcionario 5 : </strong>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.TextBoxFor(m => Model.UnidadDescripcionFunc5)
                                @Html.LabelFor(m => Model.UnidadDescripcionFunc5)
                                @Html.ValidationMessageFor(m => Model.UnidadDescripcionFunc5, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l8">
                                @Html.DropDownListFor(m => Model.NombreIdFunc5, null, "Seleccione...")
                                @Html.LabelFor(m => Model.NombreIdFunc5)
                                @Html.ValidationMessageFor(m => Model.NombreIdFunc5, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l3">
                                @Html.LabelFor(m => Model.HorasFunc5)
                                @Html.TextBoxFor(m => Model.HorasFunc5)
                                @Html.ValidationMessageFor(m => Model.HorasFunc5, "", new { @class = "red-text" })
                            </div><br>
                            <div class="input-field col s12 m10 l7">
                                @Html.DropDownListFor(m => m.TipoHoraFunc5, new List<SelectListItem>
                                { new SelectListItem { Text = "N° de Horas a Compensar (Diurnas)", Value = "N° de Horas a Compensar (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Compensar (Nocturnas)", Value = "N° de Horas a Compensar (Nocturnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"}}, "Seleccione un Tipo de Hora")
                                @Html.LabelFor(m => Model.TipoHoraFunc5)
                                @Html.ValidationMessageFor(m => Model.TipoHoraFunc5, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.LabelFor(m => Model.TareaFunc5)
                                @Html.TextAreaFor(m => Model.TareaFunc5, new { @class = "materialize-textarea" })
                                @Html.ValidationMessageFor(m => Model.TareaFunc5, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <strong>Datos del Funcionario 6 : </strong>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.TextBoxFor(m => Model.UnidadDescripcionFunc6)
                                @Html.LabelFor(m => Model.UnidadDescripcionFunc6)
                                @Html.ValidationMessageFor(m => Model.UnidadDescripcionFunc6, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l8">
                                @Html.DropDownListFor(m => Model.NombreIdFunc6, null, "Seleccione...")
                                @Html.LabelFor(m => Model.NombreIdFunc6)
                                @Html.ValidationMessageFor(m => Model.NombreIdFunc6, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l3">
                                @Html.LabelFor(m => Model.HorasFunc6)
                                @Html.TextBoxFor(m => Model.HorasFunc6)
                                @Html.ValidationMessageFor(m => Model.HorasFunc6, "", new { @class = "red-text" })
                            </div><br>
                            <div class="input-field col s12 m10 l7">
                                @Html.DropDownListFor(m => m.TipoHoraFunc6, new List<SelectListItem>
                                { new SelectListItem { Text = "N° de Horas a Compensar (Diurnas)", Value = "N° de Horas a Compensar (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Compensar (Nocturnas)", Value = "N° de Horas a Compensar (Nocturnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"}}, "Seleccione un Tipo de Hora")
                                @Html.LabelFor(m => Model.TipoHoraFunc6)
                                @Html.ValidationMessageFor(m => Model.TipoHoraFunc6, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.LabelFor(m => Model.TareaFunc6)
                                @Html.TextAreaFor(m => Model.TareaFunc6, new { @class = "materialize-textarea" })
                                @Html.ValidationMessageFor(m => Model.TareaFunc6, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <strong>Datos del Funcionario 7 : </strong>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.TextBoxFor(m => Model.UnidadDescripcionFunc7)
                                @Html.LabelFor(m => Model.UnidadDescripcionFunc7)
                                @Html.ValidationMessageFor(m => Model.UnidadDescripcionFunc7, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l8">
                                @Html.DropDownListFor(m => Model.NombreIdFunc7, null, "Seleccione...")
                                @Html.LabelFor(m => Model.NombreIdFunc7)
                                @Html.ValidationMessageFor(m => Model.NombreIdFunc7, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l3">
                                @Html.LabelFor(m => Model.HorasFunc7)
                                @Html.TextBoxFor(m => Model.HorasFunc7)
                                @Html.ValidationMessageFor(m => Model.HorasFunc7, "", new { @class = "red-text" })
                            </div><br>
                            <div class="input-field col s12 m10 l7">
                                @Html.DropDownListFor(m => m.TipoHoraFunc7, new List<SelectListItem>
                                { new SelectListItem { Text = "N° de Horas a Compensar (Diurnas)", Value = "N° de Horas a Compensar (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Compensar (Nocturnas)", Value = "N° de Horas a Compensar (Nocturnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"}}, "Seleccione un Tipo de Hora")
                                @Html.LabelFor(m => Model.TipoHoraFunc7)
                                @Html.ValidationMessageFor(m => Model.TipoHoraFunc7, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.LabelFor(m => Model.TareaFunc7)
                                @Html.TextAreaFor(m => Model.TareaFunc7, new { @class = "materialize-textarea" })
                                @Html.ValidationMessageFor(m => Model.TareaFunc7, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <strong>Datos del Funcionario 8 : </strong>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.TextBoxFor(m => Model.UnidadDescripcionFunc8)
                                @Html.LabelFor(m => Model.UnidadDescripcionFunc8)
                                @Html.ValidationMessageFor(m => Model.UnidadDescripcionFunc8, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l8">
                                @Html.DropDownListFor(m => Model.NombreIdFunc8, null, "Seleccione...")
                                @Html.LabelFor(m => Model.NombreIdFunc8)
                                @Html.ValidationMessageFor(m => Model.NombreIdFunc8, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l3">
                                @Html.LabelFor(m => Model.HorasFunc8)
                                @Html.TextBoxFor(m => Model.HorasFunc8)
                                @Html.ValidationMessageFor(m => Model.HorasFunc8, "", new { @class = "red-text" })
                            </div><br>
                            <div class="input-field col s12 m10 l7">
                                @Html.DropDownListFor(m => m.TipoHoraFunc8, new List<SelectListItem>
                                { new SelectListItem { Text = "N° de Horas a Compensar (Diurnas)", Value = "N° de Horas a Compensar (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Compensar (Nocturnas)", Value = "N° de Horas a Compensar (Nocturnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"}}, "Seleccione un Tipo de Hora")
                                @Html.LabelFor(m => Model.TipoHoraFunc8)
                                @Html.ValidationMessageFor(m => Model.TipoHoraFunc8, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.LabelFor(m => Model.TareaFunc8)
                                @Html.TextAreaFor(m => Model.TareaFunc8, new { @class = "materialize-textarea" })
                                @Html.ValidationMessageFor(m => Model.TareaFunc8, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <strong>Datos del Funcionario 9 : </strong>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.TextBoxFor(m => Model.UnidadDescripcionFunc9)
                                @Html.LabelFor(m => Model.UnidadDescripcionFunc9)
                                @Html.ValidationMessageFor(m => Model.UnidadDescripcionFunc9, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l8">
                                @Html.DropDownListFor(m => Model.NombreIdFunc9, null, "Seleccione...")
                                @Html.LabelFor(m => Model.NombreIdFunc9)
                                @Html.ValidationMessageFor(m => Model.NombreIdFunc9, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l3">
                                @Html.LabelFor(m => Model.HorasFunc9)
                                @Html.TextBoxFor(m => Model.HorasFunc9)
                                @Html.ValidationMessageFor(m => Model.HorasFunc9, "", new { @class = "red-text" })
                            </div><br>
                            <div class="input-field col s12 m10 l7">
                                @Html.DropDownListFor(m => m.TipoHoraFunc9, new List<SelectListItem>
                                { new SelectListItem { Text = "N° de Horas a Compensar (Diurnas)", Value = "N° de Horas a Compensar (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Compensar (Nocturnas)", Value = "N° de Horas a Compensar (Nocturnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"}}, "Seleccione un Tipo de Hora")
                                @Html.LabelFor(m => Model.TipoHoraFunc9)
                                @Html.ValidationMessageFor(m => Model.TipoHoraFunc9, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.LabelFor(m => Model.TareaFunc9)
                                @Html.TextAreaFor(m => Model.TareaFunc9, new { @class = "materialize-textarea" })
                                @Html.ValidationMessageFor(m => Model.TareaFunc9, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <strong>Datos del Funcionario 10 : </strong>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.TextBoxFor(m => Model.UnidadDescripcionFunc10)
                                @Html.LabelFor(m => Model.UnidadDescripcionFunc10)
                                @Html.ValidationMessageFor(m => Model.UnidadDescripcionFunc10, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l8">
                                @Html.DropDownListFor(m => Model.NombreIdFunc10, null, "Seleccione...")
                                @Html.LabelFor(m => Model.NombreIdFunc10)
                                @Html.ValidationMessageFor(m => Model.NombreIdFunc10, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l3">
                                @Html.LabelFor(m => Model.HorasFunc10)
                                @Html.TextBoxFor(m => Model.HorasFunc10)
                                @Html.ValidationMessageFor(m => Model.HorasFunc10, "", new { @class = "red-text" })
                            </div><br>
                            <div class="input-field col s12 m10 l7">
                                @Html.DropDownListFor(m => m.TipoHoraFunc10, new List<SelectListItem>
                                { new SelectListItem { Text = "N° de Horas a Compensar (Diurnas)", Value = "N° de Horas a Compensar (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"},
                                  new SelectListItem { Text = "N° de Horas a Compensar (Nocturnas)", Value = "N° de Horas a Compensar (Nocturnas)"},
                                  new SelectListItem { Text = "N° de Horas a Pago (Diurnas)", Value = "N° de Horas a Pago (Diurnas)"}}, "Seleccione un Tipo de Hora")
                                @Html.LabelFor(m => Model.TipoHoraFunc10)
                                @Html.ValidationMessageFor(m => Model.TipoHoraFunc10, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.LabelFor(m => Model.TareaFunc10)
                                @Html.TextAreaFor(m => Model.TareaFunc10, new { @class = "materialize-textarea" })
                                @Html.ValidationMessageFor(m => Model.TareaFunc10, "", new { @class = "red-text" })
                            </div>
                        </div>
                        <div class="section"></div>
                        <p>
                            <button class="waves-effect waves-light btn blue" type="submit">Guardar</button>
                        </p>
                    </div>
                </div>
            }
        </div>
        <div class="col s12 m6 l6">
            @Html.Action("Documents", "Workflow", new { Model.WorkflowId })
            @Html.Action("History", "Workflow", new { Model.WorkflowId })
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('select').formSelect();
        $('#vis2').hide();
        $('#vis3').hide();
        $('#vis4').hide();
        $('#vis5').hide();
        $('#vis6').hide();
        $('#vis7').hide();
        $('#vis8').hide();
        $('#vis9').hide();
        $('#vis10').hide();
        $('input:hidden').each(function (index, element) {
            $(element).appendTo($(element).parent());
        });
    });

    $('input:radio[name="VisaChk1"]').change(function () {
        if (document.getElementById("VisaChk1").checked == true) {
            $('#vis2').show();
        }
        else {
            $('#vis2').hide();
        }
    });

    $('input:radio[name="VisaChk2"]').change(function () {
        if (document.getElementById("VisaChk2").checked == true) {
            $('#vis3').show();
        }
        else {
            $('#vis3').hide();
        }
    });

    $('input:radio[name="VisaChk3"]').change(function () {
        if (document.getElementById("VisaChk3").checked == true) {
            $('#vis4').show();
        }
        else {
            $('#vis4').hide();
        }
    });

    $('input:radio[name="VisaChk4"]').change(function () {
        if (document.getElementById("VisaChk4").checked == true) {
            $('#vis5').show();
        }
        else {
            $('#vis5').hide();
        }
    });

    $('input:radio[name="VisaChk5"]').change(function () {
        if (document.getElementById("VisaChk5").checked == true) {
            $('#vis6').show();
        }
        else {
            $('#vis6').hide();
        }
    });

    $('input:radio[name="VisaChk6"]').change(function () {
        if (document.getElementById("VisaChk6").checked == true) {
            $('#vis7').show();
        }
        else {
            $('#vis7').hide();
        }
    });

    $('input:radio[name="VisaChk7"]').change(function () {
        if (document.getElementById("VisaChk7").checked == true) {
            $('#vis8').show();
        }
        else {
            $('#vis8').hide();
        }
    });

    $('input:radio[name="VisaChk8"]').change(function () {
        if (document.getElementById("VisaChk8").checked == true) {
            $('#vis9').show();
        }
        else {
            $('#vis9').hide();
        }
    });

    $('input:radio[name="VisaChk9"]').change(function () {
        if (document.getElementById("VisaChk9").checked == true) {
            $('#vis10').show();
        }
        else {
            $('#vis10').hide();
        }
    });

    /*Carga usuario por seleccion de dropdown*/
    $('#NombreId').on('change', function () {
        var Rut = $(this).val(); /*alert(Rut);*/
        $.getJSON("/ProgramacionHorasExtraordinarias/GetUsuario", { Rut: Rut },
            function (classesData) {
                //alert(classesData["IdUnidad"]);
                document.getElementById('Rut').value = classesData["Rut"];
                document.getElementById('DV').value = classesData["DV"];
                document.getElementById('EmailRem').value = classesData["EmailRem"];
                document.getElementById('NombreChqRem').value = classesData["NombreChqRem"];
                document.getElementById('IdCargo').value = classesData["IdCargo"];
                document.getElementById('CargoDescripcion').value = classesData["Cargo"];
                document.getElementById('IdCalidad').value = classesData["IdCalidad"];
                document.getElementById('CalidadDescripcion').value = classesData["CalidadJuridica"];
                document.getElementById('IdUnidad').value = classesData["IdUnidad"];
                document.getElementById('UnidadDescripcion').value = classesData["Unidad"];
            });
    });

    /*Carga usuario por seleccion de dropdown*/
    $('#NombreIdFunc1').on('change', function () {
        var RutFunc1 = $(this).val(); /*alert(Rut);*/
        $.getJSON("/ProgramacionHorasExtraordinarias/GetUsuarioFunc1", { RutFunc1: RutFunc1 },
            function (classesData) {
                //alert(classesData["IdUnidadVisa1"]);
                document.getElementById('RutFunc1').value = classesData["RutFunc1"];
                document.getElementById('DVFunc1').value = classesData["DVFunc1"];
                document.getElementById('EmailFunc1').value = classesData["EmailFunc1"];
                document.getElementById('NombreChqFunc1').value = classesData["NombreChqFunc1"];
                //document.getElementById('IdCargoFunc1').value = classesData["IdCargoFunc1"];
                //document.getElementById('CargoDescripcionFunc1').value = classesData["CargoFunc1"];
                //document.getElementById('IdCalidadFunc1').value = classesData["IdCalidadFunc1"];
                //document.getElementById('CalidadDescripcionFunc1').value = classesData["CalidadJuridicaFunc1"];
                document.getElementById('IdUnidadFunc1').value = classesData["IdUnidadFunc1"];
                document.getElementById('UnidadDescripcionFunc1').value = classesData["UnidadFunc1"];
            });
    });

    /*Carga usuario por seleccion de dropdown*/
    $('#NombreIdFunc2').on('change', function () {
        var RutFunc2 = $(this).val(); /*alert(Rut);*/
        $.getJSON("/ProgramacionHorasExtraordinarias/GetUsuarioFunc2", { RutFunc2: RutFunc2 },
            function (classesData) {
                //alert(classesData["IdUnidadVisa1"]);
                document.getElementById('RutFunc2').value = classesData["RutFunc2"];
                document.getElementById('DVFunc2').value = classesData["DVFunc2"];
                document.getElementById('EmailFunc2').value = classesData["EmailFunc2"];
                document.getElementById('NombreChqFunc2').value = classesData["NombreChqFunc2"];
                //document.getElementById('IdCargoFunc2').value = classesData["IdCargoFunc2"];
                //document.getElementById('CargoDescripcionFunc2').value = classesData["CargoFunc2"];
                //document.getElementById('IdCalidadFunc2').value = classesData["IdCalidadFunc2"];
                //document.getElementById('CalidadDescripcionFunc2').value = classesData["CalidadJuridicaFunc2"];
                document.getElementById('IdUnidadFunc2').value = classesData["IdUnidadFunc2"];
                document.getElementById('UnidadDescripcionFunc2').value = classesData["UnidadFunc2"];
            });
    });

    /*Carga usuario por seleccion de dropdown*/
    $('#NombreIdFunc3').on('change', function () {
        var RutFunc3 = $(this).val(); /*alert(Rut);*/
        $.getJSON("/ProgramacionHorasExtraordinarias/GetUsuarioFunc3", { RutFunc3: RutFunc3 },
            function (classesData) {
                //alert(classesData["IdUnidadVisa1"]);
                document.getElementById('RutFunc3').value = classesData["RutFunc3"];
                document.getElementById('DVFunc3').value = classesData["DVFunc2"];
                document.getElementById('EmailFunc3').value = classesData["EmailFunc3"];
                document.getElementById('NombreChqFunc3').value = classesData["NombreChqFunc3"];
                //document.getElementById('IdCargoFunc3').value = classesData["IdCargoFunc2"];
                //document.getElementById('CargoDescripcionFunc2').value = classesData["CargoFunc2"];
                //document.getElementById('IdCalidadFunc2').value = classesData["IdCalidadFunc2"];
                //document.getElementById('CalidadDescripcionFunc2').value = classesData["CalidadJuridicaFunc2"];
                document.getElementById('IdUnidadFunc3').value = classesData["IdUnidadFunc3"];
                document.getElementById('UnidadDescripcionFunc3').value = classesData["UnidadFunc3"];
            });
    });

    /*Carga usuario por seleccion de dropdown*/
    $('#NombreIdFunc4').on('change', function () {
        var RutFunc4 = $(this).val(); /*alert(Rut);*/
        $.getJSON("/ProgramacionHorasExtraordinarias/GetUsuarioFunc4", { RutFunc4: RutFunc4 },
            function (classesData) {
                //alert(classesData["IdUnidadVisa1"]);
                document.getElementById('RutFunc4').value = classesData["RutFunc4"];
                document.getElementById('DVFunc4').value = classesData["DVFunc4"];
                document.getElementById('EmailFunc4').value = classesData["EmailFunc4"];
                document.getElementById('NombreChqFunc4').value = classesData["NombreChqFunc4"];
                //document.getElementById('IdCargoFunc2').value = classesData["IdCargoFunc2"];
                //document.getElementById('CargoDescripcionFunc2').value = classesData["CargoFunc2"];
                //document.getElementById('IdCalidadFunc2').value = classesData["IdCalidadFunc2"];
                //document.getElementById('CalidadDescripcionFunc2').value = classesData["CalidadJuridicaFunc2"];
                document.getElementById('IdUnidadFunc4').value = classesData["IdUnidadFunc4"];
                document.getElementById('UnidadDescripcionFunc4').value = classesData["UnidadFunc4"];
            });
    });

    /*Carga usuario por seleccion de dropdown*/
    $('#NombreIdFunc5').on('change', function () {
        var RutFunc5 = $(this).val(); /*alert(Rut);*/
        $.getJSON("/ProgramacionHorasExtraordinarias/GetUsuarioFunc5", { RutFunc5: RutFunc5 },
            function (classesData) {
                //alert(classesData["IdUnidadVisa1"]);
                document.getElementById('RutFunc5').value = classesData["RutFunc5"];
                document.getElementById('DVFunc5').value = classesData["DVFunc5"];
                document.getElementById('EmailFunc5').value = classesData["EmailFunc5"];
                document.getElementById('NombreChqFunc5').value = classesData["NombreChqFunc5"];
                //document.getElementById('IdCargoFunc2').value = classesData["IdCargoFunc2"];
                //document.getElementById('CargoDescripcionFunc2').value = classesData["CargoFunc2"];
                //document.getElementById('IdCalidadFunc2').value = classesData["IdCalidadFunc2"];
                //document.getElementById('CalidadDescripcionFunc2').value = classesData["CalidadJuridicaFunc2"];
                document.getElementById('IdUnidadFunc5').value = classesData["IdUnidadFunc5"];
                document.getElementById('UnidadDescripcionFunc5').value = classesData["UnidadFunc5"];
            });
    });

    /*Carga usuario por seleccion de dropdown*/
    $('#NombreIdFunc6').on('change', function () {
        var RutFunc6 = $(this).val(); /*alert(Rut);*/
        $.getJSON("/ProgramacionHorasExtraordinarias/GetUsuarioFunc6", { RutFunc6: RutFunc6 },
            function (classesData) {
                //alert(classesData["IdUnidadVisa1"]);
                document.getElementById('RutFunc6').value = classesData["RutFunc6"];
                document.getElementById('DVFunc6').value = classesData["DVFunc6"];
                document.getElementById('EmailFunc6').value = classesData["EmailFunc6"];
                document.getElementById('NombreChqFunc6').value = classesData["NombreChqFunc6"];
                //document.getElementById('IdCargoFunc2').value = classesData["IdCargoFunc2"];
                //document.getElementById('CargoDescripcionFunc2').value = classesData["CargoFunc2"];
                //document.getElementById('IdCalidadFunc2').value = classesData["IdCalidadFunc2"];
                //document.getElementById('CalidadDescripcionFunc2').value = classesData["CalidadJuridicaFunc2"];
                document.getElementById('IdUnidadFunc6').value = classesData["IdUnidadFunc6"];
                document.getElementById('UnidadDescripcionFunc6').value = classesData["UnidadFunc6"];
            });
    });

    /*Carga usuario por seleccion de dropdown*/
    $('#NombreIdFunc7').on('change', function () {
        var RutFunc7 = $(this).val(); /*alert(Rut);*/
        $.getJSON("/ProgramacionHorasExtraordinarias/GetUsuarioFunc7", { RutFunc7: RutFunc7 },
            function (classesData) {
                //alert(classesData["IdUnidadVisa1"]);
                document.getElementById('RutFunc7').value = classesData["RutFunc7"];
                document.getElementById('DVFunc7').value = classesData["DVFunc7"];
                document.getElementById('EmailFunc7').value = classesData["EmailFunc7"];
                document.getElementById('NombreChqFunc7').value = classesData["NombreChqFunc7"];
                //document.getElementById('IdCargoFunc2').value = classesData["IdCargoFunc2"];
                //document.getElementById('CargoDescripcionFunc2').value = classesData["CargoFunc2"];
                //document.getElementById('IdCalidadFunc2').value = classesData["IdCalidadFunc2"];
                //document.getElementById('CalidadDescripcionFunc2').value = classesData["CalidadJuridicaFunc2"];
                document.getElementById('IdUnidadFunc7').value = classesData["IdUnidadFunc7"];
                document.getElementById('UnidadDescripcionFunc7').value = classesData["UnidadFunc7"];
            });
    });

    /*Carga usuario por seleccion de dropdown*/
    $('#NombreIdFunc8').on('change', function () {
        var RutFunc8 = $(this).val(); /*alert(Rut);*/
        $.getJSON("/ProgramacionHorasExtraordinarias/GetUsuarioFunc8", { RutFunc8: RutFunc8 },
            function (classesData) {
                //alert(classesData["IdUnidadVisa1"]);
                document.getElementById('RutFunc8').value = classesData["RutFunc8"];
                document.getElementById('DVFunc8').value = classesData["DVFunc8"];
                document.getElementById('EmailFunc8').value = classesData["EmailFunc8"];
                document.getElementById('NombreChqFunc8').value = classesData["NombreChqFunc8"];
                //document.getElementById('IdCargoFunc2').value = classesData["IdCargoFunc2"];
                //document.getElementById('CargoDescripcionFunc2').value = classesData["CargoFunc2"];
                //document.getElementById('IdCalidadFunc2').value = classesData["IdCalidadFunc2"];
                //document.getElementById('CalidadDescripcionFunc2').value = classesData["CalidadJuridicaFunc2"];
                document.getElementById('IdUnidadFunc8').value = classesData["IdUnidadFunc8"];
                document.getElementById('UnidadDescripcionFunc8').value = classesData["UnidadFunc8"];
            });
    });

    /*Carga usuario por seleccion de dropdown*/
    $('#NombreIdFunc9').on('change', function () {
        var RutFunc9 = $(this).val(); /*alert(Rut);*/
        $.getJSON("/ProgramacionHorasExtraordinarias/GetUsuarioFunc9", { RutFunc9: RutFunc9 },
            function (classesData) {
                //alert(classesData["IdUnidadVisa1"]);
                document.getElementById('RutFunc9').value = classesData["RutFunc9"];
                document.getElementById('DVFunc9').value = classesData["DVFunc9"];
                document.getElementById('EmailFunc9').value = classesData["EmailFunc9"];
                document.getElementById('NombreChqFunc9').value = classesData["NombreChqFunc9"];
                //document.getElementById('IdCargoFunc2').value = classesData["IdCargoFunc2"];
                //document.getElementById('CargoDescripcionFunc2').value = classesData["CargoFunc2"];
                //document.getElementById('IdCalidadFunc2').value = classesData["IdCalidadFunc2"];
                //document.getElementById('CalidadDescripcionFunc2').value = classesData["CalidadJuridicaFunc2"];
                document.getElementById('IdUnidadFunc9').value = classesData["IdUnidadFunc9"];
                document.getElementById('UnidadDescripcionFunc9').value = classesData["UnidadFunc9"];
            });
    });

    /*Carga usuario por seleccion de dropdown*/
    $('#NombreIdFunc2').on('change', function () {
        var RutFunc10 = $(this).val(); /*alert(Rut);*/
        $.getJSON("/ProgramacionHorasExtraordinarias/GetUsuarioFunc10", { RutFunc10: RutFunc10 },
            function (classesData) {
                //alert(classesData["IdUnidadVisa1"]);
                document.getElementById('RutFunc10').value = classesData["RutFunc10"];
                document.getElementById('DVFunc10').value = classesData["DVFunc10"];
                document.getElementById('EmailFunc10').value = classesData["EmailFunc10"];
                document.getElementById('NombreChqFunc10').value = classesData["NombreChqFunc10"];
                //document.getElementById('IdCargoFunc2').value = classesData["IdCargoFunc2"];
                //document.getElementById('CargoDescripcionFunc2').value = classesData["CargoFunc2"];
                //document.getElementById('IdCalidadFunc2').value = classesData["IdCalidadFunc2"];
                //document.getElementById('CalidadDescripcionFunc2').value = classesData["CalidadJuridicaFunc2"];
                document.getElementById('IdUnidadFunc10').value = classesData["IdUnidadFunc10"];
                document.getElementById('UnidadDescripcionFunc10').value = classesData["UnidadFunc10"];
            });
    });

    jQuery.datetimepicker.setLocale('es');
    jQuery('#Fechas').datetimepicker({
        i18n: {
            es: {
                months: [
                    'Enero', 'Febrero', 'Marzo', 'Abril',
                    'Mayo', 'Junio', 'Julio', 'Agosto',
                    'Septiembre', 'Octubre', 'Noviembre', 'Diciembre',
                ]
            }
        },
        timepicker: false,
        formatTime: 'H:i',
        formatDate: 'd-m-Y'
    });

</script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui-git.css" rel="stylesheet" />





