@model App.Model.GestionDocumental.GDIngreso

@Html.Action("Header", "Workflow", new { Model.WorkflowId })
@Html.HiddenFor(q => q.WorkflowId)
@Html.HiddenFor(q => q.ProcesoId)

<div class="container">
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Ingreso GD</span>
                    <div class="row">
                        <div class="input-field col s12 m10 l12">
                            @if (Model.BarCode != null)
                            {
                                @Html.DisplayNameFor(m => Model.BarCode)
                                <br />
                                <img id="barcodeimage" src="data:image;base64,@System.Convert.ToBase64String(Model.BarCode)" /><br />
                            }
                            <p class="card-title">@Html.DisplayFor(m => Model.Folio)</p>
                        </div>

                        <div class="input-field col s12 m10">
                            <strong>@Html.DisplayNameFor(m => Model.GDTipoIngresoId)</strong><br />
                            @Html.DisplayFor(m => Model.TipoIngreso.Nombre)
                        </div>
                        <div class="input-field col s12 m10">
                            <strong>@Html.DisplayNameFor(m => Model.UsuarioDestino)</strong><br />
                            @Html.DisplayFor(m => Model.UsuarioDestino)
                        </div>
                        @if (!string.IsNullOrWhiteSpace(Model.RazonSocial))
                        {
                            <div class="input-field col s12 m10">
                                <strong>@Html.DisplayNameFor(m => Model.RazonSocial)</strong><br />
                                @Html.DisplayFor(m => Model.RazonSocial)
                            </div>
                        }
                        <div class="input-field col s12 m10">
                            <strong>@Html.DisplayNameFor(m => Model.Asunto)</strong><br />
                            @Html.DisplayFor(m => Model.Asunto)
                        </div>
                        <div class="input-field col s12 m10">
                            <strong>@Html.DisplayNameFor(m => Model.Referencia)</strong><br />
                            @Html.DisplayFor(m => Model.Referencia)
                        </div>
                        <div class="input-field col s12 m10">
                            <strong>@Html.DisplayNameFor(m => Model.Descripcion)</strong><br />
                            @Html.DisplayFor(m => Model.Descripcion)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            @Html.Action("Documents", "Workflow", new { Model.WorkflowId })
            @Html.Action("History", "Workflow", new { Model.WorkflowId })
        </div>
    </div>
</div>

@Html.Action("Footer", "Workflow", new { Model.WorkflowId })
