@model App.Web.Controllers.FirmaDocumentoController.DTOFileUploadEdit

@Html.Action("Header", "Workflow", new { Model.WorkflowId })

<style>
    .container {
        width: 85%;
    }
</style>

<div class="container">
    @Html.Partial("_Message")
    <div class="row">
        <div class="col s12 m8 l8">
            @using (Html.BeginForm("Edit", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(q => Model.FirmaDocumentoId)
                @Html.HiddenFor(q => Model.ProcesoId)
                @Html.HiddenFor(q => Model.WorkflowId)
                @Html.AntiForgeryToken()

                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Ingreso de documento</span>

                        <div class="section"></div>
                        <div class="input-field">
                            @Html.DropDownListFor(m => Model.TipoDocumentoCodigo, null, "Seleccione...")
                            @Html.LabelFor(m => Model.TipoDocumentoCodigo)
                            @Html.ValidationMessageFor(m => Model.TipoDocumentoCodigo, "", new { @class = "red-text" })
                            <span class="helper-text">Indique el tipo de documento</span>
                        </div>

                        <div class="section"></div>
                        <div class="input-field">
                            @Html.EditorFor(m => Model.URL)
                            @Html.LabelFor(m => Model.URL)
                            @Html.ValidationMessageFor(m => Model.URL, "", new { @class = "text-danger" })
                        </div>


                        <div class="section"></div>

                        @Html.LabelFor(m => Model.FileUpload)<br />

                        <div class="file-field input-field">
                            <div class="btn grey">
                                <i class="material-icons">attach_file</i>
                                @Html.TextBoxFor(m => Model.FileUpload, null, new { @type = "file", @accept = "application/pdf" })

                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                            <span class="helper-text">Solo se permiten archivos con extensión .pdf</span>
                            @Html.ValidationMessageFor(model => model.FileUpload, "", new { @class = "red-text" })
                        </div>

                        @if (Model.File != null)
                        {
                            <div class="input-field">
                                <strong>@Html.DisplayNameFor(m => Model.File)</strong>
                                <embed src="@Url.Action("ShowDocumentoSinFirma", null, new { id = Model.FirmaDocumentoId })" type="application/pdf" width="100%" height="350px"></embed>
                            </div>
                        }



                        <div class="section"></div>
                        <div class="input-field">
                            @Html.TextBoxFor(m => Model.Comentario)
                            @Html.LabelFor(m => Model.Comentario)
                            @Html.ValidationMessageFor(m => Model.Comentario, "", new { @class = "text-danger" })
                        </div>
                        <p>
                            <button class="waves-effect waves-light btn blue" type="submit">Guardar</button>
                        </p>
                    </div>
                </div>
            }
        </div>
        <div class="col s12 m4 l4">
            @Html.Action("Documents", "Workflow", new { Model.WorkflowId })
            @Html.Action("History", "Workflow", new { Model.WorkflowId })
        </div>
    </div>
</div>

@Html.Action("Footer", "Workflow", new { Model.WorkflowId })

<script type="text/javascript">
    $(document).ready(function () {
        $('.modal').modal();
        $('select').formSelect();
        $('.tooltipped').tooltip();
    });
</script>