@model IEnumerable<App.Model.Core.Configuracion>

<h3>Configuración</h3>

<div class="card">
    <div class="card-content">
        @*<span class="card-title">Conceptos presupuestarios</span>*@
        <table class="table bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.ConfiguracionId })
                </td>
            </tr>
            }
        </table>
    </div>
</div>