@model App.Model.Core.DefinicionWorkflow

@{
    ViewBag.Title = "Editar nueva tarea";
    ViewBag.SubTitle = "Editar nueva tarea";
}
<div class="grey lighten-3 section">
    <div class="container section">
        <h3 class="header">@ViewBag.Title</h3>
        <h5 class="header light">@ViewBag.SubTitle</h5>
        <div class="section"></div>
    </div>
</div>
<div class="section"></div>

<div class="container">
    @Html.Partial("_Message")
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(q => Model.DefinicionWorkflowId)
        @Html.HiddenFor(q => Model.DefinicionProcesoId)
        @Html.HiddenFor(q => Model.Email)

        <div class="row">
            <div class="col l8">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Tarea</span>
                        <div class="row">
                            <div class="input-field col s12 m10 l10">
                                @Html.TextAreaFor(m => Model.Nombre, new { @class = "materialize-textarea" })
                                @Html.LabelFor(m => Model.Nombre)
                                @Html.ValidationMessageFor(m => Model.Nombre, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.TextAreaFor(m => Model.Instrucciones, new { @class = "materialize-textarea" })
                                @Html.LabelFor(m => Model.Instrucciones)
                                @Html.ValidationMessageFor(m => Model.Nombre, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.TextBoxFor(m => Model.Secuencia, new { @type = "number" })
                                @Html.LabelFor(m => Model.Secuencia)
                                @Html.ValidationMessageFor(m => Model.Secuencia, "", new { @class = "red-text" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Quien ejecuta la tarea</span>
                        <div class="row">
                            <div class="section"></div>
                            <div class="input-field col s12 m10 l10">
                                @Html.DropDownListFor(m => Model.TipoEjecucionId, null, "Seleccione...", new { @onchange = "onchangeevent();", @id = "ddlTipoEjecucionId" })
                                @Html.LabelFor(m => Model.TipoEjecucionId)
                                @Html.ValidationMessageFor(m => Model.TipoEjecucionId, "", new { @class = "red-text" })
                            </div>
                            <div id="GrupoId">
                                <div class="input-field col s12 m10 l10">
                                    @Html.DropDownListFor(m => Model.Pl_UndCod, null, "Seleccione...", new { @id = "ddlGrupoId" })
                                    @Html.LabelFor(m => Model.Pl_UndCod)
                                    @Html.ValidationMessageFor(m => Model.Pl_UndCod, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    @Html.DropDownListFor(m => Model.GrupoId, null, "Seleccione...", new { @id = "ddlGrupoId" })
                                    @Html.LabelFor(m => Model.GrupoId)
                                    @Html.ValidationMessageFor(m => Model.GrupoId, "", new { @class = "red-text" })
                                </div>
                            </div>
                            <div id="UsuarioId">
                                <div class="input-field col s12 m10 l10">
                                    @Html.TextBoxFor(m => Model.NombreUsuario)
                                    @Html.LabelFor(m => Model.NombreUsuario)
                                    @Html.ValidationMessageFor(m => Model.NombreUsuario, "", new { @class = "red-text" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Comportamiento</span>
                        <div class="section"></div>
                        <div class="row">
                            <div class="input-field col s12 m10 l10">
                                @Html.DropDownListFor(m => Model.AccionId, null, "Seleccione...")
                                @Html.LabelFor(m => Model.Accion)
                                @Html.ValidationMessageFor(m => Model.Accion, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.DropDownListFor(m => Model.EntidadId, null, "Seleccione...")
                                @Html.LabelFor(m => Model.EntidadId)
                                @Html.ValidationMessageFor(m => Model.EntidadId, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.DropDownListFor(m => Model.DefinicionWorkflowRechazoId, null, "Seleccione...")
                                @Html.LabelFor(m => Model.DefinicionWorkflowRechazoId)
                                @Html.ValidationMessageFor(m => Model.DefinicionWorkflowRechazoId, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.DropDownListFor(m => Model.DefinicionWorkflowDependeDeId, null, "Seleccione...")
                                @Html.LabelFor(m => Model.DefinicionWorkflowDependeDeId)
                                @Html.ValidationMessageFor(m => Model.DefinicionWorkflowDependeDeId, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.TextBoxFor(m => Model.DuracionDias, new { @type = "number" })
                                @Html.LabelFor(m => Model.DuracionDias)
                                @Html.ValidationMessageFor(m => Model.DuracionDias, "", new { @class = "red-text" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Opciones</span>
                        <div class="row">
                            <div class="input-field col s12 m10 l10">
                                <label>
                                    @Html.CheckBoxFor(m => m.Habilitado)
                                    <span>@Html.LabelFor(m => Model.Habilitado)</span>
                                </label>
                            </div>

                            <div class="input-field col s12 m10 l10">
                                <label>
                                    @Html.CheckBoxFor(m => m.PermitirVerDetalles)
                                    <span>@Html.LabelFor(m => Model.PermitirVerDetalles)</span>
                                </label>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <label>
                                    @Html.CheckBoxFor(m => m.PermitirVerDocumentos)
                                    <span>@Html.LabelFor(m => Model.PermitirVerDocumentos)</span>
                                </label>
                            </div>

                            <div class="input-field col s12 m10 l10">
                                <label>
                                    @Html.CheckBoxFor(m => m.NotificarAlAutor)
                                    <span>@Html.LabelFor(m => Model.NotificarAlAutor)</span>
                                </label>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <label>
                                    @Html.CheckBoxFor(m => m.NotificarAsignacion)
                                    <span>@Html.LabelFor(m => Model.NotificarAsignacion)</span>
                                </label>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <label>
                                    @Html.CheckBoxFor(m => m.PermitirAdjuntarDocumentos)
                                    <span>@Html.LabelFor(m => Model.PermitirAdjuntarDocumentos)</span>
                                </label>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <label>
                                    @Html.CheckBoxFor(m => m.RequireDocumentacion)
                                    <span>@Html.LabelFor(m => Model.RequireDocumentacion)</span>
                                </label>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <label>
                                    @Html.CheckBoxFor(m => m.PermitirGenerarDocumentos)
                                    <span>@Html.LabelFor(m => Model.PermitirGenerarDocumentos)</span>
                                </label>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <label>
                                    @Html.CheckBoxFor(m => m.PermitirReenvioUnidad)
                                    <span>@Html.LabelFor(m => Model.PermitirReenvioUnidad)</span>
                                </label>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <label>
                                    @Html.CheckBoxFor(m => m.PermitirReenvioGrupoEspecial)
                                    <span>@Html.LabelFor(m => Model.PermitirReenvioGrupoEspecial)</span>
                                </label>
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <label>
                                    @Html.CheckBoxFor(m => m.PermitirTerminar)
                                    <span>@Html.LabelFor(m => Model.PermitirTerminar)</span>
                                </label>
                            </div>

                            <div class="input-field col s12 m10 l10">
                                <div class="input-field col s12 m10 l10">
                                    <label>
                                        @Html.CheckBoxFor(m => m.RequiereAprobacionAlEnviar)
                                        <span>@Html.LabelFor(m => Model.RequiereAprobacionAlEnviar)</span>
                                    </label>
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <label>
                                        @Html.CheckBoxFor(m => m.PermitirSeleccionarUnidadDestino)
                                        <span>@Html.LabelFor(m => Model.PermitirSeleccionarUnidadDestino)</span>
                                    </label>
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <label>
                                        @Html.CheckBoxFor(m => m.PermitirSeleccionarPersonasMismaUnidad)
                                        <span>@Html.LabelFor(m => Model.PermitirSeleccionarPersonasMismaUnidad)</span>
                                    </label>
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <label>
                                        @Html.CheckBoxFor(m => m.PermitirSeleccionarGrupoEspecialDestino)
                                        <span>@Html.LabelFor(m => Model.PermitirSeleccionarGrupoEspecialDestino)</span>
                                    </label>
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <label>
                                        @Html.CheckBoxFor(m => m.PermitirMultipleEvaluacion)
                                        <span>@Html.LabelFor(m => Model.PermitirMultipleEvaluacion)</span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <button class="waves-effect waves-light btn blue" type="submit">Aceptar</button>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.tabs').tabs();

        $('select').formSelect();
        $('input:hidden').each(function (index, element) {
            $(element).appendTo($(element).parent());
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var ddlTipoEjecucionId = document.getElementById('ddlTipoEjecucionId').value;

        if (ddlTipoEjecucionId <= 4) {
            $("#GrupoId").hide();
            $("#UsuarioId").hide();
        }
        if (ddlTipoEjecucionId == 5) {
            $("#GrupoId").show();
            $("#UsuarioId").hide();
        }
        if (ddlTipoEjecucionId == 6) {
            $("#GrupoId").hide();
            $("#UsuarioId").show();
        }



        $("#NombreUsuario").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Usuario/GetUser/",
                    data: { term: request.term },
                    type: "POST",
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return { id: item.id, value: item.value };
                            }));
                    }
                });
            },

            select: function (event, ui) {
                $("#NombreUsuario").val(ui.item.value);
                $("#Email").val(ui.item.id);
                return false;
            }
        });

    });

    function onchangeevent() {
        var ddlTipoEjecucionId = document.getElementById('ddlTipoEjecucionId').value;
        if (ddlTipoEjecucionId <= 4) {
            $("#GrupoId").hide();
            $("#UsuarioId").hide();
        }
        if (ddlTipoEjecucionId == 5) {
            $("#GrupoId").show();
            $("#UsuarioId").hide();
        }
        if (ddlTipoEjecucionId == 6) {
            $("#GrupoId").hide();
            $("#UsuarioId").show();
        }
    }
</script>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui-git.css" rel="stylesheet" />
