@model App.Model.Cometido.Destinos
@{
    ViewBag.Title = "Details";
}

@Html.HiddenFor(q=>Model.CometidoId)
@Html.HiddenFor(q=>Model.WorkflowId)
@Html.HiddenFor(q=>Model.DestinoId)


    <h2>Details</h2>
    <div class="modal-footer">
        <a class="modal-close btn-medium btn-floating modal-trigger tooltipped materialize-red" data-tooltip="Cerrar Ventana"><i class="tiny material-icons">close</i></a>
    </div>
    <div class="modal-content">
        <table class="striped centered">
            <tr>
                <td>
                    @Html.Raw("<span>%</span>")
                </td>
                <td>
                    @Html.Raw("<span>Días 100 %</span>")
                </td>
                <td>
                    @Html.Raw("<span>Días 60 %</span>")
                </td>
                <td>
                    @Html.Raw("<span>Días 40 %</span>")
                </td>
                <td>
                    @Html.Raw("<span>Días 50 %</span>")
                </td>
                <td>
                    @Html.Raw("<span>Días 00 %</span>")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Raw("<span>Solicitados</span>")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Dias100)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Dias60)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Dias40)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Dias50)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Dias00)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Raw("<span>Aprobados</span>")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Dias100Aprobados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Dias60Aprobados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Dias40Aprobados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Dias50Aprobados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Dias00Aprobados)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Raw("<span>Monto</span>")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Dias100Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Dias60Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Dias40Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Dias50Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Dias00Monto)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Raw("<span>TOTAL</span>")
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Html.DisplayFor(m => Model.Total)
                </td>
            </tr>
        </table>
    </div>



<script type="text/javascript">
    $(document).ready(function () {

        $('#modalTabla').modal('show');
        $('.modal').modal();
    });
</script>