@model App.Model.Cometido.Cometido

@Html.Action("Header", "Workflow", new { Model.WorkflowId })
<div class="container">
    <div id="card-alert" class="card blue-grey lighten-1">
        <div class="card-content white-text">
            <span class="card-title white-text darken-1"><i class="mdi-social-notifications"></i>Atencion.!</span>
            @if (Model.Destinos.Any())
            {
                <p>
                    Faltan  @((Model.Destinos.FirstOrDefault().FechaInicio - DateTime.Now).Days) días para el viaje. Recuerde que el acto administrativo debe tramitarse al menos 20 días corridos previo a su inicio.
                </p>
            }
            else
            {
                <p>No existen destinos asociados al cometido</p>
            }
        </div>
    </div>

    <div class="row">
        <div class="col s12 m10 l12">
            @Html.Partial("_Message")
            @using (Html.BeginForm("DetailsFinanzas", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(q => Model.WorkflowId)
                @Html.HiddenFor(q => Model.ProcesoId)
                @Html.HiddenFor(q => Model.CometidoId)
                @*@Html.AntiForgeryToken()*@

                @Html.HiddenFor(q => Model.FechaSolicitud)
                @Html.HiddenFor(q => Model.UnidadDescripcion)
                @Html.HiddenFor(q => Model.NombreId)
                @Html.HiddenFor(q => Model.Nombre)
                @Html.HiddenFor(q => Model.Rut)
                @Html.HiddenFor(q => Model.DV)
                @Html.HiddenFor(q => Model.CargoDescripcion)
                @Html.HiddenFor(q => Model.CalidadDescripcion)
                @Html.HiddenFor(q => Model.GradoDescripcion)
                @Html.HiddenFor(q => Model.EstamentoDescripcion)
                @Html.HiddenFor(q => Model.ConglomeradoDescripcion)
                @Html.HiddenFor(q => Model.IdConglomerado)
                @Html.HiddenFor(q => Model.ProgramaDescripcion)
                @Html.HiddenFor(q => Model.IdPrograma)
                @Html.HiddenFor(q => Model.IdCargo)
                @Html.HiddenFor(q => Model.IdUnidad)
                @Html.HiddenFor(q => Model.IdCargo)
                @Html.HiddenFor(q => Model.IdCalidad)
                @Html.HiddenFor(q => Model.IdGrado)
                @Html.HiddenFor(q => Model.IdEstamento)
                @Html.HiddenFor(q => Model.FinanciaOrganismo)
                @Html.HiddenFor(q => Model.SolicitaViatico)
                @Html.HiddenFor(q => Model.ReqPasajeAereo)
                @Html.HiddenFor(q => Model.CometidoDescripcion)
                @Html.HiddenFor(q => Model.IdSigfe)
                @Html.HiddenFor(q => Model.IdTipoPago)
                @Html.HiddenFor(q => Model.IdFuncionarioPagador)
                @Html.HiddenFor(q => Model.NombreFuncionarioPagador)
                @Html.HiddenFor(q => Model.FechaPagoSigfe)
                @Html.HiddenFor(q => Model.ObservacionesPagoSigfe)
                @Html.HiddenFor(q => Model.IdSigfeTesoreria)
                @Html.HiddenFor(q => Model.IdTipoPagoTesoreria)
                @Html.HiddenFor(q => Model.IdFuncionarioPagadorTesoreria)
                @Html.HiddenFor(q => Model.NombreFuncionarioPagadorTesoreria)
                @Html.HiddenFor(q => Model.FechaPagoSigfeTesoreria)
                @Html.HiddenFor(q => Model.ObservacionesPagoSigfeTesoreria)
                @Html.HiddenFor(q => Model.NombreCometido)


                <div class="card">
                    <div class="card-content">
                        @*<span class="card-title">Cometidos EDIT SIGFE</span>*@
                        <div class="row">
                            <div class="input-field col s12 m10 l3">
                                <strong>
                                    @Html.DisplayNameFor(m => Model.FechaSolicitud)
                                </strong>
                                @Html.DisplayFor(m => Model.FechaSolicitud)
                                @Html.ValidationMessageFor(m => Model.FechaSolicitud, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m6 l4">
                                <strong>
                                    @Html.DisplayNameFor(m => Model.CometidoId)
                                </strong>
                                @Html.DisplayFor(m => Model.CometidoId)
                            </div>
                        </div>
                        <div id="jQuery_accordion">
                            <h3><span style="font-weight: bold">I. Datos del Funcionario: </span></h3>
                            <div class="row">
                                <div class="input-field col s12 m10 l10">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.UnidadDescripcion)
                                    </strong>
                                    @Html.DisplayFor(m => Model.UnidadDescripcion)
                                    @Html.ValidationMessageFor(m => Model.UnidadDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.Nombre)
                                    </strong>
                                    @Html.DisplayFor(m => Model.Nombre)
                                    @Html.ValidationMessageFor(m => Model.Nombre, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l8">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.Rut)
                                    </strong>
                                    @Html.DisplayFor(m => Model.Rut)
                                    @Html.ValidationMessageFor(m => Model.Rut, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l4">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.DV)
                                    </strong>
                                    @Html.DisplayFor(m => Model.DV)
                                    @Html.ValidationMessageFor(m => Model.DV, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.CargoDescripcion)
                                    </strong>
                                    @Html.DisplayFor(m => Model.CargoDescripcion)
                                    @Html.ValidationMessageFor(m => Model.CargoDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.CalidadDescripcion)
                                    </strong>
                                    @Html.DisplayFor(m => Model.CalidadDescripcion)
                                    @Html.ValidationMessageFor(m => Model.CalidadDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.GradoDescripcion)
                                    </strong>
                                    @Html.DisplayFor(m => Model.GradoDescripcion)
                                    @Html.ValidationMessageFor(m => Model.GradoDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.EstamentoDescripcion)
                                    </strong>
                                    @Html.DisplayFor(m => Model.EstamentoDescripcion)
                                    @Html.ValidationMessageFor(m => Model.EstamentoDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.ProgramaDescripcion)
                                    </strong>
                                    @Html.DisplayFor(m => Model.ProgramaDescripcion)
                                    @Html.ValidationMessageFor(m => Model.ProgramaDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    @Html.DisplayFor(m => Model.ConglomeradoDescripcion)
                                    @Html.DisplayNameFor(m => Model.ConglomeradoDescripcion)
                                    @Html.ValidationMessageFor(m => Model.ConglomeradoDescripcion, "", new { @class = "red-text" })
                                </div>
                            </div>
                            <h3><span style="font-weight: bold">II. Datos de la Solicitud: </span></h3>
                            <div class="row">
                                <div class="input-field col s12 m8 l12">
                                    <strong>
                                        <span>@Html.DisplayNameFor(m => Model.FinanciaOrganismo)</span>
                                    </strong>
                                    @string.Format("{0}", Model.FinanciaOrganismo.Value ? "SI" : "NO")
                                </div>
                                <div class="input-field col s12 m8 l13">
                                    <strong>
                                        <span>@Html.DisplayNameFor(m => Model.Alojamiento)</span>
                                    </strong>
                                    @string.Format("{0}", Model.Alojamiento ? "SI" : "NO")
                                </div>
                                <div class="input-field col s12 m8 l13">
                                    <strong>
                                        <span>@Html.DisplayNameFor(m => Model.Alimentacion)</span>
                                    </strong>
                                    @string.Format("{0}", Model.Alimentacion ? "SI" : "NO")
                                </div>
                                <div class="input-field col s12 m8 l13">
                                    <strong>
                                        <span>@Html.DisplayNameFor(m => Model.Pasajes)</span>
                                    </strong>
                                    @string.Format("{0}", Model.Pasajes ? "SI" : "NO")
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <strong>
                                        <span>
                                            <strong style="color:green">
                                                @Html.DisplayNameFor(m => Model.SolicitaViatico)
                                            </strong>
                                        </span>
                                    </strong>
                                    @string.Format("{0}", Model.SolicitaViatico ? "SI" : "NO")
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <label style="color:green">
                                        @Html.Raw("<span>“El cometido incluye” </span>")
                                    </label>
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <strong>
                                        <span>@Html.DisplayNameFor(m => Model.ReqPasajeAereo)</span>
                                    </strong>
                                    @string.Format("{0}", Model.ReqPasajeAereo ? "SI" : "NO")
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <strong>
                                        <span>@Html.DisplayNameFor(m => Model.ReqPasajeTerrestre)</span>
                                    </strong>
                                    @string.Format("{0}", Model.ReqPasajeTerrestre ? "SI" : "NO")
                                </div>
                                <div id="divReembolso">
                                    <div class="input-field col s12 m10 l10">
                                        <strong>
                                            <span>@Html.DisplayNameFor(m => Model.SolicitaReembolso)</span>
                                        </strong>
                                        @string.Format("{0}", Model.SolicitaReembolso ? "SI" : "NO")
                                    </div>
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <strong>
                                        <span>@Html.DisplayNameFor(m => Model.Vehiculo)</span>
                                    </strong>
                                    @string.Format("{0}", Model.Vehiculo ? "SI" : "NO")
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.TipoVehiculoDescripcion)
                                    </strong>
                                    @Html.DisplayFor(m => Model.TipoVehiculoDescripcion)
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.PlacaVehiculo)
                                    </strong>
                                    @Html.DisplayFor(m => Model.PlacaVehiculo)
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.VehiculoObservaciones)
                                    </strong>
                                    @Html.DisplayFor(m => Model.VehiculoObservaciones)
                                </div>
                            </div>
                            <h3><span style="font-weight: bold">III. Datos del Cometido: </span></h3>
                            <div class="row">
                                <div class="input-field col s12 m10 l10">
                                    <strong>@Html.DisplayNameFor(m => Model.NombreCometido)</strong>
                                    @Html.DisplayFor(m => Model.NombreCometido)
                                    @Html.ValidationMessageFor(m => Model.NombreCometido, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.CometidoDescripcion)
                                    </strong>
                                    @Html.DisplayFor(m => Model.CometidoDescripcion)
                                    @Html.ValidationMessageFor(m => Model.CometidoDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <span class="card-title">Destinos</span>
                                </div>
                                @if (Model.Destinos.Count > 0)
                                {
                                    <table class="table">
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Destinos.FirstOrDefault().RegionDescripcion)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Destinos.FirstOrDefault().ComunaDescripcion)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Destinos.FirstOrDefault().FechaInicio)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Destinos.FirstOrDefault().FechaHasta)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().Dias100)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().Dias60)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().Dias40)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().Dias00)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().Dias50)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().Total)
                                            </th>
                                            <th></th>
                                        </tr>
                                        @for (int i = 0; i < Model.Destinos.ToArray().Length; i++)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Destinos.ToArray()[i].RegionDescripcion)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Destinos.ToArray()[i].ComunaDescripcion)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => Model.Destinos.ToArray()[i].FechaInicio)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => Model.Destinos.ToArray()[i].FechaHasta)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Dias100)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Dias60)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Dias40)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Dias00)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Dias50)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Total)
                                                </td>
                                            </tr>
                                        }
                                    </table>

                                }
                            </div>@if (Model.GeneracionCDP.Any())
                            {
                                <h3><span style="font-weight: bold">IV. Refrendación de disponibilidad presupuestaria </span></h3>
                                <div class="row">

                                    @if (Model.SolicitaViatico == true)
                                    {
                                        <span class="card-title">Viaticos</span>
                                        <table class="table">
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcTipoPartidaId)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoPartida.TpaNombre)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcTipoSubAsignacionId)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoSubAsignacion.TsaNombre)
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcTipoCapituloId)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoCapitulo.TcaNombre)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcIdCompromiso)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().VtcIdCompromiso)
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcCentroCostoId)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().VtcCentroCostoId)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcPptoTotal)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().VtcPptoTotal)
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcTipoSubTituloId)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoSubTitulo.TstNombre)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcCompromisoAcumulado)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().VtcCompromisoAcumulado)
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcTipoItemId)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoItem.TitNombre)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcSaldo)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().VtcSaldo)
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcTipoAsignacionId)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoAsignacion.TasNombre)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcValorViatico)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().VtcValorViatico)
                                                </th>
                                            </tr>
                                        </table>

                                    }

                                    @*@if (Model.ReqPasajeAereo == true)
                                        {
                                            <span class="card-title">Pasajes</span>
                                            <table class="table">
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjTipoPartidaId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoPartida.TpaNombre)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjIdCompromiso)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().PsjIdCompromiso)
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjVtcTipoCapituloId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoCapitulo.TcaNombre)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjCodCompromiso)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().PsjCodCompromiso)
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjCentroCostoId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().VtcCentroCostoId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjPptoTotal)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().PsjPptoTotal)
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjTipoSubTituloId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoSubTitulo.TstNombre)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjCompromisoAcumulado)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().PsjCompromisoAcumulado)
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjTipoItemId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoItem.TitNombre)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjObligacionActual)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().PsjObligacionActual)
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjTipoAsignacionId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoAsignacion.TasNombre)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjSaldo)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().PsjSaldo)
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjTipoSubAsignacionId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoSubAsignacion.TsaNombre)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjValorViatico)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().PsjValorViatico)
                                                    </th>
                                                </tr>
                                            </table>
                                        }*@
                                </div>
                            }
                            <h3><span style="font-weight: bold">V. Documento: </span></h3>
                            <div class="row">
                                @foreach (var item in Model.Proceso.Documentos)
                                {
                                    if (item.TipoDocumentoId == 1 || item.TipoDocumentoId == 2 || item.TipoDocumentoId == 5)
                                    {
                                        if (item.Type.Contains("pdf"))
                                        {
                                            <div class="section"></div>
                                            <embed src="@Url.Action("Show", "Documento", new { id = item.DocumentoId })" type="application/pdf" width="100%" height="350px"></embed>
                                        }
                                    }
                                }
                            </div>
                            <h3><span style="font-weight: bold">VI. Registro SIGFE Contabilidad</span></h3>
                            <div class="row">
                                <div class="input-field col s12 m10 l12">
                                    @Html.DisplayFor(m => Model.TipoPagoSIGFE.DescripcionTipoPago)
                                    @Html.LabelFor(m => Model.TipoPagoSIGFE.DescripcionTipoPago)
                                </div>
                                <div class="input-field col s12 m10 l12">
                                    @Html.DisplayFor(m => Model.NombreFuncionarioPagador)
                                    @Html.LabelFor(m => Model.NombreFuncionarioPagador)
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    @Html.DisplayFor(m => Model.IdSigfe)
                                    @Html.LabelFor(m => Model.IdSigfe)
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    @Html.DisplayFor(m => Model.FechaPagoSigfe)
                                    @Html.LabelFor(m => Model.FechaPagoSigfe)
                                </div>
                                <div class="input-field col s12 m10 l12">
                                    @Html.DisplayFor(m => Model.ObservacionesPagoSigfe)
                                    @Html.LabelFor(m => Model.ObservacionesPagoSigfe)
                                </div>
                            </div>
                            <h3><span style="font-weight: bold">VII. Registro SIGFE Tesoreria</span></h3>
                            <div class="row">
                                <div class="input-field col s12 m10 l12">
                                    @Html.DisplayFor(m => Model.TipoPagoSIGFETesoreria.DescripcionTipoPago)
                                    @Html.LabelFor(m => Model.TipoPagoSIGFETesoreria.DescripcionTipoPago)
                                </div>
                                <div class="input-field col s12 m10 l12">
                                    @Html.DisplayFor(m => Model.NombreFuncionarioPagadorTesoreria)
                                    @Html.LabelFor(m => Model.NombreFuncionarioPagadorTesoreria)
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    @Html.DisplayFor(m => Model.IdSigfeTesoreria)
                                    @Html.LabelFor(m => Model.IdSigfeTesoreria)
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    @Html.DisplayFor(m => Model.FechaPagoSigfeTesoreria)
                                    @Html.LabelFor(m => Model.FechaPagoSigfeTesoreria)
                                </div>
                                <div class="input-field col s12 m10 l12">
                                    @Html.DisplayFor(m => Model.ObservacionesPagoSigfeTesoreria)
                                    @Html.LabelFor(m => Model.ObservacionesPagoSigfeTesoreria)
                                </div>
                            </div>
                            <h3><span style="font-weight: bold">VIII. Firma Documento SIGFE</span></h3>
                            <div class="row">
                                @Html.Action("Sign", "Workflow", new { Model.WorkflowId })
                            </div>
                        </div>
                        @*<div class="section"></div>
                            <p>
                                <button class="waves-effect waves-light btn blue" type="submit">Guardar</button>
                            </p>*@
                    </div>
                </div>

            }

        </div>

        @*<div class="col s12 m6 l4">
                @Html.Action("Documents", "Workflow", new { Model.WorkflowId })
                @Html.Action("History", "Workflow", new { Model.WorkflowId })
            </div>*@
    </div>
</div>

@Html.Action("Footer", "Workflow", new { Model.WorkflowId })

<script type="text/javascript">
    $(document).ready(function () {
        jQuery.datetimepicker.setLocale('es');
        jQuery('#FechaPagoSigfe').datetimepicker({
            i18n: {
                es: {
                    months: [
                        'Enero', 'Febrero', 'Marzo', 'Abril',
                        'Mayo', 'Junio', 'Julio', 'Agosto',
                        'Septiembre', 'Octubre', 'Noviembre', 'Diciembre',
                    ]
                }
            },
            timepicker: false,
            formatTime: 'H:i',
            formatDate: 'd-m-Y'
        });

        $('select').formSelect();
        $('input:hidden').each(function (index, element) {
            $(element).appendTo($(element).parent());
        });
    });

    $(function () {
        $("#jQuery_accordion").accordion({
            collapsible: true, heightStyle: true
        });
    });
</script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui-git.css" rel="stylesheet" />
<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
<style TYPE="text/css">
    strong {
        font-weight: bolder;
    }
</style>