@model App.Model.Cometido.Cometido

@if (Model.Workflow.DefinicionWorkflow.Secuencia == 8)
{
<div class="grey lighten-3 section">
    <div class="container section">
        <h3 class="header">Compromiso y Refrendación</h3>
        <h5 class="light">
            Tarea @Model.WorkflowId <text>-</text> @Model.Workflow.DefinicionWorkflow.Nombre
        </h5>
    </div>
    <div class="section"></div>
</div>
}
else
{
    @Html.Action("Header", "Workflow", new { Model.WorkflowId })
}

<div class="container">
    <div id="card-alert" class="card blue-grey lighten-1">
        <div class="card-content white-text">
            <span class="card-title white-text darken-1"><i class="mdi-social-notifications"></i>Atencion.!</span>
            @if (Model.Destinos.Any())
            {
                if ((Model.Destinos.FirstOrDefault().FechaInicio - DateTime.Now).Days < 0)
                {
                    <p>
                        El cometido se realizó hace @((DateTime.Now - Model.Destinos.FirstOrDefault().FechaInicio).Days) dias.
                    </p>
                }
                else
                {
                    <p>
                        Faltan  @((Model.Destinos.FirstOrDefault().FechaInicio - DateTime.Now).Days + 1) días para el viaje. Recuerde que el acto administrativo debe tramitarse al menos 20 días corridos previo a su inicio.
                    </p>
                }
            }
            else
            {
                <p>No existen destinos asociados al cometido</p>
            }
        </div>
    </div>
    @Html.Action("procesState", "HorasExtras", new { Model.WorkflowId })
    <div class="row">
        <div class="col s12 m10 l8">
            @Html.Partial("_Message")
            @using (Html.BeginForm("EditPpto", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(q => Model.WorkflowId)
                @Html.HiddenFor(q => Model.ProcesoId)
                @Html.HiddenFor(q => Model.CometidoId)
                @Html.AntiForgeryToken()

                @Html.HiddenFor(q => Model.FechaSolicitud)
                @Html.HiddenFor(q => Model.UnidadDescripcion)
                @Html.HiddenFor(q => Model.NombreId)
                @Html.HiddenFor(q => Model.Nombre)
                @Html.HiddenFor(q => Model.Rut)
                @Html.HiddenFor(q => Model.DV)
                @Html.HiddenFor(q => Model.Jefatura)
                @Html.HiddenFor(q => Model.CargoDescripcion)
                @Html.HiddenFor(q => Model.CalidadDescripcion)
                @Html.HiddenFor(q => Model.GradoDescripcion)
                @Html.HiddenFor(q => Model.EstamentoDescripcion)
                @Html.HiddenFor(q => Model.ConglomeradoDescripcion)
                @Html.HiddenFor(q => Model.ProgramaDescripcion)
                @Html.HiddenFor(q => Model.IdCargo)
                @Html.HiddenFor(q => Model.IdUnidad)
                @Html.HiddenFor(q => Model.IdCargo)
                @Html.HiddenFor(q => Model.IdCalidad)
                @Html.HiddenFor(q => Model.IdGrado)
                @Html.HiddenFor(q => Model.IdEstamento)
                @Html.HiddenFor(q => Model.FinanciaOrganismo)
                @Html.HiddenFor(q => Model.Pasajes)
                @Html.HiddenFor(q => Model.ReqPasajeAereo)
                @Html.HiddenFor(q => Model.ReqPasajeTerrestre)
                @Html.HiddenFor(q => Model.Vehiculo)
                @Html.HiddenFor(q => Model.TipoVehiculoId)
                @Html.HiddenFor(q => Model.TipoVehiculoDescripcion)
                @Html.HiddenFor(q => Model.PlacaVehiculo)
                @Html.HiddenFor(q => Model.SolicitaViatico)
                @Html.HiddenFor(q => Model.IdEscalafon)
                @Html.HiddenFor(q => Model.EscalafonDescripcion)
                @Html.HiddenFor(q => Model.Folio)
                @Html.HiddenFor(q => Model.FechaResolucion)
                @Html.HiddenFor(q => Model.TipoActoAdministrativo)

                <div class="card">
                    <div class="card-content">
                        @*<span class="card-title">Cometidos</span>*@
                        <div class="row">
                            <div class="input-field col s12 m10 l3">
                                @Html.DisplayNameFor(m => Model.FechaSolicitud)
                                @Html.DisplayFor(m => Model.FechaSolicitud)
                                @Html.ValidationMessageFor(m => Model.FechaSolicitud, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m6 l4">
                                @Html.DisplayNameFor(m => Model.CometidoId)
                                @Html.DisplayFor(m => Model.CometidoId)
                            </div>
                        </div>
                        <div id="jQuery_accordion">
                            <h3><span style="font-weight: bold">I. Datos del Funcionario: </span></h3>
                            <div class="row">
                                <div class="input-field col s12 m10 l10">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.UnidadDescripcion)
                                    </strong>
                                    @Html.DisplayFor(m => Model.UnidadDescripcion)
                                    @Html.ValidationMessageFor(m => Model.UnidadDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.Nombre)
                                    </strong>
                                    @Html.DisplayFor(m => Model.Nombre)
                                    @Html.ValidationMessageFor(m => Model.Nombre, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l8">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.Rut)
                                    </strong>
                                    @Html.DisplayFor(m => Model.Rut)
                                    @Html.ValidationMessageFor(m => Model.Rut, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l4">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.DV)
                                    </strong>
                                    @Html.DisplayFor(m => Model.DV)
                                    @Html.ValidationMessageFor(m => Model.DV, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.CargoDescripcion)
                                    </strong>
                                    @Html.DisplayFor(m => Model.CargoDescripcion)
                                    @Html.ValidationMessageFor(m => Model.CargoDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.CalidadDescripcion)
                                    </strong>
                                    @Html.DisplayFor(m => Model.CalidadDescripcion)
                                    @Html.ValidationMessageFor(m => Model.CalidadDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.GradoDescripcion)
                                    </strong>
                                    @Html.DisplayFor(m => Model.GradoDescripcion)
                                    @Html.ValidationMessageFor(m => Model.GradoDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    <strong>@Html.DisplayNameFor(m => Model.EstamentoDescripcion)</strong>
                                    @Html.DisplayFor(m => Model.EstamentoDescripcion)
                                    @Html.ValidationMessageFor(m => Model.EstamentoDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    <strong>@Html.DisplayNameFor(m => Model.ProgramaDescripcion)</strong>
                                    @Html.DisplayFor(m => Model.ProgramaDescripcion)
                                    @Html.ValidationMessageFor(m => Model.ProgramaDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    <strong>@Html.DisplayNameFor(m => Model.ConglomeradoDescripcion)</strong>
                                    @Html.DisplayFor(m => Model.ConglomeradoDescripcion)
                                    @Html.ValidationMessageFor(m => Model.ConglomeradoDescripcion, "", new { @class = "red-text" })
                                </div>
                            </div>
                            <h3><span style="font-weight: bold">II. Datos de la Solicitud: </span></h3>
                            <div class="row">
                                <div class="input-field col s12 m8 l12">
                                    <strong>
                                        <span>@Html.DisplayNameFor(m => Model.FinanciaOrganismo)</span>
                                    </strong>
                                    @string.Format("{0}", Model.FinanciaOrganismo.Value ? "SI" : "NO")
                                </div>
                                <div class="input-field col s12 m8 l13">
                                    <strong>
                                        <span>@Html.DisplayNameFor(m => Model.Alojamiento)</span>
                                    </strong>
                                    @string.Format("{0}", Model.Alojamiento ? "SI" : "NO")
                                </div>
                                <div class="input-field col s12 m8 l13">
                                    <strong>
                                        <span>@Html.DisplayNameFor(m => Model.Alimentacion)</span>
                                    </strong>
                                    @string.Format("{0}", Model.Alimentacion ? "SI" : "NO")
                                </div>
                                <div class="input-field col s12 m8 l13">
                                    <strong>
                                        <span>@Html.DisplayNameFor(m => Model.Pasajes)</span>
                                    </strong>
                                    @string.Format("{0}", Model.Pasajes ? "SI" : "NO")
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <strong>
                                        <span>
                                            <strong style="color:green">
                                                @Html.DisplayNameFor(m => Model.SolicitaViatico)
                                            </strong>
                                        </span>
                                    </strong>
                                    @string.Format("{0}", Model.SolicitaViatico ? "SI" : "NO")
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <label style="color:green">
                                        @Html.Raw("<span>“El cometido incluye” </span>")
                                    </label>
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <strong>
                                        <span>@Html.DisplayNameFor(m => Model.ReqPasajeAereo)</span>
                                    </strong>
                                    @string.Format("{0}", Model.ReqPasajeAereo ? "SI" : "NO")
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <strong>
                                        <span>@Html.DisplayNameFor(m => Model.ReqPasajeTerrestre)</span>
                                    </strong>
                                    @string.Format("{0}", Model.ReqPasajeTerrestre ? "SI" : "NO")
                                </div>
                                <div id="divReembolso">
                                    <div class="input-field col s12 m10 l10">
                                        <strong>
                                            <span>@Html.DisplayNameFor(m => Model.SolicitaReembolso)</span>
                                        </strong>
                                        @string.Format("{0}", Model.SolicitaReembolso ? "SI" : "NO")
                                    </div>
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <strong>
                                        <span>@Html.DisplayNameFor(m => Model.Vehiculo)</span>
                                    </strong>
                                    @string.Format("{0}", Model.Vehiculo ? "SI" : "NO")
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.TipoVehiculoDescripcion)
                                    </strong>
                                    @Html.DisplayFor(m => Model.TipoVehiculoDescripcion)
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.PlacaVehiculo)
                                    </strong>
                                    @Html.DisplayFor(m => Model.PlacaVehiculo)
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.VehiculoObservaciones)
                                    </strong>
                                    @Html.DisplayFor(m => Model.VehiculoObservaciones)
                                </div>
                            </div>
                            <h3><span style="font-weight: bold">III. Datos del Cometido: </span></h3>
                            <div class="row">
                                <div class="input-field col s12 m10 l10">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.NombreCometido)
                                    </strong>
                                    @Html.EditorFor(m => Model.NombreCometido)
                                    @Html.ValidationMessageFor(m => Model.NombreCometido, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <strong>
                                        @Html.DisplayNameFor(m => Model.CometidoDescripcion)
                                    </strong>
                                    @Html.EditorFor(m => Model.CometidoDescripcion)
                                    @Html.ValidationMessageFor(m => Model.CometidoDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <span class="card-title">Destinos</span>
                                </div>

                                @*@if (Model.Destinos.Count > 0)*@

                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Destinos.FirstOrDefault().FechaInicio)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Destinos.FirstOrDefault().FechaHasta)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Destinos.FirstOrDefault().ComunaDescripcion)
                                        </th>
                                        <th></th>
                                    </tr>
                                    @for (int i = 0; i < Model.Destinos.ToArray().Length; i++)
                                    {
                                        @Html.HiddenFor(q => Model.Destinos.ToArray()[i].DestinoId)
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].FechaInicio)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].FechaHasta)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].ComunaDescripcion)
                                            </td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            @Html.Raw("<span>%</span>")
                                                        </td>
                                                        <td>
                                                            @Html.Raw("<span>Dias 100 %</span>")
                                                        </td>
                                                        <td>
                                                            @Html.Raw("<span>Dias 60 %</span>")
                                                        </td>
                                                        <td>
                                                            @Html.Raw("<span>Dias 40 %</span>")
                                                        </td>
                                                        <td>
                                                            @Html.Raw("<span>Dias 50 %</span>")
                                                        </td>
                                                        <td>
                                                            @Html.Raw("<span>Días 00 %</span>")
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.Raw("<span>Solicitados</span>")
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].Dias100)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].Dias60)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].Dias40)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].Dias50)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].Dias00)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.Raw("<span>Aprobados</span>")
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].Dias100Aprobados)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].Dias60Aprobados)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].Dias40Aprobados)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].Dias50Aprobados)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].Dias00Aprobados)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.Raw("<span>Monto</span>")
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].Dias100Monto)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].Dias60Monto)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].Dias40Monto)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].Dias50Monto)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].Dias00Monto)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.Raw("<span>TOTAL</span>")
                                                        </td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Total)
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                <b>
                                                    @Html.DisplayNameFor(modelItem => Model.Destinos.ToArray()[i].ObservacionesModificacion)
                                                </b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].ObservacionesModificacion)

                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                            <h3><span style="font-weight: bold">IV. Refrendación de disponibilidad presupuestaria </span></h3>
                            <div class="row">
                                @if (!Model.GeneracionCDP.Any())
                                {
                                    <div class="row">
                                        @Html.ActionLink("Crear Certificado de Refrendación", "Create", "GeneracionCDP", new { Model.CometidoId }, null)
                                    </div>
                                }
                                else
                                {
                                    if (Model.SolicitaViatico || Model.SolicitaViatico != true)
                                    {
                                        <span class="card-title">Viáticos</span>
                                        <table class="table">
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcTipoPartidaId)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoPartida.TpaNombre)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcTipoSubAsignacionId)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoSubAsignacion.TsaNombre)
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcTipoCapituloId)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoCapitulo.TcaNombre)
                                                </th>
                                                @if (Model.Workflow.DefinicionWorkflow.Secuencia != 8)
                                                {
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcIdCompromiso)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().VtcIdCompromiso)
                                                    </th>
                                                }
                                            </tr>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcCentroCostoId)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().VtcCentroCostoId)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcPptoTotal)
                                                </th>
                                                <th>
                                                    @*@Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().VtcPptoTotal)*@
                                                    @Html.Raw(String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("es-CL"), "{0:N0}", Convert.ToDecimal(@Model.GeneracionCDP.FirstOrDefault().VtcPptoTotal)))
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcTipoSubTituloId)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoSubTitulo.TstNombre)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcCompromisoAcumulado)
                                                </th>
                                                <th>
                                                    @*@Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().VtcCompromisoAcumulado)*@
                                                    @Html.Raw(String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("es-CL"), "{0:N0}", Convert.ToDecimal(@Model.GeneracionCDP.FirstOrDefault().VtcCompromisoAcumulado)))
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcTipoItemId)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoItem.TitNombre)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcSaldo)
                                                </th>
                                                <th>
                                                    @*@Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().VtcSaldo)*@
                                                    @Html.Raw(String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("es-CL"), "{0:N0}", Convert.ToDecimal(@Model.GeneracionCDP.FirstOrDefault().VtcSaldo)))
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcTipoAsignacionId)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoAsignacion.TasNombre)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().VtcValorViatico)
                                                </th>
                                                <th>
                                                    @*@Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().VtcValorViatico)*@
                                                    @Html.Raw(String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("es-CL"), "{0:N0}", Convert.ToDecimal(@Model.GeneracionCDP.FirstOrDefault().VtcValorViatico)))
                                                </th>
                                            </tr>
                                        </table>

                                    }

                                    @*if (Model.ReqPasajeAereo == true)
                                        {
                                            <span class="card-title">Pasajes</span>
                                            <table class="table">
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjTipoPartidaId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoPartida.TpaNombre)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjIdCompromiso)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().PsjIdCompromiso)
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjVtcTipoCapituloId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoCapitulo.TcaNombre)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjCodCompromiso)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().PsjCodCompromiso)
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjCentroCostoId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().VtcCentroCostoId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjPptoTotal)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().PsjPptoTotal)
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjTipoSubTituloId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoSubTitulo.TstNombre)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjCompromisoAcumulado)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().PsjCompromisoAcumulado)
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjTipoItemId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoItem.TitNombre)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjObligacionActual)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().PsjObligacionActual)
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjTipoAsignacionId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoAsignacion.TasNombre)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjSaldo)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().PsjSaldo)
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjTipoSubAsignacionId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().TipoSubAsignacion.TsaNombre)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.GeneracionCDP.FirstOrDefault().PsjValorViatico)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => model.GeneracionCDP.FirstOrDefault().PsjValorViatico)
                                                    </th>
                                                </tr>
                                            </table>
                                        }*@

                                    <div class="row">
                                        @Html.ActionLink("Editar Certificado de Refrendación", "Edit", "GeneracionCDP", new { id = Model.GeneracionCDP.FirstOrDefault().GeneracionCDPId }, null)
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="section"></div>
                        <p>
                            <button class="waves-effect waves-light btn blue" type="submit">Guardar</button>
                            @*@Html.ActionLink("Crear Documento", "GeneraDocumento", "Cometido", new { Id = Model.CometidoId }, null)*@
                        </p>
                    </div>
                </div>

            }

        </div>

        <div class="col s12 m6 l4">
            @Html.Action("Documents", "Workflow", new { Model.WorkflowId })
            @Html.Action("History", "Workflow", new { Model.WorkflowId })
        </div>
    </div>
</div>

@Html.Action("Footer", "Workflow", new { Model.WorkflowId })


<script type="text/javascript">
    $(document).ready(function () {
        //$('.datepicker').datepicker();
        $("#PlacaVehiculo").attr('disabled', true);
        $("#TipoVehiculoId").attr('disabled', true);
        $("#TipoReembolsoId").attr('disabled', true);
        $('select').formSelect();
        $('input:hidden').each(function (index, element) {
            $(element).appendTo($(element).parent());
        });

        //funcion que habilita opciones si se financia el organismo invitante
        $('input:radio[name="FinanciaOrganismo"]').change(function () {
            if (document.getElementById("FinanciaOrganismo").checked == true) {
                $("#Alojamiento").attr('disabled', false);
                $("#Alimentacion").attr('disabled', false);
                $("#Pasajes").attr('disabled', false);
            }
            else {
                $("#Alojamiento").attr('disabled', true);
                $("#Alimentacion").attr('disabled', true);
                $("#Pasajes").attr('disabled', true);
            }
        });
        $('#divReembolso').hide(100); //oculta checkbox de reembolso
        ///*Desabilita viatico y pasajes si se financia por organismo invitante* /
        $('input:checkbox[name="Alojamiento"]').change(function () {
            Bloqueo();
        });

        $('input:checkbox[name="Alimentacion"]').change(function () {
            Bloqueo();
        });

        $('input:checkbox[name="Pasajes"]').change(function () {
            Bloqueo();
        });

        function Bloqueo() {
            if (document.getElementById("Alojamiento").checked == true && document.getElementById("Alimentacion").checked == true && document.getElementById("Pasajes").checked == true) {
                $("#SolicitaViatico").attr('disabled', true);
                $("#ReqPasajeAereo").attr('disabled', true);
                $("#ReqPasajeTerrestre").attr('disabled', true);
                $("#Vehiculo").attr('disabled', true);
            }
            else {
                $("#SolicitaViatico").attr('disabled', false);
                $("#ReqPasajeAereo").attr('disabled', false);
                $("#ReqPasajeTerrestre").attr('disabled', false);
                $("#Vehiculo").attr('disabled', false);
            }
        }

        //Habilita tipo vehiculo
        $('input:checkbox[name="Vehiculo"]').change(function () {
            if (document.getElementById("Vehiculo").checked == true) {
                $("#IdTipoVehiculo").attr('disabled', false);
                $("#PlacaVehiculo").attr('disabled', false);
            }
            else {
                $("#IdTipoVehiculo").attr('disabled', true);
                $("#PlacaVehiculo").attr('disabled', true);
            }
        });

        $('.modal').modal();
        $('.tooltipped').tooltip();

    });

    $(function () {
        $("#jQuery_accordion").accordion({
            collapsible: true, heightStyle: true
        });
    });


</script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui-git.css" rel="stylesheet" />
<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
<style TYPE="text/css">
    strong {
        font-weight: bolder;
    }
</style>
