@model App.Model.Cometido.Cometido

@Html.Action("Header", "Workflow", new { Model.WorkflowId })
<div class="container">
    <div class="row">
        <div class="col s12 m10 l8">
            @Html.Partial("_Message")
            @using (Html.BeginForm("Edit", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(q => Model.WorkflowId)
                @Html.HiddenFor(q => Model.ProcesoId)
                @Html.HiddenFor(q => Model.CometidoId)
                @Html.AntiForgeryToken()

                @Html.HiddenFor(q => Model.FechaSolicitud)
                @Html.HiddenFor(q => Model.UnidadDescripcion)
                @Html.HiddenFor(q => Model.NombreId)
                @Html.HiddenFor(q => Model.Nombre)
                @Html.HiddenFor(q => Model.Rut)
                @Html.HiddenFor(q => Model.DV)
                @Html.HiddenFor(q => Model.CargoDescripcion)
                @Html.HiddenFor(q => Model.CalidadDescripcion)
                @Html.HiddenFor(q => Model.GradoDescripcion)
                @Html.HiddenFor(q => Model.EstamentoDescripcion)
                @Html.HiddenFor(q => Model.ConglomeradoDescripcion)
                @Html.HiddenFor(q => Model.ProgramaDescripcion)
                @Html.HiddenFor(q => Model.IdPrograma)
                @Html.HiddenFor(q => Model.IdCargo)
                @Html.HiddenFor(q => Model.IdUnidad)
                @Html.HiddenFor(q => Model.IdCargo)
                @Html.HiddenFor(q => Model.IdCalidad)
                @Html.HiddenFor(q => Model.IdGrado)
                @Html.HiddenFor(q => Model.IdEstamento)
                @Html.HiddenFor(q => Model.FinanciaOrganismo)
                @Html.HiddenFor(q => Model.Alojamiento)
                @Html.HiddenFor(q => Model.Alimentacion)
                @Html.HiddenFor(q => Model.Pasajes)
                @*@Html.HiddenFor(q => Model.ReqPasajeAereo)
                @Html.HiddenFor(q => Model.ReqPasajeTerrestre)*@
                @Html.HiddenFor(q => Model.Vehiculo)
                @*@Html.HiddenFor(q => Model.TipoVehiculoId)
                @Html.HiddenFor(q => Model.TipoVehiculoDescripcion)*@
                @*@Html.HiddenFor(q => Model.PlacaVehiculo)*@
                @Html.HiddenFor(q => Model.CometidoOk)
                @Html.HiddenFor(q => Model.Jefatura)


                <div class="card">
                    <div class="card-content">
                        @*<span class="card-title">Cometidos</span>*@
                        <div class="row">
                            <div class="input-field col s12 m10 l3">
                                @Html.LabelFor(m => Model.FechaSolicitud)
                                @Html.DisplayFor(m => Model.FechaSolicitud)
                                @Html.ValidationMessageFor(m => Model.FechaSolicitud, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m6 l4">
                                @Html.DisplayFor(m => Model.CometidoId)
                                @Html.LabelFor(m => Model.CometidoId)
                            </div>
                        </div>
                        <div id="jQuery_accordion">
                            <h3><span style="font-weight: bold">I. Datos del Funcionario: </span></h3>
                            <div class="row">
                                <div class="input-field col s12 m10 l10">
                                    @Html.DisplayFor(m => Model.UnidadDescripcion)
                                    @Html.LabelFor(m => Model.UnidadDescripcion)
                                    @Html.ValidationMessageFor(m => Model.UnidadDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    @Html.DisplayFor(m => Model.Jefatura)
                                    @Html.LabelFor(m => Model.Jefatura)
                                    @Html.ValidationMessageFor(m => Model.Jefatura, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    @Html.DisplayFor(m => Model.Nombre)
                                    @Html.LabelFor(m => Model.Nombre)
                                    @Html.ValidationMessageFor(m => Model.Nombre, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l8">
                                    @Html.DisplayFor(m => Model.Rut)
                                    @Html.LabelFor(m => Model.Rut)
                                    @Html.ValidationMessageFor(m => Model.Rut, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l4">
                                    @Html.DisplayFor(m => Model.DV)
                                    @Html.LabelFor(m => Model.DV)
                                    @Html.ValidationMessageFor(m => Model.DV, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    @Html.DisplayFor(m => Model.CargoDescripcion)
                                    @Html.LabelFor(m => Model.CargoDescripcion)
                                    @Html.ValidationMessageFor(m => Model.CargoDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    @Html.DisplayFor(m => Model.CalidadDescripcion)
                                    @Html.LabelFor(m => Model.CalidadDescripcion)
                                    @Html.ValidationMessageFor(m => Model.CalidadDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    @Html.DisplayFor(m => Model.GradoDescripcion)
                                    @Html.LabelFor(m => Model.GradoDescripcion)
                                    @Html.ValidationMessageFor(m => Model.GradoDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    @Html.DisplayFor(m => Model.EstamentoDescripcion)
                                    @Html.LabelFor(m => Model.EstamentoDescripcion)
                                    @Html.ValidationMessageFor(m => Model.EstamentoDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    @Html.DisplayFor(m => Model.ProgramaDescripcion)
                                    @Html.LabelFor(m => Model.ProgramaDescripcion)
                                    @Html.ValidationMessageFor(m => Model.ProgramaDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    @Html.DisplayFor(m => Model.ConglomeradoDescripcion)
                                    @Html.LabelFor(m => Model.ConglomeradoDescripcion)
                                    @Html.ValidationMessageFor(m => Model.ConglomeradoDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    @Html.DisplayFor(m => Model.Jefatura)
                                    @Html.LabelFor(m => Model.Jefatura)
                                    @Html.ValidationMessageFor(m => Model.Jefatura, "", new { @class = "red-text" })
                                </div>

                            </div>
                            @*<div class="section"></div>*@
                            <h3><span style="font-weight: bold">II. Datos de la Solicitud: </span></h3>

                            <div class="row">
                                <div class="input-field col s12 m8 l12">
                                    <p>Marque la(s) casilla(s) en la(s) opción(es) que la Subsecretaría de Economía y EMT debe gestionar y/o financiar</p>
                                    <div class="row">
                                        <span>@Html.LabelFor(m => Model.FinanciaOrganismo)</span><br />
                                        <label>
                                            @Html.RadioButtonFor(m => Model.FinanciaOrganismo, true)
                                            <span>SI</span>
                                        </label>
                                        <label>
                                            @Html.RadioButtonFor(m => Model.FinanciaOrganismo, false)
                                            <span>NO</span>
                                        </label>
                                    </div>
                                </div>
                                <p></p>
                                <div id="Financia" class="input-field col s12 m4 l10">
                                    <div class="input-field col s12 m8 l12">
                                        <label>Marque las opciones que SI financia el organismo invitante</label>
                                        @*<label style="color:green">
                        @Html.Raw("<span>“Marque las opciones que SI financia el organismo invitante” </span>")
                    </label>*@
                                    </div>
                                    <div class="input-field col s12 m8 l13">
                                        <label>
                                            @Html.CheckBoxFor(m => Model.Alojamiento, new { @disabled = "disabled" })
                                            <span>@Html.LabelFor(m => Model.Alojamiento)</span>
                                        </label>
                                        <div class="section"></div>
                                    </div>
                                    <div class="input-field col s12 m8 l13">
                                        <label>
                                            @Html.CheckBoxFor(m => Model.Alimentacion, new { @disabled = "disabled" })
                                            <span>@Html.LabelFor(m => Model.Alimentacion)</span>
                                        </label>
                                        <div class="section"></div>
                                    </div>
                                    <div class="input-field col s12 m8 l13">
                                        <label>
                                            @Html.CheckBoxFor(m => Model.Pasajes, new { @disabled = "disabled" })
                                            <span>@Html.LabelFor(m => Model.Pasajes)</span>
                                        </label>
                                        <div class="section"></div>
                                    </div>
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <label>
                                        @Html.CheckBoxFor(m => Model.SolicitaViatico)
                                        <span>@Html.LabelFor(m => Model.SolicitaViatico)</span>
                                    </label>
                                    <div class="section"></div>
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <label>
                                        @Html.CheckBoxFor(m => Model.ReqPasajeAereo)
                                        <span>@Html.LabelFor(m => Model.ReqPasajeAereo)</span>
                                    </label>
                                    <div class="section"></div>
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <label>
                                        @Html.CheckBoxFor(m => Model.ReqPasajeTerrestre)
                                        <span>@Html.LabelFor(m => Model.ReqPasajeTerrestre)</span>
                                    </label>
                                    <div class="section"></div>
                                </div>
                                <div id="divReembolso">
                                    <div class="input-field col s12 m4 l3">
                                        <label>
                                            @Html.CheckBoxFor(m => Model.SolicitaReembolso)
                                            <span>@Html.LabelFor(m => Model.SolicitaReembolso)</span>
                                        </label>
                                        <div class="section"></div>
                                    </div>
                                </div>
                                <div class="input-field col s12 m4 l3">
                                    <label>
                                        @Html.CheckBoxFor(m => Model.Vehiculo)
                                        <span>@Html.LabelFor(m => Model.Vehiculo)</span>
                                    </label>
                                    <div class="section"></div>
                                </div>
                                <div id="auto">
                                    <div class="input-field col s12 m6 l10">
                                        @Html.LabelFor(m => Model.TipoVehiculoId)
                                        @Html.DropDownListFor(m => Model.TipoVehiculoId, null, "Seleccione...")
                                        @Html.ValidationMessageFor(m => Model.TipoVehiculoId, "", new { @class = "red-text" })
                                    </div>
                                    <div class="input-field col s12 m2 l10">
                                        @Html.LabelFor(m => Model.PlacaVehiculo)
                                        @Html.TextBoxFor(m => Model.PlacaVehiculo)
                                        @Html.ValidationMessageFor(m => Model.PlacaVehiculo, "", new { @class = "red-text" })
                                    </div>
                                </div>
                            </div>
                            @*<div class="section"></div>*@
                            <h3><span style="font-weight: bold">III. Datos del Cometido: </span></h3>
                            <div class="row">
                                <div class="input-field col s12 m10 l10">
                                    @Html.EditorFor(m => Model.NombreCometido)
                                    @Html.LabelFor(m => Model.NombreCometido)
                                    @Html.ValidationMessageFor(m => Model.NombreCometido, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    @Html.EditorFor(m => Model.CometidoDescripcion)
                                    @Html.LabelFor(m => Model.CometidoDescripcion)
                                    @Html.ValidationMessageFor(m => Model.CometidoDescripcion, "", new { @class = "red-text" })
                                </div>
                                <div class="input-field col s12 m10 l10">
                                    <span class="card-title">Destinos</span>
                                </div>

                                @if (Model.Destinos.Count > 0)
                                {
                                    <table class="table">
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Destinos.FirstOrDefault().RegionDescripcion)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Destinos.FirstOrDefault().ComunaDescripcion)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Destinos.FirstOrDefault().FechaInicio)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Destinos.FirstOrDefault().FechaHasta)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().Dias100)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().Dias60)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().Dias40)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().Dias00)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().Dias50)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().Total)
                                            </th>
                                            <th></th>
                                        </tr>
                                        @for (int i = 0; i < Model.Destinos.ToArray().Length; i++)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Destinos.ToArray()[i].RegionDescripcion)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Destinos.ToArray()[i].ComunaDescripcion)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => Model.Destinos.ToArray()[i].FechaInicio)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => Model.Destinos.ToArray()[i].FechaHasta)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Dias100)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Dias60)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Dias40)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Dias00)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Dias50)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Total)
                                                </td>
                                                <td>
                                                    @*@Html.ActionLink("Editar", "Edit", "Destinos", new { id = Model.Destinos.ToArray()[i].DestinoId }, null)*@
                                                    <a href='@Url.Action("Edit", "Destinos", new { id = Model.Destinos.ToArray()[i].DestinoId })'><img src="~/Content/images/icon-edit.png"></img></a>
                                                </td>
                                                <td>
                                                    @*@Html.ActionLink("Borrar", "Delete", "Destinos", new { id = Model.Destinos.ToArray()[i].DestinoId }, null)*@
                                                    <a href='@Url.Action("Delete", "Destinos", new { id = Model.Destinos.ToArray()[i].DestinoId })'><img src="~/Content/images/icon-borrar.png"></img></a>
                                                </td>
                                            </tr>
                                        }
                                    </table>

                                }
                                <div class="section"></div>
                                @*@Html.ActionLink("Agregar Destino", "Create", "Destinos", new { id = Model.CometidoId }, null)*@
                                <a href='@Url.Action("Create","Destinos", new { id = Model.CometidoId })' class="btn-floating modal-trigger btn-large blue tooltipped" data-position="right" data-tooltip="Agregar destinos"><i class="large material-icons">add</i></a>
                            </div>

                            <!--se agregan datos de pasajes si se solicitan-->
                            @if (Model.ReqPasajeAereo == true)
                            {
                                <h3><span style="font-weight: bold;height:inherit">IV. Datos del Pasaje: </span></h3>
                                <div class="row">
                                    @Html.Partial("_DestinosPasajesPartial", (App.Model.Pasajes.DestinosPasajes)ViewBag.Pasaje)

                                    @if (ViewBag.DestinosPasajes != null)
                                    {
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Región de origen</th>
                                                    <th>Fecha de origen</th>
                                                    <th>Región de retorno</th>
                                                    <th>Fecha retorno</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var destinopasaje in ViewBag.DestinosPasajes)
                                                {
                                                    <tr>
                                                        <td>
                                                            @destinopasaje.OrigenRegionDescripcion
                                                            <br />
                                                            @destinopasaje.ObservacionesOrigen
                                                        </td>
                                                        <td>@destinopasaje.FechaOrigen</td>
                                                        <td>
                                                            @destinopasaje.RegionDescripcion @destinopasaje.PaisDescripcion <br />
                                                            @destinopasaje.ObservacionesDestinos
                                                        </td>
                                                        <td>@destinopasaje.FechaVuelta</td>
                                                        <td>
                                                            <a href='@Url.Action("Edit", "Pasaje", new { id = destinopasaje.PasajeId })'><img src="~/Content/images/icon-edit.png"></img></a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }


                                </div>
                            }

                        </div>
                        <div class="section"></div>
                        <p>
                            <button class="waves-effect waves-light btn blue" onclick="Pasaje()" type="submit">Guardar</button>
                        </p>
                    </div>
                </div>


                if (Model.CometidoOk == true)
                {
                    @Html.Action("Footer", "Workflow", new { Model.WorkflowId })
                }

            }

        </div>

        <div class="col s12 m6 l4">
            @Html.Action("Documents", "Workflow", new { Model.WorkflowId })
            @Html.Action("History", "Workflow", new { Model.WorkflowId })
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        jQuery('#FechaOrigen,#FechaVuelta').datetimepicker({
            i18n: {
                es: {
                    months: [
                        'Enero', 'Febrero', 'Marzo', 'Abril',
                        'Mayo', 'Junio', 'Julio', 'Agosto',
                        'Septiembre', 'Octubre', 'Noviembre', 'Diciembre',
                    ]
                }
            },
            //datepicker: false,
            //format: 'H:i',
            timepicker: false,
            format: 'd-m-Y',
            todayButton: true,
            dayOfWeekStart: 1,
            //formatDate: 'd-m-Y',
            //minDate: 0
        });

        $("#PlacaVehiculo").attr('disabled', true);
        //$("#TipoVehiculoId").attr('disabled', true);
        $('#auto').hide(100);
        $('#Financia').hide(100);
        $('select').formSelect();
        $('input:hidden').each(function (index, element) {
            $(element).appendTo($(element).parent());
        });

        //funcion que habilita opciones si se financia el organismo invitante
        $('input:radio[name="FinanciaOrganismo"]').change(function () {
            if (document.getElementById("FinanciaOrganismo").checked == true) {
                $('#Financia').show();
                $("#Alojamiento").attr('disabled', false);
                $("#Alimentacion").attr('disabled', false);
                $("#Pasajes").attr('disabled', false);
            }
            else {
                $('#Financia').hide(100);
                $("#Alojamiento").attr('disabled', true);
                $("#Alimentacion").attr('disabled', true);
                $("#Pasajes").attr('disabled', true);
            }
        });

        $('#divReembolso').hide(100); //oculta checkbox de reembolso
        ///*Desabilita viatico y pasajes si se financia por organismo invitante* /
        $('input:checkbox[name="Alojamiento"]').change(function () {
            Bloqueo();
        });

        $('input:checkbox[name="Alimentacion"]').change(function () {
            Bloqueo();
        });

        $('input:checkbox[name="Pasajes"]').change(function () {
            Bloqueo();
        });

        //$('input:checkbox[name="IdRegionOrigen"]').change(function () {
        //    Pasaje();
        //});

        function Bloqueo() {
            if (document.getElementById("Alojamiento").checked == true && document.getElementById("Alimentacion").checked == true && document.getElementById("Pasajes").checked == true) {
                $("#SolicitaViatico").attr('disabled', true);
                $("#ReqPasajeAereo").attr('disabled', true);
                $("#ReqPasajeTerrestre").attr('disabled', true);
                //$("#Vehiculo").attr('disabled', true);
            }
            else {
                $("#SolicitaViatico").attr('disabled', false);
                $("#ReqPasajeAereo").attr('disabled', false);
                $("#ReqPasajeTerrestre").attr('disabled', false);
                //$("#Vehiculo").attr('disabled', false);
            }

            if (document.getElementById("Alojamiento").checked == true && document.getElementById("Alimentacion").checked == true) {
                $("#SolicitaViatico").attr('disabled', true);
            }
            else {
                $("#SolicitaViatico").attr('disabled', false);
            }

            if (document.getElementById("Alojamiento").checked == true && document.getElementById("Pasajes").checked == true) {
                $("#ReqPasajeAereo").attr('disabled', true);
                $("#ReqPasajeTerrestre").attr('disabled', true);
            }
            else {
                $("#ReqPasajeAereo").attr('disabled', false);
                $("#ReqPasajeTerrestre").attr('disabled', false);
            }

            if (document.getElementById("Pasajes").checked == true) {
                $("#ReqPasajeAereo").attr('disabled', true);
                $("#ReqPasajeTerrestre").attr('disabled', true);
            }
            else {
                $("#ReqPasajeAereo").attr('disabled', false);
                $("#ReqPasajeTerrestre").attr('disabled', false);
            }
        }

        /*funcion que bloquea pasajes*/
        if (document.getElementById("ReqPasajeAereo").checked == true) {
            $("#ReqPasajeTerrestre").attr('disabled', true);
            $("#Vehiculo").attr('disabled', true);
        }
        else {
            $("#ReqPasajeTerrestre").attr('disabled', false);
            $("#Vehiculo").attr('disabled', false);
        }

        /*Habilita tipo vehiculo*/
        $('input:checkbox[name="Vehiculo"]').change(function () {
            if (document.getElementById("Vehiculo").checked == false) {
                $('#auto').hide(100);
                $("#PlacaVehiculo").attr('disabled', true);
            }
            else {
                $("#PlacaVehiculo").attr('disabled', false);
                $('#auto').show();
            }
        });
    });

    /*funcion que bloquea pasajes*/
    $('input:checkbox[name="ReqPasajeAereo"]').change(function () {
        if (document.getElementById("ReqPasajeAereo").checked == true) {
            $("#ReqPasajeTerrestre").attr('disabled', true);
            $("#Vehiculo").attr('disabled', true);
        }
        else {
            $("#ReqPasajeTerrestre").attr('disabled', false);
            $("#Vehiculo").attr('disabled', false);
        }
    });

    /*Habilita tipo vehiculo*/
    $('input:checkbox[name="Vehiculo"]').change(function () {
        if (document.getElementById("Vehiculo").checked == false) {
            $('#auto').hide(100);
            $("#PlacaVehiculo").attr('disabled', true);
        }
        else {
            $("#PlacaVehiculo").attr('disabled', false);
            $('#auto').show();
        }
    });

    $(function () {
        $("#jQuery_accordion").accordion({
            collapsible: true, heightStyle: "auto"
        });
    });

    /*Validacion de ingreso de los pasajes, si es q se solicitan*/
    function Pasaje() {
        if (document.getElementById("ReqPasajeAereo").checked == true) {
            IdRegion = document.getElementById("IdRegion").value;
            if (IdRegion == null || IdRegion == 0) {
                alert("Se debe señalar la region de destino");
                return false;
            }
            IdRegionOrigen = document.getElementById("IdRegionOrigen").value;
            if (IdRegionOrigen == null || IdRegionOrigen == 0) {
                alert("Se debe señalar la region de origen");
                return false;
            }            
            FechaOrigen = document.getElementById("FechaOrigen").value;
            if (FechaOrigen == null || FechaOrigen.length == 0 || FechaOrigen == "01-01-0001 0:00:00") {
                alert("Se debe ingresar la fecha de origen para los pasajes");
                return false;
            }
            FechaVuelta = document.getElementById("FechaVuelta").value;
            if (FechaVuelta == null || FechaVuelta.length == 0 || FechaVuelta == "01-01-0001 0:00:00") {
                alert("Se debe ingresar la fecha de vuelta para los pasajes");
                return false;
            }
        }
    }

</script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui-git.css" rel="stylesheet" />


<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>

@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">*@
@*<script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>*@
