@model App.Model.Cometido.Cometido
@{
    Layout = null;
    var justificacion = Model.JustificacionAtraso != null;
}
@Html.HiddenFor(q => q.WorkflowId)

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style TYPE="text/css">
        .breakhere {
            page-break-after: always
        }
    </style>
</head>

<body style="font-family:Calibri ;font-style:italic;
        padding: 0px;
        margin: 0px;
        text-align: justify">
    <table style="margin-top:768px">
        <tr>
            <td width="20%">
                <img src="~/Content/Logo_gobierno.png" width="170px" />
            </td>
            @*<td>
                <p align="justify">
                    <strong>
                        ORDEN DE PAGO N°  @Html.DisplayFor(m => Model.Folio)
                    </strong>
                    <br /><br />
                    <strong>
                        SANTIAGO,
                        @if (Model.Firma == true)
                        {
                            @Html.DisplayFor(m => Model.FechaResolucion).ToHtmlString().Remove(10)
                        }
                    </strong>
                    <br />
                </p>
            </td>*@
        </tr>
        <tr>
            <td>
                <h6>
                    <p align="left">
                        DEPARTAMENTO ADMINISTRATIVO<br />
                        GESTIÓN DE PERSONAS<br />
                        N° OP :@Html.DisplayFor(m => Model.CometidoId)
                    </p>
                </h6>
                <br />
                <table border="1" style="margin-top:-20px;">
                    <tr>
                        <td colspan="2">
                            <h5>
                                <p ALIGN="center">
                                    Comprometido Finanzas<br />
                                </p>
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h6>
                                ID
                            </h6>
                        </td>
                        <td>
                            <h6>
                                @Html.DisplayFor(m => Model.GeneracionCDP.FirstOrDefault().VtcIdCompromiso)
                            </h6>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h6>
                                MONTO
                            </h6>
                        </td>
                        <td>
                            <h6>
                                @String.Format("{0:C0}", Model.TotalViatico)
                            </h6>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <strong>
                    <br /><br /><br /><br /><br /> VISTO:
                </strong>
                <p align="justify" style="margin-right:30px">
                    @Html.DisplayFor(m => Model.Vistos)
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <ol>
                    <br /> <br />
                    <strong>
                        CONSIDERANDO:
                    </strong>
                    <li>
                        <p align="justify" style="margin-right:30px">
                            Que, don/ña
                            <strong>@Html.DisplayFor(m => Model.Nombre)</strong>
                            @Html.Raw(",")&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rut N° <strong> @Html.DisplayFor(m => Model.Rut)@Html.Raw("-")@Html.DisplayFor(m => Model.DV)</strong>, prestador(a) de servicios a honorarios suma alzada con desempeño en
                            <strong>@Html.DisplayFor(m => Model.UnidadDescripcion)</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            @if (Model.Tiempo == "Pasado")
                            {
                                @Html.Raw("<span>realizó</span>")
                            }
                            else
                            {
                                @Html.Raw("<span>realizará</span>")
                            }
                            labores específicas inherentes a los servicios establecidas en su contrato de prestación de servicios, por el plazo de
                            @Html.DisplayFor(m => Model.Dias) día
                            @if (Model.Dias.Value != 1)
                            {
                                @Html.DisplayFor(m => Model.DiasPlural)
                            }
                            a contar de @Html.DisplayFor(m => Model.Destinos.FirstOrDefault().FechaInicio).ToHtmlString().Remove(10) y hasta @Html.DisplayFor(m => Model.Destinos.LastOrDefault().FechaHasta.Date).ToHtmlString().Remove(10), en la:
                        </p>
                        <table border="1" width="95%" style="margin-right:30px">
                            <tr>
                                <td style="border-style: solid; border-width: 1px; border-color: #000000;">
                                    LOCALIDAD
                                </td>
                                <td style="border-style: solid; border-width: 1px; border-color: #000000;">
                                    COMUNA
                                </td>
                                <td style="border-style: solid; border-width: 1px; border-color: #000000;">
                                    REGION
                                </td>
                            </tr>
                            @for (int i = 0; i < Model.Destinos.ToArray().Length; i++)
                            {
                                <tr>

                                    @Html.HiddenFor(q => Model.Destinos.ToArray()[i].DestinoId)
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].NombreLocalidad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].ComunaDescripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].RegionDescripcion)
                                    </td>

                                </tr>
                            }
                        </table>
                    </li>
                    @if (Model.Atrasado)
                    {
                        <li>
                            <p align="justify" style="margin-right:30px">
                                Que, en el instructivo GAB. PRES N° 001, de 18 de abril de 2023, por el cual se imparten orientaciones sobre buen uso de los recursos fiscales, en particular, en su párrafo XI), Numeral 25),
                                referido a cometidos funcionarios se dispone que: “Toda comisión o cometido de servicios deberá ser tramitada con un plazo mínimo de antelación de 7 días corridos previos a la fecha de su inicio.
                                En caso de que no sea posible cumplir con este plazo, por razones impostergables de buen servicio, el formulario de solicitud deberá contar con la respectiva justificación y la visación del jefe/a de Servicio”
                            </p>
                        </li>
                        <li>
                            <p align="justify" style="margin-right:30px">
                                Que, por razones impostergables de buen servicio, y en conformidad a la citada instrucción presidencial, este cometido cuenta con la visación del/la jefa/e de Gabinete Subsecretaria,
                                en atención a la justificación efectuada a través de sistema de cometidos.
                            </p>
                        </li>
                    }
                </ol>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <ol>
                    @if (Model.SolicitaViatico)
                    {
                        <p align="justify" style="margin-right:30px">
                            <strong>ORDÉNESE EL PAGO</strong>
                            &nbsp; ascendente a la suma de $@Html.DisplayFor(m => Model.TotalViatico).- pesos, (@Html.DisplayFor(m => Model.Destinos.FirstOrDefault().TotalViaticoPalabras))<br />
                            por concepto de honorario adicional, producto de labores específicas inherentes a los servicios establecidos en su contrato de prestación de servicios, de acuerdo al siguiente detalle:
                        </p>
                        if (Model.ParrafoResolucion != null)
                        {
                            <p align="justify" style="margin-right:30px">
                                @Html.DisplayFor(m => Model.ParrafoResolucion)
                            </p>
                        }
                        <br />
                        <table border="1" width="95%" style="margin-right:30px">
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().ComunaDescripcion)
                                </td>
                                <td>
                                    @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().FechaInicio)
                                </td>
                                <td>
                                    @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().FechaHasta)
                                </td>
                                <td>
                                    @Html.Raw("Dias 100%")
                                </td>
                                <td>
                                    @Html.Raw("Dias 60%")
                                </td>
                                <td>
                                    @Html.Raw("Dias 40%")
                                </td>
                            </tr>
                            @for (int i = 0; i < Model.Destinos.ToArray().Length; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].ComunaDescripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].FechaInicio.Date).ToHtmlString().Remove(10)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].FechaHasta.Date).ToHtmlString().Remove(10)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].Dias100Aprobados)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].Dias60Aprobados)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].Dias40Aprobados)
                                    </td>
                                </tr>
                            }
                        </table>
                        <br />
                    }
                </ol>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <ol>
                    <strong>DÉJASE CONSTANCIA:</strong>
                    @if (Model.Vehiculo)
                    {
                        <li>
                            <p>
                                Que, don/ña
                                <strong>@Html.DisplayFor(m => Model.Nombre)</strong>

                                @if (Model.Tiempo == "Pasado")
                                {
                                    @Html.Raw("<span>usó</span>")
                                }
                                else
                                {
                                    @Html.Raw("<span>usará</span>")
                                }
                                como medio de transporte el <strong>@Html.DisplayFor(m => Model.TipoVehiculoDescripcion)</strong> patente <strong>@Html.DisplayFor(m => Model.PlacaVehiculo).ToString().ToUpper()</strong>.
                            </p>
                        </li>
                    }
                    <p align="justify"></p>
                    @if (Model.Tiempo == "Pasado")
                    {
                        <li>
                            <p align="justify" style="margin-right:30px">
                                Que, por razones impostergables de buen servicio, no fue necesario esperar la total tramitación de esta orden de pago para iniciarla.
                            </p>
                        </li>
                    }
                    <li>
                        <p align="justify" style="margin-right:30px">
                            Que, la Subsecretaría de Economía y Empresas de Menor Tamaño, reembolsará los gastos que se irroguen a consecuencia de los servicios prestados, así como también otros gastos derivados,
                            siempre y cuando se encuentren debidamente justificados y documentados, de acuerdo a la normativa interna que regule esta materia y al contrato de prestaciones de servicios respectivo,
                            con cargo al ítem o los ítems y asignaciones correspondientes, de acuerdo a su naturaleza.
                        </p>
                    </li>
                    <p align="justify"></p>
                    @if ((Model.SolicitaViatico == false && Model.ReqPasajeAereo == false) && Model.TotalViatico == 0)
                    {
                        @Html.DisplayFor(m => Model.DejaseConstancia)

                        <li>
                            <p align="justify" style="margin-right:30px">
                                Que, la presente orden de pago no
                                @if (Model.Tiempo == "Pasado")
                                {
                                    @Html.Raw("<span>irrogó</span>")
                                }
                                else
                                {
                                    @Html.Raw("<span>irrogará</span>")
                                }
                                gastos de honorario adicional para la Subsecretaría de Economía y Empresas de Menor Tamaño.
                            </p>
                        </li>
                    }
                    <p align="justify"></p>
                    @if (Model.ReqPasajeAereo)
                    {
                        <li>
                            <p align="justify" style="margin-right:30px">
                                Que, esta Subsecretaría pagará a <strong> @Html.DisplayFor(m => Model.Nombre)</strong>, los gastos de pasajes aéreos.
                            </p>
                        </li>
                    }
                    @if (Model.Tiempo == "Pasado" && Model.Destinos.Count > 3)
                    {
                        <p class="breakhere"></p>
                    }
                </ol>
            </td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr>
            <td colspan="2">
                <ol>
                    @if (Model.GeneracionCDP.Count > 0 && Model.GeneracionCDP.FirstOrDefault().VtcValorViatico != "0")
                    {
                        <p align="justify" style="margin-right:30px">
                            <strong>IMPÚTESE</strong>,
                            @if (Model.SolicitaViatico)
                            {
                                if (Model.GeneracionCDP.FirstOrDefault().TipoSubTitulo.TstNombre != "24")
                                {
                                    @Html.Raw("<span> el gasto por honorarios adicionales al Programa </span>") @Html.DisplayFor(m => Model.ProgramaDescripcion).ToString().Substring(1, 2)
                                    if (Model.SolicitaViatico)
                                    {
                                        @Html.Raw(", al Subtítulo ")
                                        @Html.DisplayFor(m => Model.GeneracionCDP.FirstOrDefault().TipoSubTitulo.TstNombre)@Html.Raw(".")
                                        @Html.DisplayFor(m => Model.GeneracionCDP.FirstOrDefault().TipoItem.TitNombre)@Html.Raw(".")
                                        @Html.DisplayFor(m => Model.GeneracionCDP.FirstOrDefault().TipoAsignacion.TasNombre)
                                        if (Model.GeneracionCDP.FirstOrDefault().TipoSubTitulo.TstNombre == "24")
                                        {
                                            @Html.DisplayFor(m => Model.UnidadDescripcion)
                                        }
                                        else
                                        {
                                            @Html.Raw(" y al subtítulo 22, ")
                                        }
                                    }
                                    if (Model.SolicitaViatico == false)
                                    {
                                        if (Model.GeneracionCDP.FirstOrDefault().TipoSubTitulo.TstNombre != "24")
                                        {
                                            @Html.Raw(" y al subtítulo 22, ")
                                        }
                                    }
                                    @Html.Raw(" por los gastos que se irroguen a consecuencia del desempeño de funciones inherentes a las funciones establecidas en su contrato, de acuerdo a su naturaleza, del presupuesto para el año ")
                                    @Html.DisplayFor(m => Model.Anno)
                                    @Html.Raw(" de la ")
                                    @Html.DisplayFor(m => Model.Subscretaria)
                                }
                                if (Model.GeneracionCDP.FirstOrDefault().TipoSubTitulo.TstNombre == "24")
                                {
                                    @Html.Raw("<span>el gasto por honorarios adicionales al Programa </span>") @Html.DisplayFor(m => Model.ProgramaDescripcion).ToString().Substring(1, 2)
                                    @Html.Raw(", al Subtítulo ")
                                    @Html.DisplayFor(m => Model.GeneracionCDP.FirstOrDefault().TipoSubTitulo.TstNombre)@Html.Raw(".")
                                    @Html.DisplayFor(m => Model.GeneracionCDP.FirstOrDefault().TipoItem.TitNombre)@Html.Raw(".")
                                    @Html.DisplayFor(m => Model.GeneracionCDP.FirstOrDefault().TipoAsignacion.TasNombre)
                                    if (Model.GeneracionCDP.FirstOrDefault().TipoSubTitulo.TstNombre == "24")
                                    {
                                        @Html.DisplayFor(m => Model.UnidadDescripcion)
                                    }
                                    @Html.Raw("por los gastos que se irroguen a consecuencia del desempeño de funciones  inherentes a las funciones establecidas en su contrato, de acuerdo a su naturaleza, del presupuesto para el año ")
                                    @Html.DisplayFor(m => Model.Anno)
                                    @Html.Raw(" de la ")
                                    @Html.DisplayFor(m => Model.Subscretaria)
                                }
                            }
                        </p>
                    }
                    @if (Model.SolicitaViatico != true)
                    {
                        <p align="justify" style="margin-right:30px">
                            <strong>IMPÚTESE</strong>,
                            @Html.Raw("<span> el gasto por honorarios adicionales al Programa </span>") @Html.DisplayFor(m => Model.ProgramaDescripcion).ToString().Substring(1, 2)
                            @Html.Raw(",y al Subtítulo 22 ")
                            @Html.Raw("por los gastos que se irroguen a consecuencia del desempeño de funciones inherentes a las funciones establecidas en su contrato, de acuerdo a su naturaleza, del presupuesto para el año ")
                            @Html.DisplayFor(m => Model.Anno)
                            @Html.Raw(" de la ")
                            @Html.DisplayFor(m => Model.Subscretaria)
                        </p>
                    }
                </ol>
            </td>
        </tr>
    </table>
    <table align="center" border="0">
        <tr>
            <td>
                <br />
                <p align="center">
                    <strong>ANÓTESE, COMUNÍQUESE, REGÍSTRESE EN LA CONTRALORÍA GENERAL DE LA REPÚBLICA Y ARCHÍVESE.</strong>

                    <br />
                    <strong>
                        @Html.DisplayFor(m => Model.Orden)
                    </strong>
                    <br /><br /><br />
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    <p align="center">
                        <br />
                        @Html.DisplayFor(m => Model.CargoFirmante)
                        <br />
                        @Html.DisplayFor(m => Model.Subscretaria)
                    </p>
                </strong>
            </td>
            <td></td>
        </tr>
    </table>
</body>
</html>