@model App.Model.Cometido.Cometido
@using Enum = App.Util.Enum;

@Html.Action("Header", "Workflow", new { Model.WorkflowId })

@Html.HiddenFor(q => q.WorkflowId)
@Html.HiddenFor(q => q.ProcesoId)
@Html.HiddenFor(q => q.CometidoId)
<div class="container">
    <div class="row">
        <div class="col s12 m10 l8">
            <div class="card">
                <div class="card-content">
                    @Html.Partial("_Message")
                    @*<span class="card-title">Cometidos</span>*@
                    <div class="row">
                        <div class="input-field col s12 m10 l4">
                            <strong>
                                @Html.DisplayNameFor(m => Model.FechaSolicitud)
                            </strong>
                            @Html.DisplayFor(m => Model.FechaSolicitud)
                        </div>
                        <div class="input-field col s12 m10 l4">
                            <strong>
                                @Html.DisplayNameFor(m => Model.CometidoId)
                            </strong>
                            @Html.DisplayFor(m => Model.CometidoId)
                        </div>
                    </div>
                    <div id="jQuery_accordion">
                        <h3><span style="font-weight: bold;height:auto">I. Datos del Funcionario: </span></h3>
                        <div class="row">
                            <div class="input-field col s12 m10 l10">
                                <strong>
                                    @Html.DisplayNameFor(m => Model.UnidadDescripcion)
                                </strong>
                                @Html.DisplayFor(m => Model.UnidadDescripcion)
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <strong>
                                    @Html.DisplayNameFor(m => Model.Nombre)
                                </strong>
                                @Html.DisplayFor(m => Model.Nombre)
                            </div>
                            <div class="input-field col s12 m5 l5">
                                <strong>
                                    @Html.DisplayNameFor(m => Model.Rut)
                                </strong>
                                @Html.DisplayFor(m => Model.Rut)
                            </div>
                            <div class="input-field col s12 m5 l5">
                                <strong>
                                    @Html.DisplayNameFor(m => Model.DV)
                                </strong>
                                @Html.DisplayFor(m => Model.DV)
                            </div>
                            <div class="input-field col s12 m5 l5">
                                <strong>
                                    @Html.DisplayNameFor(m => Model.CargoDescripcion)
                                </strong>
                                @Html.DisplayFor(m => Model.CargoDescripcion)
                            </div>
                            <div class="input-field col s12 m5 l5">
                                <strong>
                                    @Html.DisplayNameFor(m => Model.CalidadDescripcion)
                                </strong>
                                @Html.DisplayFor(m => Model.CalidadDescripcion)
                            </div>
                            <div class="input-field col s12 m5 l5">
                                <strong>
                                    @Html.DisplayNameFor(m => Model.GradoDescripcion)
                                </strong>
                                @Html.DisplayFor(m => Model.GradoDescripcion)
                            </div>
                            <div class="input-field col s12 m5 l5">
                                <strong>
                                    @Html.DisplayNameFor(m => Model.EstamentoDescripcion)
                                </strong>
                                @Html.DisplayFor(m => Model.EstamentoDescripcion)
                            </div>
                            <div class="input-field col s12 m5 l5">
                                <strong>
                                    @Html.DisplayNameFor(m => Model.ProgramaDescripcion)
                                </strong>
                                @Html.DisplayFor(m => Model.ProgramaDescripcion)
                            </div>
                            <div class="input-field col s12 m5 l5">
                                <strong>
                                    @Html.DisplayNameFor(m => Model.ConglomeradoDescripcion)
                                </strong>
                                @Html.DisplayFor(m => Model.ConglomeradoDescripcion)
                            </div>
                        </div>

                        <h3><span style="font-weight: bold">II. Datos de la Solicitud: </span></h3>
                        <div class="row">
                            <div class="input-field col s12 m8 l12">
                                <strong>
                                    <span>@Html.DisplayNameFor(m => Model.FinanciaOrganismo)</span>
                                </strong>
                                @string.Format("{0}", Model.FinanciaOrganismo.Value ? "SI" : "NO")
                            </div>
                            <div class="input-field col s12 m8 l13">
                                <strong>
                                    <span>@Html.DisplayNameFor(m => Model.Alojamiento)</span>
                                </strong>
                                @string.Format("{0}", Model.Alojamiento ? "SI" : "NO")
                            </div>
                            <div class="input-field col s12 m8 l13">
                                <strong>
                                    <span>@Html.DisplayNameFor(m => Model.Alimentacion)</span>
                                </strong>
                                @string.Format("{0}", Model.Alimentacion ? "SI" : "NO")
                            </div>
                            <div class="input-field col s12 m8 l13">
                                <strong>
                                    <span>@Html.DisplayNameFor(m => Model.Pasajes)</span>
                                </strong>
                                @string.Format("{0}", Model.Pasajes ? "SI" : "NO")
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <strong>
                                    <span>
                                        <strong style="color:green">
                                            @Html.DisplayNameFor(m => Model.SolicitaViatico)
                                        </strong>
                                    </span>
                                </strong>
                                @string.Format("{0}", Model.SolicitaViatico ? "SI" : "NO")
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <strong>
                                    <span>@Html.DisplayNameFor(m => Model.ReqPasajeAereo)</span>
                                </strong>
                                @string.Format("{0}", Model.ReqPasajeAereo ? "SI" : "NO")
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <strong>
                                    <span>@Html.DisplayNameFor(m => Model.ReqPasajeTerrestre)</span>
                                </strong>
                                @string.Format("{0}", Model.ReqPasajeTerrestre ? "SI" : "NO")
                            </div>
                            <div id="divReembolso">
                                <div class="input-field col s12 m10 l10">
                                    <strong>
                                        <span>@Html.DisplayNameFor(m => Model.SolicitaReembolso)</span>
                                    </strong>
                                    @string.Format("{0}", Model.SolicitaReembolso ? "SI" : "NO")
                                </div>
                            </div>
                            <div class="input-field col s12 m4 l4">
                                <strong>
                                    <span>@Html.DisplayNameFor(m => Model.Vehiculo)</span>
                                </strong>
                                @string.Format("{0}", Model.Vehiculo ? "SI" : "NO")
                            </div>
                            <div class="input-field col s12 m4 l4">
                                <strong>
                                    @Html.DisplayNameFor(m => Model.TipoVehiculoDescripcion)
                                </strong>
                                @Html.DisplayFor(m => Model.TipoVehiculoDescripcion)
                            </div>
                            <div class="input-field col s12 m4 l4">
                                <strong>
                                    @Html.DisplayNameFor(m => Model.PlacaVehiculo)
                                </strong>
                                @Html.DisplayFor(m => Model.PlacaVehiculo)
                            </div>
                            <div class="input-field col s12 m4 l4">
                                <strong>
                                    @Html.DisplayNameFor(m => Model.VehiculoObservaciones)
                                </strong>
                                @Html.DisplayFor(m => Model.VehiculoObservaciones)
                            </div>
                        </div>

                        <h3><span style="font-weight: bold">III. Datos del Cometido: </span></h3>
                        <div class="row">
                            <div class="input-field col s12 m10 l10">
                                @Html.EditorFor(m => Model.NombreCometido)
                                @Html.LabelFor(m => Model.NombreCometido)
                                @Html.ValidationMessageFor(m => Model.NombreCometido, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                @Html.EditorFor(m => Model.CometidoDescripcion)
                                @Html.LabelFor(m => Model.CometidoDescripcion)
                                @Html.ValidationMessageFor(m => Model.CometidoDescripcion, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field col s12 m10 l10">
                                <span class="card-title">Destinos</span>
                            </div>
                            @if (Model.Destinos.Count > 0)
                            {
                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Destinos.FirstOrDefault().RegionDescripcion)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Destinos.FirstOrDefault().ComunaDescripcion)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Destinos.FirstOrDefault().NombreLocalidad)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Destinos.FirstOrDefault().FechaInicio)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Destinos.FirstOrDefault().FechaHasta)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().Dias100)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().Dias60)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().Dias40)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().Dias00)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().Dias50)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(m => Model.Destinos.FirstOrDefault().Total)
                                        </th>
                                        <th></th>
                                    </tr>
                                    @for (int i = 0; i < Model.Destinos.ToArray().Length; i++)
                                    {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => Model.Destinos.ToArray()[i].RegionDescripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => Model.Destinos.ToArray()[i].ComunaDescripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => Model.Destinos.ToArray()[i].NombreLocalidad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => Model.Destinos.ToArray()[i].FechaInicio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => Model.Destinos.ToArray()[i].FechaHasta)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Dias100)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Dias60)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Dias40)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Dias00)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Dias50)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => Model.Destinos.ToArray()[i].Total)
                                    </td>
                                </tr>
                                        <tr>
                                            <td colspan="10">
                                                <b>
                                                    @Html.DisplayNameFor(modelItem => Model.Destinos.ToArray()[i].ObservacionesModificacion)
                                                </b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="10">
                                                @Html.DisplayFor(modelItem => Model.Destinos.ToArray()[i].ObservacionesModificacion)

                                            </td>
                                        </tr>
                                    }
                                </table>

                            }
                        </div>
                    </div>
                    <div class="section"></div>
                    @*@if (/*Model.Proceso.Anulada != true ||*/ Model.Proceso.Terminada != true)*@
                    @if (/*Model.Proceso.Anulada != true ||*/ Model.Proceso.EstadoProcesoId != (int)Enum.EstadoProceso.Terminado)
                    {
                        <a href='@Url.Action("Delete","Proceso", new { id = Model.Proceso.ProcesoId })' class="btn red">Anular Cometido</a>
                    }
                    //else if (Model.Proceso.Terminada == true && Model.Proceso.EstadoProcesoId == 3)
                    else if (Model.Proceso.EstadoProcesoId == (int)Enum.EstadoProceso.Terminado)
                    {
                        @*<a href='@Url.Action("Delete","Proceso", new { id = Model.Proceso.ProcesoId })' class="btn blue-gradient-button">Adjuntar Archivo</a>*@
                        /*Se cambia forma de anular un proceso terminado*/
                        @*<div class="row">
                            <a href="#modalCreate" class="btn-floating modal-trigger btn-large blue tooltipped" data-position="left" data-tooltip="Adjuntar archivo"><i class="large material-icons">attach_file</i></a>
                            @Html.Raw("<span>Adjuntar Archivo</span>")
                        </div>*@
                        <div class="section"></div>
                        <p>
                            @Html.ActionLink("Reiniciar Proceso", "Reiniciar", "Cometido", new { CometidoId = Model.CometidoId }, new { @class = "waves-effect waves-light btn blue" })                            
                        </p>
                    }
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            @Html.Action("Documents", "Workflow", new { Model.WorkflowId })
            @Html.Action("History", "Workflow", new { Model.WorkflowId })
        </div>
    </div>
</div>
<div class="fixed-action-btn">
    <a href="javascript:history.back()" class="btn-floating btn-large grey"><i class="large material-icons">chevron_left</i></a>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker();
        $('select').formSelect();
        $('input:hidden').each(function (index, element) {
            $(element).appendTo($(element).parent());
        });
        $('#divReembolso').hide(100); //oculta checkbox de reembolso
    });

    $(function () {
        $("#jQuery_accordion").accordion({
            collapsible: true, heightStyle: true

        });
    });


</script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui-git.css" rel="stylesheet" />
<style TYPE="text/css">
    strong {
        font-weight: bolder;
    }
</style>