@model App.Model.Cometido.ViaticoHonorario

<h3>Eliminar Viatico Honorario</h3>

<div class="card">
    <div class="card-content">
        @*<span class="card-title">Confirmar eliminación</span>*@
        <div class="row">
            <div class="input-field col s12 m10">
                <strong>@Html.DisplayNameFor(m => Model.Año)</strong>
                <p>@Html.DisplayFor(m => Model.Año)</p>
            </div>
            <div class="input-field col s12 m10">
                <strong>@Html.DisplayNameFor(m => Model.Desde)</strong>
                <p>@Html.DisplayFor(m => Model.Desde)</p>
            </div>
            <div class="input-field col s12 m10">
                <strong>@Html.DisplayNameFor(m => Model.Hasta)</strong>
                <p>@Html.DisplayFor(m => Model.Hasta)</p>
            </div>
            <div class="input-field col s12 m10">
                <strong>@Html.DisplayNameFor(m => Model.Porcentaje100)</strong>
                <p>@Html.DisplayFor(m => Model.Porcentaje100)</p>
            </div>
            <div class="input-field col s12 m10">
                <strong>@Html.DisplayNameFor(m => Model.Porcentaje60)</strong>
                <p>@Html.DisplayFor(m => Model.Porcentaje60)</p>
            </div>
            <div class="input-field col s12 m10">
                <strong>@Html.DisplayNameFor(m => Model.Porcentaje40)</strong>
                <p>@Html.DisplayFor(m => Model.Porcentaje40)</p>
            </div>
            <div class="input-field col s12 m10">
                <strong>@Html.DisplayNameFor(m => Model.Porcentaje50)</strong>
                <p>@Html.DisplayFor(m => Model.Porcentaje50)</p>
            </div>
            <div class="input-field col s12 m10">
                <strong>@Html.DisplayNameFor(m => Model.Tramo)</strong>
                <p>@Html.DisplayFor(m => Model.Tramo)</p>
            </div>
            <div class="input-field col s12 m10 l10">
                <label>
                    @Html.CheckBoxFor(m => m.Activo)
                    <span>@Html.LabelFor(m => Model.Activo)</span>
                </label>
            </div>
        </div>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(q => Model.ViaticoHonorarioId)

            <button class="waves-effect waves-light btn red" type="submit">Confirmar eliminación</button>
        }
    </div>
</div>
<div class="fixed-action-btn">
    <a href="javascript:history.back()" class="btn-floating btn-large grey"><i class="large material-icons">chevron_left</i></a>
</div>
