@model App.Model.Cometido.TipoPartida

<h3>Eliminar Tipo Partida</h3>

<div class="card">
    <div class="card-content">
        @*<span class="card-title">Confirmar eliminación</span>*@
        <div class="row">
            <div class="input-field col s12 m10">
                <strong>@Html.DisplayNameFor(m => Model.TpaNombre)</strong>
                <p>@Html.DisplayFor(m => Model.TpaNombre)</p>
            </div>
            <div class="input-field col s12 m10 l10">
                <label>
                    @Html.CheckBoxFor(m => m.TpaActivo)
                    <span>@Html.LabelFor(m => Model.TpaActivo)</span>
                </label>
            </div>
        </div>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(q => Model.TipoPartidaId)

            <button class="waves-effect waves-light btn red" type="submit">Confirmar eliminación</button>
        }
    </div>
</div>
<div class="fixed-action-btn">
    <a href="javascript:history.back()" class="btn-floating btn-large grey"><i class="large material-icons">chevron_left</i></a>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('input:hidden').each(function (index, element) {
            $(element).appendTo($(element).parent());
        });
    });
</script>
